<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
       <endpointUrl>http://logs-01.loggly.com/inputs/b2c5a051-3907-4a5a-b763-d3a7a03abbd7a/tag/logback</endpointUrl>
       <pattern>%d{"ISO8601", UTC}  %p %t %c{0}.%M - %m%n</pattern>
   </appender>
   
   
   
   <!-- Send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
   
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
 
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>c:/jcg.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
 
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.javacodegeeks.examples.logbackexample.beans" level="INFO" additivity="false">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE" />
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
   
   
</configuration>