a {
    
    color: black;
    text-decoration: none;
}

a:focus, a:hover {
    
    color: #ee4137;
    text-decoration: none;
    transition: ease-in-out .15s;
    
}

.form-control:focus {
 
    border-color: #ee4137;
    outline: 0;
    box-shadow: none;
}

.form-control {
    
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #9E9E9E;
    box-shadow: none;
    border-radius: 0;
    margin-top: 40px;
    padding: 0;
}

.form-group {
    
    margin-bottom: 0;
    
}

.btn-primary {
    
    color: #ee4137;
    background-color: #ee4137;
    border-color: #ee4137;
    transition: ease-in-out .15s
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover {
    
    color: #ee4137;
    background-color: #ee4137;
    border-color: #ee4137;
}

.btn-primary:focus {
    
    background-color: #ee4137;
    border-color: #ee4137;
}
.btn-primary:hover {
    
    color: #ffffff;
    background-color: #ee4137;
    border-color: #ee4137;
    
    transition: ease-in-out .15s;
   
}

.btn-primary:active {
    
    background-color: #ee4137;
    border-color: #ee4137;
}

img {
    margin-left:15px;
    height:150px;
}

html {
    
    font-family: 'Open Sans'
}

body { 
    
    font-family: 'Open Sans'
}

.text-center {
    
    font-weight:500;
}

.btn {
    
    margin-right: 135px;
    font-weight:500;
    padding: 8px 22px;
    font-size:16px;
    margin-top:40px;
    border: 2px solid #ee4137;
    border-radius: 25px;
    background-color: rgba(238, 81, 55, 0);
    text-transform: uppercase;
}

label {
    
    font-weight:400;
    margin-top: 5px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g3r0uw');
  src:  url('../fonts/icomoon.eot?g3r0uw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g3r0uw') format('truetype'),
    url('../fonts/icomoon.woff?g3r0uw') format('woff'),
    url('../fonts/icomoon.svg?g3r0uw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before, [class="icon-nav-bar-logo"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-bar-logo:before {
  content: "\e900";
    font-size: 35pt;
    color: black;
}



.how-can-we-help {
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 6px;
}

.navbar-nav>li>a {
    padding-top: 27px;
}

.navbar-default .navbar-nav>li>a:hover  {
    color: #ee4137;
    
}

.fa-3x {
    color: #777;
}

p {
padding-top: 10px;
    
}

.country-name {
    border: 1px solid #9E9E9E;
}
