<table id="default-variables-table" class="table table-hover">
    <thead>
        <th class="col-xs-5">${labels["variable"]}</th>
        <th class="col-xs-6">${labels["value"]}</th>
        <th class="col-xs-1 text-center">${labels["remove"]}</th>
    </thead>
    <tbody>
        <#list serviceInstance.environmentVariables as environmentVariable>
            <tr>
                <input type="hidden" name="locked" id="locked" value="${(environmentVariable.locked?c)!}" />
                <td>
                    <#if ! environmentVariable.locked>
                        <input type="text" class="form-control" name="variable" id="variable" autofocus="" value="${(environmentVariable.variable)!}" />
                    </#if>
                    <#if environmentVariable.locked>
                        <input type="hidden" name="variable" id="variable" value="${(environmentVariable.variable)!}" />
                        ${(environmentVariable.variable)!}
                    </#if>
                </td>
                <td>
                    <#if environmentVariable.environmentVariableValues?? && environmentVariable.environmentVariableValues?size !=0>
                        <select id="value" name="value" class="form-control" value="${(environmentVariable.value)!}">
                            <#list environmentVariable.environmentVariableValues?sort_by("value") as environmentVariableValue>
                                <option value="${environmentVariableValue.name}">${environmentVariableValue.value}</option>
                            </#list>
                        </select>
                    </#if>

                    <#if ! environmentVariable.environmentVariableValues?? || environmentVariable.environmentVariableValues?size==0>
                        <input type="text" class="form-control" name="value" id="value" value="${(environmentVariable.value)!}" />
                    </#if> 
                    
                </td>
                <td class="text-center">
                     <#if environmentVariable.locked>
                        <span class="icon icon-lock fa-1x"></span>
                    </#if>
                    <#if ! environmentVariable.locked>
                        <a href="#" class="removeInstanceVariable"><span class="icon icon-cross fa-1x"></span></a>
                    </#if>
                </td>
            </tr>
        </#list>
    </tbody>
</table>

<div class="pull-right">
    <#if successMessage??>
        <p id="success-message-default" class="text-success">
            ${successMessage!}
        </p>
    </#if>
</div>