<tr id="${(environment.name)!}" >
    <td>${(environment.name)!}</td>
    <td>${(environment.label)!}</td>
    <td>${(environment.organization)!}</td>
    <td>${(environment.endpoint)!}</td>
    <td>${(environment.status)!}</td>
    <td class="text-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="actionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="actionMenu">
                <li><a href="" class="test-connection" data-id="${(environment.name)!}">${labels["test.connection"]}</a></li>
            </ul>
        </div>
    </td>
</tr>