<table id="sobjects" class="table table-hover">
    <thead>
        <th class="col-xs-1"></th>
        <th class="col-xs-5">${labels["name"]}</th>
        <th class="col-xs-6">${labels["name"]}</th>
    </thead>
    <tbody>
        <#if salesforceConnector.sobjects?has_content>
            <#list salesforceConnector.sobjects as sobject>
                <#if sobject.triggerable && sobject.searchable>
                    <tr>
                        <td>
                            <input type="checkbox" value="${sobject.name}" name="sobject">
                        </td>
                        <td>
                            ${sobject.label}
                        </td>
                        <td></td>
                    </tr>
                </#if>
            </#list>
        </#if>
    </tbody>
</table>