<div id="sobjects" class="container-fluid">
    <div class="row">
        <#if sobjects?has_content>
            <#list sobjects as sobject>
                <#if sobject.triggerable && sobject.searchable>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="checkbox custom-control custom-checkbox">
                            <label>
                                <input type="checkbox" value="${sobject.name}" name="sobject">
                                <span class="custom-control-indicator"></span>
                                <p>${sobject.label}</p>
                            </label>
                        </div>
                    </div>
                </#if>
            </#list>
        </#if>
    </div>
</div>