<table id="sobjects" class="table table-hover">
    <thead>
        <th class="col-xs-5">${labels["name"]}</th>
        <th class="col-xs-1">Create</th>
        <th class="col-xs-1">Update</th>
        <th class="col-xs-1">Delete</th>
    </thead>
    <tbody>
        <#if serviceInstance.eventListeners?has_content>
            <#list serviceInstance.eventListeners as sobject>
                <#if sobject.triggerable >
                    <tr>
                        <td>
                            <a href="#" class="get-query" data-id="${sobject.name}">${sobject.label}</a>
                            <input type="hidden" id="sobject" name="sobject" value="${sobject.name}" />
                        </td>
                        <td>
                            <input type="checkbox" id="create" name="create" value="${sobject.name}">
                        </td>
                        <td>
                            <input type="checkbox" id="update" name="update" value="${sobject.name}">
                        </td>
                        <td>
                            <input type="checkbox" id="delete" name="delete" value="${sobject.name}">
                        </td>
                    </tr>
                </#if>
            </#list>
        </#if>
    </tbody>
</table>