<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />

        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["user.profile"]}</h3>
                    </div>
                    <div class="flextable-item">
                        <a href="#profileDialog" class="profile-dialog btn btn-primary" role="button" data-toggle="modal" data-title="${labels['edit.user.profile']}">${labels["edit.user.profile"]}</a>
                    </div>
                </div>
                <br>
                <div class="hr-divider"></div>
            </div>
            <div class="row">
                <br>
                <div id="status-message"></div>
                <br>
                <br>
                <div class="col-md-2">
                    <div>
                        <img src="${(accountProfile.photos.profilePicture)!}" class="img-circle img-responsive center-block" alt="/images/person-generic.jpg">
                    </div>
                    <br>
                    <#if (accountProfile.photos.profilePicture)! !='/images/person-generic.jpg'>
                        <div class="text-center">
                            <a href="#" id="clickable" class="btn btn-primary center" role="button"> <i id="spinner" class="fa fa-spinner fa-spin"></i>${labels["delete"]}
                            </a>
                        </div>
                    </#if>

                </div>

                <div class="col-md-10">

                    <dl class="dl-horizontal">
                        <dt>${labels["first.name"]}</dt>
                        <dd>${accountProfile.firstName!}</dd>
                        <dt>${labels["last.name"]}</dt>
                        <dd>${accountProfile.lastName!}</dd>
                        <dt>${labels["company"]}</dt>
                        <dd>${accountProfile.company!}</dd>
                        <dt>${labels["division"]}</dt>
                        <dd>${accountProfile.division!}</dd>
                        <dt>${labels["department"]}</dt>
                        <dd>${accountProfile.department!}</dd>
                        <dt>${labels["title"]}</dt>
                        <dd>${accountProfile.title!}</dd>
                        <dt>${labels["fax"]}</dt>
                        <dd>${accountProfile.fax!}</dd>
                        <dt>${labels["mobile.phone"]}</dt>
                        <dd>${accountProfile.mobilePhone!}</dd>
                        <dt>${labels["phone"]}</dt>
                        <dd>${accountProfile.phone!}</dd>
                        <dt>${labels["extension"]}</dt>
                        <dd>${accountProfile.extension!}</dd>
                    </dl>

                    <br>

                    <div class="hr-divider">
                        <h3 class="hr-divider-content hr-divider-heading">${labels["address"]}</h3>
                    </div>

                    <br>

                    <dl class="dl-horizontal">
                        <dt>${labels["street"]}</dt>
                        <dd>${accountProfile.address.street!}</dd>
                        <dt>${labels["city"]}</dt>
                        <dd>${accountProfile.address.city!}</dd>
                        <dt>${labels["state"]}</dt>
                        <dd>${accountProfile.address.state!}</dd>
                        <dt>${labels["zip.postal.code"]}</dt>
                        <dd>${accountProfile.address.postalCode!}</dd>
                        <dt>${labels["country"]}</dt>
                        <dd>${accountProfile.address.countryCode!}</dd>
                    </dl>

                </div>

            </div>
            <div class="row">

                <br>


                <br>
                <br>
                <br>

                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["payment.methods"]}</h3>
                    </div>
                    <div class="flextable-item">

                        <a href="${labels['base.path']}/${accountProfile.id}/payment-methods/new" , id="add-card" class="btn btn-primary" role="button">${labels["add.payment.method"]}</a>

                    </div>
                </div>

                <br>
                <div class="hr-divider"></div>
                <br>

                <div class="content table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>${labels["card.type"]}</th>
                            <th class="text-center">${labels['primary']}</th>
                            <th>${labels["name.on.card"]}</th>
                            <th>${labels["expires.on"]}</th>
                            <th>${labels["action"]}</th>
                        </thead>
                        <tbody>
                            <#list accountProfile.creditCards?sort_by( "cardType") as creditCard>
                                <tr id="${creditCard.token}">
                                    <td><img src="${(creditCard.imageUrl)!}" />&nbsp;${(creditCard.cardType)!} ${labels["ending.in"]} ${(creditCard.lastFour)!}</td>
                                    <td class="text-center">
                                        <#if creditCard.primary><span class="icon icon-check"></span></#if>
                                    </td>
                                    <td>${creditCard.cardholderName}</td>
                                    <td>${(creditCard.expirationMonth)!}/${(creditCard.expirationYear)!}</td>
                                    <td><a href="#" class="" title="${labels['edit']}" data-toggle="modal" data-title="${labels['edit']}"><span class="icon icon-edit"></span></a>
                                        <#if ! creditCard.primary>
                                            &nbsp;
                                            <a href="" class="confirm-delete" title="${labels['delete']}" data-toggle="modal" aria-hidden="true" data-id="${creditCard.token}" data-title="${labels['remove.card']}" data-message="${(creditCard.cardType)!} ${labels['ending.in']} ${(creditCard.lastFour)!}"><span class="icon icon-trash"></span></a></#if>
                                    </td>
                                </tr>
                            </#list>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <#include "account-profile-edit.html"/>
        <#include "confirm-dialog.html"/>
        <#include "spinner.html"/>

        <script>
            var accountProfile = {
                basePath: "${labels['base.path']}",
                id: "${accountProfile.id!}",
                firstName: "${accountProfile.firstName!}",
                lastName: "${accountProfile.lastName!}",
                street: "${(accountProfile.address.street)!}",
                city: "${(accountProfile.address.city)!}",
                state: "${(accountProfile.address.state)!}",
                postalCode: "${(accountProfile.address.postalCode)!}",
                countryCode: "${(accountProfile.address.countryCode)!}"
            }
            jQuery.data(document.body, "accountProfile", accountProfile);
        </script>

        <script src="/js/account-profile.js"></script>

    </@t.page>