<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${userProfile}</h6>
                        <h2 class="dashhead-title">${accountProfile.name!}</h2>
                    </div>

                    <div class="dashhead-toolbar">
                        <p class="pull-right">
                            <a href="#profileDialog" class="profile-dialog btn btn-lg btn-primary-outline" role="button" data-toggle="modal" data-title="${editUserProfile}">${edit}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="hr-divider">
                
            </div>

            <br>

            <div class="row">
                <div class="col-sm-2">
                    
                </div>

                <div class="col-sm-8">

                    <div class="col-md-2">
                        <div>
                            <img src="${(accountProfile.photos.profilePicture)!}" class="img-circle img-responsive center-block" alt="/images/person-generic.jpg">
                        </div>
                        <br>
                        <#if (accountProfile.photos.profilePicture)! !='/images/person-generic.jpg'>
                            <div class="text-center">
                                <a href="#" id="clickable" class="btn btn-primary center" role="button"> <i id="spinner" class="fa fa-spinner fa-spin"></i>${delete}
                                </a>
                            </div>
                        </#if>

                    </div>

                    <div class="col-md-10">

                        <dl class="dl-horizontal">
                            <dt>${firstName}</dt>
                            <dd>${accountProfile.firstName!}</dd>
                            <dt>${lastName}</dt>
                            <dd>${accountProfile.lastName!}</dd>
                            <dt>${company}</dt>
                            <dd>${accountProfile.company!}</dd>
                            <dt>${division}</dt>
                            <dd>${accountProfile.division!}</dd>
                            <dt>${department}</dt>
                            <dd>${accountProfile.department!}</dd>
                            <dt>${title}</dt>
                            <dd>${accountProfile.title!}</dd>
                            <dt>${fax}</dt>
                            <dd>${accountProfile.fax!}</dd>
                            <dt>${mobilePhone}</dt>
                            <dd>${accountProfile.mobilePhone!}</dd>
                            <dt>${phone}</dt>
                            <dd>${accountProfile.phone!}</dd>
                            <dt>${extension}</dt>
                            <dd>${accountProfile.extension!}</dd>
                        </dl>

                        <br>

                        <div class="hr-divider">
                            <h3 class="hr-divider-content hr-divider-heading">${address}</h3>
                        </div>

                        <br>

                        <dl class="dl-horizontal">
                            <dt>${address}</dt>
                            <dd>${accountProfile.address.street!}</dd>
                            <dt>${city}</dt>
                            <dd>${accountProfile.address.city!}</dd>
                            <dt>${state}</dt>
                            <dd>${accountProfile.address.state!}</dd>
                            <dt>${zipPostalCode}</dt>
                            <dd>${accountProfile.address.postalCode!}</dd>
                            <dt>${country}</dt>
                            <dd>${accountProfile.address.countryCode!}</dd>
                        </dl>

                    </div>
                </div>
                 <div class="col-sm-2">
                    
                </div>
            </div>
        </div>

        <#include "account-profile-edit.html"/>

        <script>
            $(document).ready(function(e) {
                $('#clickable').click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        type: "DELETE",
                        url: "/app/account-profile/picture",
                        success: function() {
                            location.reload();
                        }
                    });
                });
            });
            
        </script>

    </@t.page>