<ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">${labels["administration"]}</li>
    <li>
        <a href="${labels['base.path']}/properties" title="${labels['properties']}" data-toggle="tooltip" data-placement="right" data-container="body">
            <div>
                <span class="iconav-nav-label">${labels["properties"]}</span>
            </div>
        </a>
        <a href="${labels['base.path']}/cache" title="${labels['cache']}" data-toggle="tooltip" data-placement="right" data-container="body">
            <div>
                <span class="iconav-nav-label">${labels["cache"]}</span>
            </div>
        </a>
    </li>
</ul>