<#import "template.html" as t>

    <@t.page>

        <div class="wrapper">

            <#include "sidebar.html" />

            <div class="main-panel">

                <#include "navbar.html" />

                <div class="content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="card card-plain">
                                    <div class="header">
                                        <h4 class="title">${applications}</h4>
                                         <p class="pull-right">
                                            <a href="/app/applications/types" class="btn btn-default" role="button">${addApplication}</a>
                                        </p>
                                    </div>

                                    <div class="content table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <th>${name}</th>
                                                <th>${type}</th>
                                                <th>${phone}</th>
                                                <th>${sandbox}</th>
                                                <th>${action}</th>
                                            </thead>
                                            <tbody>

                                                <#if applicationList??>

                                                    <#list applicationList as application>
                                                        <tr>
                                                            <td>${application.name}</td>
                                                            <td>${application.type}</td>
                                                            <td>${application.phone}</td>
                                                            <td>${application.isSandbox}</td>
                                                            <td></td>

                                                        </tr>
                                                    </#list>

                                                </#if>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-3"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <#include "footer.html" />
            </div>
        </div>
    </@t.page>
