<#import "template.html" as t>

    <@t.page>

        <div class="wrapper">

            <#include "sidebar.html" />

            <div class="main-panel">

                <#include "navbar.html" />

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="panel-title panel-primary">${available} ${applications}</h4>
                                    </div>
                                    <div class="content">
                                        <div class="media">
                                            <div class="media-left">
                                                <img class="media-object" src="/images/salesforce-logo.png">
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">${salesforce}</h4>
                                                <i class="fa fa-lg fa-money"></i>&nbsp;<span class="badge">0.00</span>
                                            </div>
                                            <div class="media-right">
                                                <a href="/app/salesforce/oauth">${authenticate}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <#include "footer.html" />
            </div>
        </div>

    </@t.page>