<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h4 class="title">${available} ${types}</h4>
                    </div>
                </div>
            </div>

            <div class="hr-divider m-t m-b-md">
                <h3 class="hr-divider-content hr-divider-heading" />
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="thumbnail">
                            <img src="/images/salesforce-logo.png">
                            <div class="caption">
                                <h3>${salesforce}</h3>
                                <p><a href="/app/applications/configure/salesforce" class="btn btn-primary" role="button">${add}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>

    </@t.page>