<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h4 class="title">${available} ${types}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="statcard statcard-primary p-a-md m-b">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="/images/salesforce-logo.png">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/app/applications/configure/salesforce">${salesforce}</a></h4> <span class="icon icon-credit" />&nbsp;
                                <h3 class="statcard-number">0.00</h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6"></div>
            </div>
        </div>

        <#include "footer.html" />

    </@t.page>