<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h2 class="title">${createApplication}</h2>
                    </div>
                </div>
            </div>

            <br>

            <div class="hr-divider">

            </div>

            <br>

            <div class="col-lg-3 col-md-3 col-sm-3">
                <#include "sidebar.html" />
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9">

                <form class="form-horizontal" id="form" role="form" method="post">
                    
                    <input type="hidden" name="sourceId" id="sourceId" value="${application.sourceId!}" />

                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2 col-lg-2" for="name">${name}</label>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <input type="text" class="form-control input-lg" name="name" id="name" autofocus="" value="${application.name!}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2 col-lg-2" for="type">${type}</label>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <select id="type" name="type" class="form-control input-lg" required>
                                <option value="" selected="selected">--- ${selectOne} ---</option>
                                <#list connectionTypesList as connectionType>
                                    <option value="${connectionType.name}"><i class="flag-icon flag-icon-us"></i>&nbsp;${connectionType.description}</option>
                                </#list>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2 col-lg-2" for="sourceName">${source}</label>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <input type="text" class="form-control input-lg" name="sourceName" id="sourceName" value="${application.sourceName!}" readonly="readonly" />
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <a href="#sourceDialog" data-toggle="modal"><i class="fa fa-search fa-2x"></i></a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class=" col-sm-6 col-md-6 col-lg-6">
                            <div class="pull-right">
                                <a href="/app/applications">${cancel}</a>&nbsp;
                                <button type="submit" name="save" id="save" class="btn btn-primary btn-lg">${save}</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Modal Dialog -->
            <div class="modal fade" id="sourceDialog" role="dialog" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <form class="form-vertical" role="form" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">${connectors}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="content table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th></th>
                                            <th>${organization}</th>
                                            <th>${instanceName}</th>
                                            <th>${displayName}</th>
                                            <th>${username}</th>
                                            <th>${action}</th>
                                        </thead>
                                        <tbody>
                                            <#list salesforceConnectorsList as salesforceConnector>
                                                <tr id="${salesforceConnector.id}">
                                                    <td><img src="${salesforceConnector.identity.photos.thumbnail}" class="img-circle img-responsive center-block"></td>
                                                    <td>${salesforceConnector.organization.name}</td>
                                                    <td>${salesforceConnector.organization.instanceName}</td>
                                                    <td>${salesforceConnector.identity.displayName}</td>
                                                    <td>${salesforceConnector.identity.username}</td>
                                                    <td>
                                                        <a href="" class="selectDialog" id="select" data-id="${salesforceConnector.id}" data-name="${salesforceConnector.organization.name}" data-dismiss="modal">
                                                            ${select}
                                                        </a>
                                                    </td>
                                                </tr>
                                            </#list>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" name="cancel" id="cancel" class="btn btn-default" data-dismiss="modal">${cancel}</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>

        <script>
            
            $('#select').click(function(e) {
                var id = $('#select').data('id');
                var message = $('#select').data('name');
                $('#sourceName').val(message);
                $('#sourceId').val(id);
            });
            
            $('#form').submit(function(e) {
                var data = $("#form").serialize()
                $.ajax({
                    type: "POST",
                    url: "/app/applications",
                    data: data,
                    success: function(data) {
                        //$('#success').show();
                    }
                });

                e.preventDefault();

            });
            
        </script>
        
    </@t.page>