<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${serviceInstance.providerName!}</h6>
                        <h2 class="dashhead-title">${labels["outbound.message.setup"]}</h2>
                    </div>
                </div>
            </div>

            <br>

            <div class="hr-divider">

            </div>

            <br>

            <div class="row">
                <div id="error" class="col-lg-12 col-md-12 col-sm-12">
                            
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <#include "salesforce-service-nav.html" />
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <!--
                        <form class="form-vertical" id="default-variables-form" role="form">
                            <div class="panel panel-default">
                                <div class="panel-heading">${labels["default.environment.variables"]}</div>
                                <div class="panel-body">
                                    <div class="content table-responsive">
                                        <#include "fragments/default-environment-variables-table.html" />
                                    </div>
                                    <div class="pull-right">
                                        <a id="addDefaultVariable" class="btn btn-success" role="button">${labels["add.variable"]}</a>&nbsp;
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
-->
                        <form class="form-vertical" id="instance-variables-form" role="form">
                            <input type="hidden" name="defaultEnvironment" id="defaulEnvironment" value="${(serviceInstance.defaultEnvironment)!}" />
                            <div class="panel panel-default">
                                <div class="panel-heading">${labels["instance.environment.variables"]}</div>
                                <div class="panel-body">
                                    <div class="content table-responsive">
                                        <#include "fragments/instance-environment-variables-table.html" />
                                    </div>
                                    <div class="pull-right">
                                        <a id="addInstanceVariable" class="btn btn-success" role="button">${labels["add.variable"]}</a>&nbsp;
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2">
                         <select id="environment" name="environment" class="form-control" value="${(serviceInstance.defaultEnvironment)!}" required="">
                            <option value="">--- ${labels["select.environment"]} ---</option>
                            <#list serviceInstance.environments?sort_by( "name") as environment>
                                <#if environment.active>
                                    <#if environment.name == (serviceInstance.defaultEnvironment)!"">
                                        <option value="${environment.name}" selected>${environment.label}</option>
                                    </#if>
                                    <#if environment.name != (serviceInstance.defaultEnvironment)!"">
                                         <option value="${environment.name}">${environment.label}</option>
                                    </#if>     
                                </#if>
                            </#list>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>
            $('#default-variables-form').submit(function(e) {
                var params = $("#default-variables-form").serialize();
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "/app/connectors/salesforce/connector/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables",
                    data: params,
                    success: function(data, status) {
                        $("#default-variables-table").html(data);
                        $("#success-message-default").fadeOut(3000);
                    },
                    error: function(data) {
                        $("#error").html(data.responseText);
                    }
                });

                e.preventDefault();

            });

            $('#instance-variables-form').submit(function(e) {
                var params = $("#instance-variables-form").serialize();
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "/app/connectors/salesforce/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables",
                    data: params,
                    success: function(data, status) {
                        $("#instance-variables-table").html(data);
                        $("#success-message-instance").fadeOut(3000);
                    },
                    error: function(data) {
                        $("#error").html(data.responseText);
                    }
                });

                e.preventDefault();

            });

            $("#environment").change(function() {
                $("#defaultEnvironment").val(this.value);
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "/app/connectors/salesforce/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables/".concat(this.value),
                    complete: function(data) {
                        $("#instance-variables-table").html(data.responseText);
                    }
                });
            });

            $('#addDefaultVariable').click(function() {
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "/app/connectors/salesforce/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables/add",
                    complete: function(data) {
                        $('#default-variables-table tbody').append(data.responseText);
                    }
                });
            });

            $('#addInstanceVariable').click(function() {
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "/app/connectors/salesforce/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables/add",
                    complete: function(data) {
                        $('#instance-variables-table tbody').append(data.responseText);
                    }
                });

            });

            $(document).on("click", 'a.removeInstanceVariable', function() {
                $(this).closest('tr').fadeTo(400, 0, function() {
                    $(this).remove();
                });
                return false;
            });

        </script>

    </@t.page>
