<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">
            <br>
            <div class="row">
                <div id="status-message"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <#include "salesforce-service-nav.html" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <form class="form-vertical" id="environment-variables-form" role="form">
                            <input type="hidden" name="defaultEnvironment" id="defaulEnvironment" value="${(serviceInstance.defaultEnvironment)!}" />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="flextable">
                                        <div class="flextable-item">
                                            <h3 class="panel-title">${labels["environment.variables"]}</h3>
                                        </div>
                                        <div class="flextable-item">
                                            <div class="pull-right">
                                                <select id="environment" name="environment" class="form-control" value="${(serviceInstance.defaultEnvironment)!}" required="">
                                                    <option value="">--- ${labels["select.environment"]} ---</option>
                                                    <#list serviceInstance.environments?sort_by( "name") as environment>
                                                        <#if environment.active>
                                                            <#if environment.name==( serviceInstance.defaultEnvironment)! "">
                                                                <option value="${environment.name}" selected>${environment.label}</option>
                                                            </#if>
                                                            <#if environment.name !=( serviceInstance.defaultEnvironment)! "">
                                                                <option value="${environment.name}">${environment.label}</option>
                                                            </#if>
                                                        </#if>
                                                    </#list>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="content table-responsive">
                                        <#include "fragments/environment-variables-table.html" />
                                    </div>
                                    <div class="pull-right">
                                        <a id="reset" name="reset" role="button">${labels["reset"]}</a>&nbsp;
                                        <a id="addEnvironmentVariable" name="add" class="btn btn-success" role="button">${labels["add.variable"]}</a>&nbsp;
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>

            $('#environment-variables-form').submit(function(e) {
                var params = $("#instance-variables-form").serialize();
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "${labels['base.path']}/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables",
                    data: params,
                    complete: function(data) {
                        $("#status-message").html(data.responseText);
                    }
                });

                e.preventDefault();

            });

            $("#environment").change(function() {
                $("#defaultEnvironment").val(this.value);
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "${labels['base.path']}/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables/".concat(this.value),
                    complete: function(data) {
                        $("#environment-variables-table").html(data.responseText);
                    }
                });
            });

            $('#addEnvironmentVariable').click(function() {
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "${labels['base.path']}/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables/add",
                    complete: function(data) {
                        $('#environment-variables-table tbody').append(data.responseText);
                    }
                });

            });

            $('#reset').click(function() {
                $.ajax({
                    dataType: "html",
                    type: "GET",
                    url: "${labels['base.path']}/${salesforceConnector.id!}/service/${serviceInstance.key!}/variables/${(serviceInstance.defaultEnvironment!)}",
                    complete: function(data) {
                        $('#environment-variables-table').html(data.responseText);
                    }
                });

            });

            $(document).on("click", 'a.removeEnvironmentVariable', function() {
                $(this).closest('tr').fadeTo(400, 0, function() {
                    $(this).remove();
                });
                return false;
            });
        </script>

    </@t.page>