<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />
        
        <div class="container">
        
        
        </div>

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${serviceInstance.providerName!}</h6>
                        <h2 class="dashhead-title">${labels["outbound.message.setup"]}</h2>
                    </div>
                </div>
            </div>

            <br>

            <div class="hr-divider">

            </div>

            <br>

            <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1">

                    <#include "salesforce-service-nav.html" />

                </div>

                <div class="col-sm-11">

                    <div id="statusMessage">

                    </div>

                    <div class="col-sm-10">

                        <div class="panel panel-default">
                            <div class="panel-heading">${labels["environments"]}</div>
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <b>${labels['name']}</b>
                                    </div>

                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <b>${labels['label']}</b>
                                    </div>

                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <b>${labels["active"]}</b>
                                    </div>

                                </div>

                                <form class="form-vertical" id="form" role="form">

                                    <#list serviceInstance.environments?sort_by("index") as environment>

                                        <div class="row">
                                            <input type="hidden" name="index" id="index" value="${(environment.index)!}" />

                                            <div class="form-group col-sm-2 col-md-2 col-lg-2">
                                                <#if ! environment.locked>
                                                    <input type="text" class="form-control" name="name" id="name" placeholder="${labels['name']}" value="${(environment.name)!}" />
                                                </#if>
                                                <#if environment.locked>
                                                    <input type="hidden" name="name" id="name" required="" value="${(environment.name)!}" />
                                                    <p class="form-control-static">${(environment.name)!}</p>
                                                </#if>
                                            </div>

                                            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                <#if ! environment.locked>
                                                    <input type="text" class="form-control" name="label" id="label" placeholder="${labels['label']}" value="${(environment.label)!}" />
                                                </#if>
                                                <#if environment.locked>
                                                    <input type="hidden" name="label" id="label" required="" value="${(environment.label)!}" />
                                                    <p class="form-control-static">${(environment.label)!}</p>
                                                </#if>
                                            </div>

                                            <div class="form-group col-sm-1 col-md-1 col-lg-1">
                                                <#if ! environment.locked>
                                                    <div class="checkbox custom-control custom-checkbox">
                                                        <label>
                                                            <#if (environment.active)!>
                                                                <input type="checkbox" name="active${environment?index}" id="active" checked>
                                                            </#if>
                                                            <#if ! (environment.active)!>
                                                                <input type="checkbox" name="active${environment?index}" id="active">
                                                            </#if>

                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                    </div>
                                                </#if>
                                                <#if environment.locked>
                                                    <input type="hidden" name="active${environment?index}" id="active" value="${(environment.active?then('on','off'))!}" />
                                                    <p class="form-control-static"><span class="icon icon-check"></span></p>
                                                </#if>
                                            </div>
                                        </div>

                                    </#list>

                                    <div class="pull-right">
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            </div>    
        </div>

        <#include "spinner.html" />

        <script>
            $('#form').submit(function(e) {
                var params = $("#form").serialize();
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "/app/connectors/salesforce/connector/${salesforceConnector.id!}/service/${serviceInstance.key!}/environments",
                    data: params,
                    complete: function(data) {
                        $("#statusMessage").html(data.responseText);
                    }
                });

                e.preventDefault();

            });
        </script>

    </@t.page>