<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${serviceInstance.providerName!}</h6>
                        <h2 class="dashhead-title">${labels["outbound.message.setup"]}</h2>
                    </div>
                </div>
            </div>

            <br>

            <div class="hr-divider">

            </div>

            <br>

            <div class="row">
                <div class="col-sm-1">

                    <#include "salesforce-service-nav.html" />

                </div>

                <div class="col-sm-11">

                    <div id="statusMessage">

                    </div>

                    <div class="col-sm-10">
                        <form class="form-vertical" id="form" role="form">


                            <div class="panel panel-default">
                                <div class="panel-heading">${labels["default.environment.variables"]}</div>
                                <div class="panel-body">

                                    <div class="content table-responsive">
                                        <table id="defaultVariables" class="table table-hover">
                                            <thead>
                                                <th>${labels["variable"]}</th>
                                                <th>${labels["value"]}</th>
                                                <th>${labels["remove"]}</th>
                                            </thead>
                                            <tbody>
                                                <#list serviceInstance.environmentVariables as variable>
                                                    <tr>
                                                        <#if ! variable.locked>
                                                            <td>
                                                                <input type="text" class="form-control" name="variable" id="variable" autofocus="" value="${(variable.variable)!}" />
                                                            </td>
                                                        </#if>
                                                        <#if variable.locked>
                                                            <td>${(variable.variable)!}</td>
                                                        </#if>
                                                        <#if ! variable.locked>
                                                            <td>
                                                                <input type="text" class="form-control" name="value" id="value" value="${(variable.value)!}" />
                                                            </td>
                                                        </#if>
                                                        <#if variable.locked>
                                                            <td>${(variable.value)!}</td>
                                                        </#if>
                                                        <td>
                                                            <#if ! variable.locked>
                                                                <a href="#" class="removeInstanceVariable"><span class="icon icon-cross fa-2x"></span></a>
                                                            </#if>
                                                        </td>
                                                    </tr>
                                                </#list>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="pull-right">
                                        <a id="addDefaultVariable" class="btn btn-success" role="button">${labels["add.variable"]}</a>&nbsp;
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>

                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">${labels["instance.environment.variables"]}</div>
                                <div class="panel-body">
                                    <div class="content table-responsive">
                                        <table id="instanceVariables" class="table table-hover">
                                            <thead>
                                                <th>${labels["variable"]}</th>
                                                <th>${labels["value"]}</th>
                                                <th>${labels["remove"]}</th>
                                            </thead>
                                            <tbody>
                                                <#list environment.environmentVariables as variable>
                                                    <tr>
                                                        <#if ! variable.locked>
                                                            <td>
                                                                <input type="text" class="form-control" name="variable" id="variable" autofocus="" value="${(variable.variable)!}" />
                                                            </td>
                                                        </#if>
                                                        <#if variable.locked>
                                                            <td>${(variable.variable)!}</td>
                                                        </#if>
                                                        <#if ! variable.locked>
                                                            <td>
                                                                <input type="text" class="form-control" name="value" id="value" value="${(variable.value)!}" />
                                                            </td>
                                                        </#if>
                                                        <#if variable.locked>
                                                            <td>${(variable.value)!}</td>
                                                        </#if>
                                                        <td>
                                                            <#if ! variable.locked>
                                                                <a href="#" class="removeInstanceVariable"><span class="icon icon-cross fa-2x"></span></a>
                                                            </#if>
                                                        </td>
                                                </#list>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="pull-right">
                                        <a id="addInstanceVariable" class="btn btn-success" role="button">${labels["add.variable"]}</a>&nbsp;
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                    <div class="col-sm-2">
                        <select id="environment" name="environment" class="form-control" value="${(serviceInstance.environment)!}" required="" autofocus="">
                            <option value="" selected="selected">--- ${labels["select.one"]} ---</option>
                            <#list serviceInstance.environments as environment>
                                <#if environment.active>
                                    <option value="${environment.name}">${environment.label}</option>
                                </#if>
                            </#list>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>
            $('#form').submit(function(e) {
                var params = $("#form").serialize();
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "/app/connectors/salesforce/connector/${id!}/service/${key!}/environments",
                    data: params,
                    complete: function(data) {
                        $("#statusMessage").html(data.responseText);
                    }
                });

                e.preventDefault();

            });

            $(function() {
                $('select[value]').each(function() {
                    $(this).val(this.getAttribute("value"));
                });
            });

            $("#environment").change(function() {
                alert("Handler for .change() called.");
            });

            $('#addDefaultVariable').click(function() {
                $('#defaultVariables tbody').append('<tr><td><input type="text" class="form-control" name="variable" id="variable" autofocus=""/>' 
                                                    + '</td><td><input type="text" class="form-control" name="value" id="value" /></td><td>'
                                                    + '<a href="#" class="removeInstanceVariable"><span class="icon icon-cross fa-2x"></span></a></span></td></tr>');
            });

            $('#addInstanceVariable').click(function() {
                $('#instanceVariables tbody').append('<tr><td><input type="text" class="form-control" name="variable" id="variable" autofocus=""/>' 
                                                    + '</td><td><input type="text" class="form-control" name="value" id="value" /></td><td>'
                                                    + '<a href="#" class="removeInstanceVariable"><span class="icon icon-cross fa-2x"></span></a></span></td></tr>');
            });

            $(document).on("click", 'a.removeInstanceVariable', function() {
                $(this).closest('tr').fadeTo(400, 0, function() {
                    $(this).remove();
                });
                return false;
            })

        </script>

    </@t.page>