<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">
            <br>
            <div class="row">
                <div id="status-message"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <#include "salesforce-service-nav.html" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form id="form" name="form">
                            <div class="flextable">
                                <div class="flextable-item flextable-primary">
                                    <b>${labels["default.environment"]}:</b>&nbsp;${(serviceInstance.defaultEnvironment)!}&nbsp;<a href="#" id="get-sobjects" name="get-sobjects"><span class="icon icon-download fa-2x"></span></a>
                                </div>
                                <div class="flextable-item">
                                    <button type="submit" name="submit" id="submit" class="btn btn-lg btn-primary-outline">${labels["save"]}</button>
                                </div>    
                            </div>
                            <br>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <#include "fragments/sobjects-table.html" />
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <#include "fragments/query-text.html" />
                                <div class="pull-right">
                                      <a id="test-query" name="testQuery" class="btn btn-success" role="button">${labels["test.query"]}</a>
                                </div>    
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>
            $('#get-sobjects').click(function(e) {
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/sobjects/${(serviceInstance.defaultEnvironment)!}",
                    type: "GET",
                    complete: function(data) {
                        $("#sobjects").html(data.responseText);
                    }
                });

                e.preventDefault();
            });

            $(document).on('click', '.get-query', function(e) {
                var id = $(this).data('id');
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/sobjects/${(serviceInstance.defaultEnvironment)!}/fields/" + id,
                    type: "GET",
                    complete: function(data) {
                        $("#query-text").html(data.responseText);
                    }
                });

                e.preventDefault();
            });
        </script>

    </@t.page>