<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">
            <br>
            <div class="row">
                <div id="status-message"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <#include "salesforce-service-nav.html" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">

                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">${labels["default.environment"]}</h6>
                            <h3 class="dashhead-title">${(serviceInstance.defaultEnvironment)!}</h3>
                            <a href="#" id="get-sobjects" name="get-sobjects"><span class="icon icon-download fa-2x"></span></a>
                        </div>
                        <div class="dashhead-toolbar">
                            <div class="dashhead-toolbar-item">
                                
                            </div>
                            <span class="dashhead-toolbar-divider hidden-xs"></span>
                            <div class="dashhead-toolbar-item">
                                <button type="submit" name="submit" id="submit" class="btn btn-lg btn-primary-outline">${labels["save"]}</button>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <#include "fragments/sobjects-table.html" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <#include "fragments/query-text.html" />
                        <div class="pull-right">
                            <a id="test-query" name="testQuery" class="btn btn-success" role="button">${labels["test.query"]}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>
            $('#get-sobjects').click(function(e) {
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/sobjects/${(serviceInstance.defaultEnvironment)!}",
                    type: "GET",
                    complete: function(data) {
                        $("#sobjects").html(data.responseText);
                    }
                });

                e.preventDefault();
            });

            $(document).on('click', '.get-query', function(e) {
                var id = $(this).data('id');
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/sobjects/${(serviceInstance.defaultEnvironment)!}/fields/" + id,
                    type: "GET",
                    complete: function(data) {
                        $("#query-text").html(data.responseText);
                    }
                });

                e.preventDefault();
            });
        </script>

    </@t.page>