<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">
            <br>
            <div class="row">
                <div id="status-message"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <#include "salesforce-service-nav.html" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <form id="form" name="form">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="flextable">
                                        <div class="flextable-item flextable-primary">
                                            <h3 class="panel-title">${labels["sobjects"]}</h3>
                                        </div>
                                        <div class="flextable-item">
                                            <div class="pull-right">
                                                <b>${labels["default.environment"]}:</b>&nbsp;
                                            </div>
                                        </div>
                                        <div class="flextable-item">
                                            <div class="pull-right">
                                                ${(serviceInstance.defaultEnvironment)!}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="content table-responsive">
                                        <#include "fragments/sobjects-table.html" />
                                    </div>
                                    <div class="pull-right">
                                        <a id="get-fields" name="get-fields" class="btn btn-success" role="button">${labels["get.fields"]}</a>&nbsp;
                                        <a id="get-sobjects" name="get-sobjects" class="btn btn-success" role="button">${labels["get.sobjects"]}</a>&nbsp;
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>
            $('#get-sobjects').click(function(e) {
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/sobjects/${(serviceInstance.defaultEnvironment)!}",
                    type: "GET",
                    complete: function(data) {
                        $("#sobjects").html(data.responseText);
                    }
                });

                e.preventDefault();
            });

            $('#get-fields').click(function(e) {
                var params = $("#form").serialize();
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/sobjects/${(serviceInstance.defaultEnvironment)!}/fields",
                    type: "GET",
                    data: params,
                    complete: function(data) {
                        $("#sobjects").html(data.responseText);
                    }
                });

                e.preventDefault();
            });
        </script>

    </@t.page>