<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-emphasized">
                ${applicationTitle}
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/app/start">
                            ${start}
                        </a>
                </li>
                <li>
                    <a href="/app/dashboard">
                            ${dashboard}
                        </a>
                </li>

                <li>

                    <a href="/app/salesforce/connectors">
                        ${connectors}
                    </a>

                </li>

                <li>
                    <a href="/app/applications">
                            ${applications}
                        </a>
                </li>
                <!--                
                <li>
                    <a href="/app/projects">
                            ${projects}
                        </a>
                </li>
-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/app/setup">
                            ${setup}
                        </a>
                </li>
                <li>
                    <a href="/app/account-profile">
                                ${(account.fullName)!}
                            </a>
                </li>
                <li>
                    <a href="/logout">
                                ${logOut}
                            </a>
                </li>

            </ul>

        </div>
    </div>
</nav>