<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-emphasized">
                ${applicationTitle}
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/app/start">
                        <span class="icon icon-star"></span>
                        <span class="iconav-nav-label">${start}</span>
                    </a>
                </li>
                <li>
                    <a href="/app/dashboard">
                        <span class="icon icon-gauge"></span>
                        <span class="iconav-nav-label">${dashboard}</span>
                    </a>
                </li>

                <li>

                    <a href="/app/connectors/salesforce">
                        <span class="icon icon-database"></span>
                        <span class="iconav-nav-label">${connectors}</span>
                    </a>

                </li>
                <!--    
                <li>
                    <a href="/app/applications">
                            ${applications}
                        </a>
                </li>
                            
                <li>
                    <a href="/app/projects">
                            ${projects}
                        </a>
                </li>
-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <#if account.groups.items?? >
                    <#list account.groups.items as group>
                    <#if group.name=="System Administrator">
                        <li>
                            <a href="/app/administration">
                            ${adminsitration}
                        </a>
                        </li>
                    </#if>
                </#list>
                </#if>
                

                <li>
                    <a href="/app/account-profile">
                                ${(account.fullName)!}
                            </a>
                </li>
                <li>
                    <a href="/logout">
                                ${logOut}
                            </a>
                </li>

            </ul>

        </div>
    </div>
</nav>