<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">${messages["payment.methods"]}</h6>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
                
                <br>
                
                <div id="main">
                    
                    <#if action=="new">
                        <#include "fragments/payment-method-new.html" />    
                    </#if>
                    
                    <#if ! action??>
                        <#include "fragments/payment-method-view.html" />    
                    </#if>
                
                </div>

            </div>

        </div>

        <#include "spinner.html" />
        <#include "confirm-dialog.html"/>

        <script>
            var accountProfile = {
                basePath: "${labels['base.path']}",
                id: "${accountProfile.id!}",
                firstName: "${accountProfile.firstName!}",
                lastName: "${accountProfile.lastName!}",
                street: "${(accountProfile.address.street)!}",
                city: "${(accountProfile.address.city)!}",
                state: "${(accountProfile.address.state)!}",
                postalCode: "${(accountProfile.address.postalCode)!}",
                countryCode: "${(accountProfile.address.countryCode)!}"
            }

            jQuery.data(document.body, "accountProfile", accountProfile);
        </script>

        <script src="/js/account-profile.js"></script>

    </@t.page>