<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">${messages["payment.methods"]}</h6>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
                <br>
                
                <div id="main">
                    <#include "fragments/payment-methods-page.html" />
                </div>
                
            </div>

            <!-- Modal Dialog -->
            <div class="modal fade" id="creditCardDialog" role="dialog" tabindex="-1" aria-labelledby="confirmLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <form class="form-vertical" role="form" method="post" action="/app/account-profile">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">

                                    <input type="hidden" name="id" id="id" value="${accountProfile.id!}" />

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="firstName">${labels["first.name"]}</label>
                                        <input type="text" class="form-control" name="firstName" id="firstName" autofocus="" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="street">${labels["street"]}</label>
                                        <input type="text" class="form-control" name="street" id="street" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="lastName">${labels["last.name"]}</label>
                                        <input type="text" class="form-control" name="lastName" id="lastName" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="city">${labels["city"]}</label>
                                        <input type="text" class="form-control" name="city" id="city" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="number">${labels["number"]}</label>
                                        <input type="text" class="form-control" name="number" id="number" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="state">${labels["state"]}</label>
                                        <input type="text" class="form-control" name="state" id="state" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="expiration">${labels["expiration.date"]}</label>
                                        <input type="text" class="form-control" name="expiration" id="expiration" />
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="postalCode">${labels["zip.postal.code"]}</label>
                                        <input type="text" class="form-control" name="postalCode" id="postalCode" />
                                    </div>

                                    <div class="form-group col-md-6">

                                    </div>

                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="countryCode">${labels["country"]}*</label>
                                        <select id="countryCode" name="countryCode" class="form-control" required>
                                            <option value="">${labels["select.one"]}</option>
                                            <#list countryList as country>
                                                <option value="${country.code}">${country.name}</option>
                                            </#list>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <#if errorMessage??>
                                        <div id="alert" class="alert alert-danger">
                                            <a class="close" data-dismiss="alert">×</a>
                                            <div class="text-center">${errorMessage}</div>
                                        </div>
                                    </#if>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="cancel" id="cancel" class="btn btn-default" data-dismiss="modal">${labels["cancel"]}</button>
                                <button type="submit" name="save" id="save" class="btn btn-primary pull-right">${labels["save"]}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <#include "spinner.html" />
        <#include "confirm-dialog.html"/>

        <script>
            var accountProfile = {
                basePath: "${labels['base.path']}",
                id: "${accountProfile.id!}",
                firstName: "${accountProfile.firstName!}",
                lastName: "${accountProfile.lastName!}",
                street: "${(accountProfile.address.street)!}",
                city: "${(accountProfile.address.city)!}",
                state: "${(accountProfile.address.state)!}",
                postalCode: "${(accountProfile.address.postalCode)!}",
                countryCode: "${(accountProfile.address.countryCode)!}"
            }

            jQuery.data(document.body, "accountProfile", accountProfile);
        </script>

        <script src="/js/account-profile.js"></script>

    </@t.page>