<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${projectLabel}</h6>
                        <h2 class="dashhead-title">${project.name!}</h2>
                    </div>

                    <div class="dashhead-toolbar">
                        <p class="pull-right">
                            <a href="#projectDialog" class="project-dialog btn btn-lg btn-primary-outline" role="button" data-toggle="modal" data-title="${editProject}">${edit}</a>
                            <a href="" class="confirm-delete btn btn-lg btn-default-outline" title="${delete}" data-toggle="modal" aria-hidden="true" data-id="${project.id}" data-message="${project.name}" data-title="${deleteMessage}">${delete}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="hr-divider m-t m-b-md">
                <h3 class="hr-divider-content hr-divider-heading" />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <label class="form-control-label">${name}</label>
                        <p class="form-control-static">${project.name}</p>
                        <hr>
                        
                        <label class="form-control-label">${stage}</label>
                        <p class="form-control-static">${project.stage}</p>
                        <hr>
                        
                        <label class="form-control-label">${owner}</label>
                        <p class="form-control-static">${project.owner}</p>
                        <hr>
                        
                        <label class="form-control-label">${description}</label>
                        <p class="form-control-static">${project.description}</p>
                        <hr>
                        <!--
                        <label class="form-control-label">${createdBy}</label>
                        <p class="form-control-static">${project.createdById} , ${project.createdDate?datetime}</p>
                        <hr>
                        
                        <label class="form-control-label">${lastModifiedBy}</label>
                        <p class="form-control-static">${project.lastModifiedById} , ${project.lastModifiedDate?datetime}</p>-->
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>

        <#include "confirm-dialog.html"/>
        <#include "project-edit.html"/>
        <#include "footer.html" />

    </@t.page>