<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">

            <div id="status-message"></div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="container">

                            <div class="content table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <th class="col-lg-2 col-md-2 col-sm-2">${labels["service.provider"]}</th>
                                        <th class="col-lg-6 col-md-6 col-sm-6">${labels["service.description"]}</th>
                                        <th class="col-lg-2 col-md-2 col-sm-2">${labels["plan"]}</th>
                                        <th class="col-lg-2 col-md-2 col-sm-2">${labels["price"]}</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>${(serviceProvider.type)!}</td>
                                            <td>${(service.description)!}</td>
                                            <td>${(plan.planName)!}</td>
                                            <td>${(plan.currencyIsoCode)!} ${(plan.unitPrice?string["0.00"])!} / ${(plan.billingFrequencyPer)!}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form>
                                    <div class="pull-right">
                                        <a href="${labels['base.path']}/${salesforceConnector.id}/providers" id="cancel" name="cancel" role="button">${labels["cancel"]}</a>&nbsp;
                                        <button name="place-order" id="place-order" class="btn btn-primary">${labels["place.order"]}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#place-order').click(function(e) {
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/providers/${serviceProvider.id}/service/${service.type}/plan/${plan.planName}",
                    complete: function(data) {
                        $("#status-message").html(data.responseText);
                    }
                });

                e.preventDefault();

            });
        </script>
    </@t.page>