<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle"></h6>
                            <h2 class="dashhead-title">${labels["review.service.plans"]}</h2>
                        </div>
                        <div class="dashhead-toolbar">
                            <p class="pull-right">
                                <a id="cancel" href="${labels['base.path']}/${salesforceConnector.id}" class="btn btn-primary-outline" role="button"><span class="icon icon-back"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <br>

            <div class="row">
                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <br>

                <#list service.plans?sort_by( "unitPrice")?reverse as plan>

                    <div class="col-sm-3 col-md-3">
                        <div class="panel">
                            <h2 class="text-info">${plan.planName}</h2>
                            <ul>
                                <li>${labels["transactions"]} ${plan.transactions}</li>
                                <li>${labels["support"]} ${plan.support}</li>
                            </ul>
                            <p></p>
                            <hr>
                            <h3 class="text-center">${plan.currencySymbol}${plan.unitPrice?string["0.00"]} / ${plan.billingFrequencyPer}</h3>
                            <hr>
                            <p><a class="btn btn-lg btn-block btn-default" href="${labels['base.path']}/${(salesforceConnector.id)!}/providers/${serviceProvider.id}/service/${service.type}/plan/${plan.code}">${labels["add.plan"]}</a></p>
                        </div>
                    </div>

                </#list>
            </div>

            <#include "spinner.html" />

        </div>


        <script>
            $('#place-order').click(function(e) {
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/providers/${serviceProvider.id}/service/${service.type}",
                    complete: function(data) {
                        $("#status-message").html(data.responseText);
                    }
                });

                e.preventDefault();

            });
        </script>

    </@t.page>