<ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">${labels["outbound.message"]}</li>
    <li>
        <a href="${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/details">
            <div>
                <span class="icon icon-info fa-2x" style="vertical-align: middle;"></span>
                <span class="iconav-nav-label">${labels["details"]}</span>
            </div>
        </a>
    </li>

    <li>
        <a href="${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/environments">
            <div>
                <span class="icon icon-list fa-2x" style="vertical-align: middle;"></span>
                <span class="iconav-nav-label">${labels["environments"]}</span>
            </div>
        </a>
    </li>

    <li>
        <a href="${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/variables">
            <div>
                <span class="icon icon-cog fa-2x" style="vertical-align: middle;"></span>
                <span class="iconav-nav-label">${labels["environment.variables"]}</span>
            </div>
        </a>
    </li>
    
    <li>
        <a href="${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/listeners">
            <div>
                <span class="icon icon-text-document fa-2x" style="vertical-align: middle;"></span>
                <span class="iconav-nav-label">${labels["event.listeners"]}</span>
            </div>    
        </a>
    </li>
    
     <li>
        <a href="${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/targets">
            <div>
                <span class="icon icon-drive fa-2x" style="vertical-align: middle;"></span>
                <span class="iconav-nav-label">${labels["targets"]}</span>
            </div>    
        </a>
    </li>
</ul>