<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${salesforceConnectorLabel}</h6>
                        <h2 class="dashhead-title">${(salesforceConnector.organization.name)!}</h2>
                    </div>
                    <div class="dashhead-toolbar">
                        <p class="pull-right">
                            <a href="/app/salesforce/connector/${salesforceConnector.id}/providers" class="btn btn-lg btn-primary-outline" role="button">${addService}</a>
                        </p>
                    </div>
                </div>
            </div>

            <br>

            <div class="hr-divider">
            </div>

            <br>

            <div class="row">
                <div class="col-sm-3">
                    <#include "sidebar.html" />
                </div>

                <div class="col-sm-9">

                    <div class="col-md-2">

                        <div>
                            <#if !(salesforceConnector)??>
                                <img src="/images/person-generic.jpg" class="img-circle img-responsive center-block" />
                            </#if>
                            <#if (salesforceConnector)??>
                                <img src="${(salesforceConnector.identity.photos.picture)!}" class="img-circle img-responsive center-block">
                            </#if>
                        </div>

                    </div>

                    <div class="col-md-10">
                        <dl class="dl-horizontal">

                            <dt>${id}</dt>
                            <dd>${(salesforceConnector.identity.id)!}</dd>

                            <dt>${name}</dt>
                            <dd>${(salesforceConnector.identity.displayName)!}</dd>

                            <dt>${username}</dt>
                            <dd>${(salesforceConnector.identity.username)!}</dd>

                            <dt>${email}</dt>
                            <dd>${(salesforceConnector.identity.email)!}</dd>

                            <dt>${street}</dt>
                            <dd>${(salesforceConnector.identity.addrStreet)!}</dd>

                            <dt>${city}</dt>
                            <dd>${(salesforceConnector.identity.addrCity)!}</dd>

                            <dt>${country}</dt>
                            <dd>${(salesforceConnector.identity.addrCountry)!}</dd>

                            <dt>${state}</dt>
                            <dd>${(salesforceConnector.identity.addrState)!}</dd>

                            <dt>${zipPostalCode}</dt>
                            <dd>${(salesforceConnector.identity.addrZip)!}</dd>

                            <dt>${mobilePhone}</dt>
                            <dd>${(salesforceConnector.identity.mobilePhone)!}</dd>

                            <dt>${language}</dt>
                            <dd>${(salesforceConnector.identity.language)!}</dd>

                            <dt>${locale}</dt>
                            <dd>${(salesforceConnector.identity.locale)!}</dd>

                            <dt>${userType}</dt>
                            <dd>${(salesforceConnector.identity.userType)!}</dd>

                            <dt>${userId}</dt>
                            <dd>${(salesforceConnector.identity.userId)!}</dd>
                            
                            <dt>${tag}</dt>
                            <dd>${(salesforceConnector.tag)!}</dd>

                        </dl>

                        <div class="hr-divider">

                        </div>

                        <br>

                        <dl class="dl-horizontal">

                            <dt>${name}</dt>
                            <dd>${(salesforceConnector.organization.name)!}</dd>

                            <dt>${phone}</dt>
                            <dd>${(salesforceConnector.organization.phone)!}</dd>

                            <dt>${primaryContact}</dt>
                            <dd>${(salesforceConnector.organization.primaryContact)!}</dd>

                            <dt>${organizationType}</dt>
                            <dd>${(salesforceConnector.organization.organizationType)!}</dd>

                            <dt>${division}</dt>
                            <dd>${(salesforceConnector.organization.division)!}</dd>

                            <dt>${instanceName}</dt>
                            <dd>${(salesforceConnector.organization.instanceName)!}</dd>

                            <dt>${fiscalYearStartMonth}</dt>
                            <dd>${(salesforceConnector.organization.fiscalYearStartMonth)!}</dd>

                            <dt>${defaultLocaleSidKey}</dt>
                            <dd>${(salesforceConnector.organization.defaultLocaleSidKey)!}</dd>

                            <dt>${languageLocaleKey}</dt>
                            <dd>${(salesforceConnector.organization.languageLocaleKey)!}</dd>

                            <dt>${organizationId}</dt>
                            <dd>${(salesforceConnector.organization.id)!}</dd>

                        </dl>

                        <div class="hr-divider">

                        </div>

                        <br>

                        <dl class="dl-horizontal">

                            <dt>${metadata}</dt>
                            <dd>${(salesforceConnector.identity.urls.metadata)!}</dd>

                            <dt>${partner}</dt>
                            <dd>${(salesforceConnector.identity.urls.partner)!}</dd>

                            <dt>${rest}</dt>
                            <dd>${(salesforceConnector.identity.urls.rest)!}</dd>

                            <dt>${sobjects}</dt>
                            <dd>${(salesforceConnector.identity.urls.sobjects)!}</dd>

                            <dt>${profile}</dt>
                            <dd>${(salesforceConnector.identity.urls.profile)!}</dd>

                            <dt>${query}</dt>
                            <dd>${(salesforceConnector.identity.urls.query)!}</dd>

                        </dl>

                    </div>

                    <div class="col-md-12">

                        <br>

                        <div class="hr-divider">
                            <h3 class="hr-divider-content hr-divider-heading">${services}</h3>
                        </div>

                        <br>

                        <div class="content table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>${type}</th>
                                    <th>${serviceName}</th>
                                    <th>${tag}</th>
                                    <th>${active}</th>
                                    <th>${action}</th>
                                </thead>
                                <tbody>
                                    <#list salesforceConnector.serviceInstances as service>
                                        <tr id="${service.key}">
                                            <td><a href="/app/salesforce/connector/${salesforceConnector.id}/service/${service.key}">${service.providerName}</a></td>
                                            <td>${service.serviceName}</td>
                                            <td>${service.tag!}</td>
                                            <td>${(service.isActive?then("Yes", "No"))!}</td>
                                            <td></td>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </@t.page>