<nav class="iconav">
    
    <div class="iconav-slider">

    <ul class="nav nav-pills iconav-nav">
        <li>
            <a href="/app/connectors/salesforce/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/details" title="${labels['details']}" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-info"></span>
                <br>
                <span class="iconav-nav-label">${labels["details"]}</span></a>
        </li>

        <li>
            <a href="/app/connectors/salesforce/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/environments" title="${labels['environments']}" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-list"></span>
                <br>
                <span class="iconav-nav-label">${labels["environments"]}</span></a>
        </li>

        <li>
            <a href="/app/connectors/salesforce/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/variables" title="${labels['environment.variables']}" data-toggle="tooltip" data-placement="right" data-container="body">
                <span class="icon icon-cog"></span>
                <br>
                <span class="iconav-nav-label">${labels["environment.variables"]}</span></a>
        </li>
    </ul>
        
    </div>    

</nav>