<#if ! sobjects?has_content>

    <#if errorMessage??>
        <div id="error" class="alert alert-danger">
            <a class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">${errorMessage!}</div>
        </div>
    </#if>

    <form class="form-horizontal" id="loginForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-lg-2" for="instance">${labels["instance"]}</label>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <select id="instance" name="instance" class="form-control input-lg" required="" autofocus="">
                    <option value="https://test.salesforce.com">${labels["sandbox"]}</option>
                    <option value="https://login.salesforce.com">${labels["production"]}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-lg-2" for="username">${labels["username"]}</label>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input type="text" class="form-control input-lg" name="username" id="username" required="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-lg-2" for="password">${labels["password"]}</label>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input type="password" class="form-control input-lg" name="password" id="password" required="" autocomplete="off" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2 col-md-2 col-lg-2" for="securityToken">${labels["security.token"]}</label>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <input type="password" class="form-control input-lg" name="securityToken" id="securityToken" required="" autocomplete="off" />
            </div>
        </div>

        <div class="form-group">
            <div class=" col-sm-6 col-md-6 col-lg-6">
                <div class="pull-right">
                    <button type="submit" name="login" id="login" class="btn btn-primary btn-lg">${labels["login"]}</button>
                </div>
            </div>
        </div>
    </form>

</#if>

<form class="form-horizontal" id="form" role="form" method="post" action="/app/connectors/salesforce/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/configuration">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">${labels["sandbox"]}</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">

                <dt>${labels["name"]}</dt>
                <dd>${(loginResult.organizationName)!}</dd>

                <dt>${labels["id"]}</dt>
                <dd>${(loginResult.id)!}</dd>

                <dt>${labels["username"]}</dt>
                <dd>${(loginResult.userName)!}</dd>

                <dt>${labels["auth.endpoint"]}</dt>
                <dd>${(loginResult.authEndpoint)!}</dd>

                <dt>${labels["service.endpoint"]}</dt>
                <dd>${(loginResult.serviceEndpoint)!}</dd>

            </dl>

            <div id="sobjects" class="container-fluid">
                <div class="row">
                    <#if sobjects?has_content>
                        
                        <#list sobjects as sobject>
                            <#if sobject.triggerable && sobject.searchable>
                                <div class="col-lg-3 col-md-3">
                                    <div class="checkbox custom-control custom-checkbox">
                                        <label>
                                            <input type="checkbox" value="${sobject.name}" name="sobject">
                                            <span class="custom-control-indicator"></span>
                                            <p>${sobject.label}</p>
                                        </label>
                                    </div>
                                </div>
                            </#if>
                        </#list>

                    </#if>

                </div>

            </div>

            <br>

            <div class="pull-right">
                <a href="/app/salesforce/connector/${(salesforceConnector.id)!}">${labels["cancel"]}</a>&nbsp;
                <a href="/app/salesforce/connector/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}">${labels["reset"]}</a>&nbsp;
                <button type="submit" name="submit" id="submit" class="btn btn-primary btn-lg">${labels["save"]}</button>
            </div>

        </div>

    </div>

    <div class="pull-right">
        <button type="submit" name="submit" id="submit" class="btn btn-primary btn-lg">${labels["submit.build"]}</button>
    </div>

</form>