<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h4 class="title">${salesforce}</h4>
                    </div>
                    <div class="dashhead-toolbar">
                        <p class="pull-right">
                            <a href="/app/salesforce/oauth" class="btn btn-lg btn-primary-outline" role="button">${signInToSalesforce}</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="hr-divider m-t m-b-md">
                <h3 class="hr-divider-content hr-divider-heading" />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        <div class="hr-divider">
                            <h3 class="hr-divider-content hr-divider-heading">
                                ${organizationInformation}
                            </h3>
                        </div>

                        <br>

                        <dl class="dl-horizontal">
                            <dt>${name}</dt>
                            <dd>${organization.name!}</dd>
                            <dt>${type}</dt>
                            <dd>${organization.organizationType!}</dd>
                            <dt>${instanceName}</dt>
                            <dd>${organization.name!}</dd>
                            <dt>${url}</dt>
                            <dd>${(organization.organizationContact.urls.rest)!}</dd>
                            <dt>${isSandbox}</dt>
                            <dd>${(organization.isSandbox?string('Yes', 'No'))!}</dd>
                        </dl>

                        <br>

                        <div class="hr-divider">
                            <h3 class="hr-divider-content hr-divider-heading">
                                ${contactInformation}
                            </h3>
                        </div>

                        <br>

                        <dl class="dl-horizontal">
                            <dt>${name}</dt>
                            <dd>${(organization.organizationContact.displayName)!}</dd>
                            <dt>${username}</dt>
                            <dd>${(organization.organizationContact.username)!}</dd>
                            <dt>${address}</dt>
                            <dd>${(organization.organizationContact.addrStreet)!}</dd>
                            <dt>${city}</dt>
                            <dd>${(organization.organizationContact.addrCity)!}</dd>
                            <dt>${state}</dt>
                            <dd>${(organization.organizationContact.addrState)!}</dd>
                            <dt>${postalCode}</dt>
                            <dd>${(organization.organizationContact.addrZip)!}</dd>
                            <dt>${country}</dt>
                            <dd>${(organization.organizationContact.addrCountry)!}</dd>
                        </dl>

                        <form class="form-vertical" role="form" method="post" action="/app/applications/configure/salesforce">
                            <input type="hidden" name="id" id="id" value="" />
                            <input type="hidden" name="type" id="type" value="SALESFORCE" />
                            <input type="hidden" name="organizationId" id="organizationId" value="${(organization.attributes.id)!}" />
                            <input type="hidden" name="organizationName" id="organizationName" value="${organization.name!}" />
                            <input type="hidden" name="organizationType" id="organizationType" value="${organization.organizationType!}" />
                            <input type="hidden" name="instanceName" id="instanceName" value="${organization.instanceName!}" />
                            <input type="hidden" name="isSandbox" id="isSandbox" value="${(organization.isSandbox?string)!}" />
                            <input type="hidden" name="url" id="url" value="${(organization.organizationContact.urls.rest)!}" />
                            <div class="pull-right">
                                <a href="/app/applications/types">${cancel}</a> &nbsp;

                                <button type="submit" name="submit" id="submit" class="btn btn-primary">${createApplication}</button>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <br>
            </div>
        </div>
        <br>
        <br>
    </@t.page>