<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container">

            <br>
            <br>
            <br>

            <div class="col-md-12">

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>


                <div id="success" class="alert alert-success collapse">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <div class="text-center">${(successMessage)!}</div>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">${salesforceConnectorLabel}</h4>
                    </div>

                    <div class="panel">
                        <div class="panel-body">

                            <row>

                                <div class="col-md-2">

                                    <div>
                                        <#if !(salesforceConnector)??>
                                            <img src="/images/person-generic.jpg" class="img-circle img-responsive center-block" />
                                        </#if>
                                        <#if (salesforceConnector)??>
                                            <img src="${(salesforceConnector.identity.photos.picture)!}" class="img-circle img-responsive center-block">
                                        </#if>
                                    </div>

                                </div>

                                <div class="col-md-10">

                                    <dl class="dl-horizontal">

                                        <dt>${id}</dt>
                                        <dd>${(salesforceConnector.identity.id)!}</dd>

                                        <dt>${name}</dt>
                                        <dd>${(salesforceConnector.identity.displayName)!}</dd>

                                        <dt>${username}</dt>
                                        <dd>${(salesforceConnector.identity.username)!}</dd>

                                        <dt>${email}</dt>
                                        <dd>${(salesforceConnector.identity.email)!}</dd>

                                        <dt>${street}</dt>
                                        <dd>${(salesforceConnector.identity.addrStreet)!}</dd>

                                        <dt>${city}</dt>
                                        <dd>${(salesforceConnector.identity.addrCity)!}</dd>

                                        <dt>${country}</dt>
                                        <dd>${(salesforceConnector.identity.addrCountry)!}</dd>

                                        <dt>${state}</dt>
                                        <dd>${(salesforceConnector.identity.addrState)!}</dd>

                                        <dt>${zipPostalCode}</dt>
                                        <dd>${(salesforceConnector.identity.addrZip)!}</dd>

                                        <dt>${mobilePhone}</dt>
                                        <dd>${(salesforceConnector.identity.mobilePhone)!}</dd>

                                        <dt>${language}</dt>
                                        <dd>${(salesforceConnector.identity.language)!}</dd>

                                        <dt>${locale}</dt>
                                        <dd>${(salesforceConnector.identity.locale)!}</dd>

                                        <dt>${userType}</dt>
                                        <dd>${(salesforceConnector.identity.userType)!}</dd>

                                        <dt>${userId}</dt>
                                        <dd>${(salesforceConnector.identity.userId)!}</dd>

                                    </dl>

                                    <div class="hr-divider m-t m-b-md">

                                    </div>

                                    <dl class="dl-horizontal">

                                        <dt>${name}</dt>
                                        <dd>${(salesforceConnector.organization.name)!}</dd>

                                        <dt>${phone}</dt>
                                        <dd>${(salesforceConnector.organization.phone)!}</dd>

                                        <dt>${primaryContact}</dt>
                                        <dd>${(salesforceConnector.organization.primaryContact)!}</dd>

                                        <dt>${organizationType}</dt>
                                        <dd>${(salesforceConnector.organization.organizationType)!}</dd>

                                        <dt>${division}</dt>
                                        <dd>${(salesforceConnector.organization.division)!}</dd>

                                        <dt>${instanceName}</dt>
                                        <dd>${(salesforceConnector.organization.instanceName)!}</dd>

                                        <dt>${fiscalYearStartMonth}</dt>
                                        <dd>${(salesforceConnector.organization.fiscalYearStartMonth)!}</dd>

                                        <dt>${defaultLocaleSidKey}</dt>
                                        <dd>${(salesforceConnector.organization.defaultLocaleSidKey)!}</dd>

                                        <dt>${languageLocaleKey}</dt>
                                        <dd>${(salesforceConnector.organization.languageLocaleKey)!}</dd>

                                        <dt>${organizationId}</dt>
                                        <dd>${(salesforceConnector.organization.id)!}</dd>

                                    </dl>

                                    <div class="hr-divider m-t m-b-md">

                                    </div>

                                    <dl class="dl-horizontal">

                                        <dt>${metadata}</dt>
                                        <dd>${(salesforceConnector.identity.urls.metadata)!}</dd>

                                        <dt>${partner}</dt>
                                        <dd>${(salesforceConnector.identity.urls.partner)!}</dd>

                                        <dt>${rest}</dt>
                                        <dd>${(salesforceConnector.identity.urls.rest)!}</dd>

                                        <dt>${sobjects}</dt>
                                        <dd>${(salesforceConnector.identity.urls.sobjects)!}</dd>

                                        <dt>${profile}</dt>
                                        <dd>${(salesforceConnector.identity.urls.profile)!}</dd>

                                        <dt>${query}</dt>
                                        <dd>${(salesforceConnector.identity.urls.query)!}</dd>

                                    </dl>
                                </div>
                            </row>

                            <br>

                            <form id='salesforceConnector' role="form" method="post">
                                <input type="hidden" id="id" name="id" value="${(salesforceConnector.identity.id)!}" />
                                <div class="pull-right">
                                    <a href="/app/providers">${cancel}</a>&nbsp;
                                    <#if (salesforceConnector)??>
                                        <button type="submit" name="save" id="save" class="btn btn-primary">${save}</button>
                                    </#if>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <#include "progress-bar-dialog.html" />

        <script>
            $('#salesforceConnector').submit(function(e) {
                var data = $("#salesforceConnector").serialize()
                $.ajax({
                    type: "POST",
                    url: "/app/salesforce/connector",
                    data: data,
                    success: function(data) {
                        $('#success').show();
                        window.setTimeout(function() {
                    $(".alert").alert('close');
                }, 2000);
                    }
                });

                e.preventDefault();
                

            });
        </script>

    </@t.page>