<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h2 class="dashhead-title">${cloudProviderServices}</h2>
                    </div>
                </div>
            </div>

            <div class="hr-divider m-t m-b-md">

            </div>
            <br>

            <div class="row">
                <div class="col-sm-3">
                    <#include "sidebar.html" />
                </div>
                <div class="col-sm-9">
                    <#list serviceProviders as serviceProvider>
                        <div class="col-lg-3 col-md-3 text-center">
                            <div>
                                <img src="${serviceProvider.image}">
                                <h3>${serviceProvider.displayName}</h3>
                                <br>
                                <h1 class="statcard-number">${serviceProvider.price?string.currency}</h1>
                                <br>
                                <br>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">${serviceProvider.service.name}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>${serviceProvider.service.description}</p>
                                        <p><b>${developedBy}:</b> ${serviceProvider.service.company}</p>
                                        <br>
                                        <a href="/app/providers/${serviceProvider.id}" class="btn btn-primary center" role="button">${select}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </#list>

                </div>
            </div>

    </@t.page>