<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">

                </div>
            </div>

            <br>

            <div class="container-fluid container-fluid-spacious">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                    </div>
                </div>
            </div>
        </div>
        
    </@t.page>