<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h2 class="dashhead-title">${labels["cloud.provider.services"]}</h2>
                    </div>
                </div>
            </div>

            <div class="hr-divider m-t m-b-md">

            </div>

            <br>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div id="statusMessage">

                    </div>

                    <div class="flextable">
                        <div class="flextable-item">
                            <a href="/app/connectors/salesforce/${id}"><span class="icon icon-back fa-2x">&nbsp;${organizationName}</span></a>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <#list serviceProviders as serviceProvider>
                            <div class="col-lg-3 col-md-3 col-sm-3 text-center">
                                <div>
                                    <img src="${serviceProvider.image}">
                                    <h3>${serviceProvider.name}</h3>
                                    <br>
                                    <h1 class="statcard-number">${serviceProvider.service.currencyIsoCode} ${serviceProvider.service.price?string["0.00"]}</h1>
                                    <br>
                                    <br>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">${serviceProvider.service.name}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>${serviceProvider.service.description}</p>
                                            <p><b>${labels["developed.by"]}:</b> ${serviceProvider.service.company}</p>
                                            <br>
                                            <form id="form" role="form" method="post">
                                                <input type="hidden" name="serviceProviderId" id="serviceProviderId" value="${serviceProvider.id}" />
                                                <button type="submit" class="btn btn-primary center" role="button">${labels["select"]}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </#list>
                    </div>
                </div>
            </div>

            <#include "spinner.html" />

            <script>
                $('#form').submit(function(e) {
                    var data = $("#form").serialize()
                    $.ajax({
                        type: "POST",
                        url: "/app/connectors/salesforce/${id}/service",
                        data: data,
                        complete: function(data) {
                            $("#statusMessage").html(data.responseText);
                        }
                    });

                    e.preventDefault();

                });
            </script>

    </@t.page>