<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid container-fluid-spacious">
            <div class="row">
                <br>
                <div id="status-message"></div>
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">
                            ${(salesforceConnector.organization.name)!}
                        </h3>
                    </div>
                    <div class="flextable-item">
                        <a id="cancel" href="${labels['base.path']}/${salesforceConnector.id}" class="btn btn-primary-outline" role="button">${labels["cancel"]}</a>
                    </div>
                </div>
                <br>
                <div class="hr-divider"></div>
            </div>
            <div class="row">
                <br>
                <br>

                <div class="container">

                    <#list serviceProviders?sort_by( "name") as serviceProvider>

                        <h4 class="text-muted">${serviceProvider.name}</h4>

                            <ul class="nav nav-stacked">

                                <#list serviceProvider.services?sort_by( "serviceName") as service>

                                    <li>
                                        <a href="${labels['base.path']}/${salesforceConnector.id}/providers/${serviceProvider.id}/service/${service.type}">
                                            <br>
                                            <h4>${service.serviceName}</h4>
                                            <hr>
                                            <h4><small>${service.description}</small></h4>
                                            <br>
                                        </a>
                                    </li>

                                </#list>
                            </ul>

                    </#list>
                </div>
            </div>
        </div>

    </@t.page>