<div class="sidebar" data-color="purple" data-image="/assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="" class="simple-text">
                    ${applicationTitle}
                        </a>
        </div>

        <ul class="nav">
            <li>
                <a href="/app/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>${dashboard}</p>
                </a>
            </li>
             <li>
                <a href="/app/applications">
                    <i class="pe-7s-server"></i>
                    <p>${applications}</p>
                </a>
            </li>
            <li>
                <a href="/app/projects">
                    <i class="pe-7s-folder"></i>
                    <p>${projects}</p>
                </a>
            </li>
            <li>
                <a href="/app/user-profile">
                    <i class="pe-7s-user"></i>
                    <p>${userProfile}</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
        </ul>
    </div>
</div>