<!DOCTYPE HTML>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>${applicationTitle}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

</head>

<body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">${toggleNavigation}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">${applicationTitle}</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup">${signUp}</a></li>
                    <li><a href="/login"><i class="fa fa-sign-in"></i>&nbsp; ${logIn}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <section>
        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <#if successMessage??>
                        <div id="alert" class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>
                            <div class="text-center">${successMessage}</div>
                        </div>
                    </#if>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h4><div class="text-center">${contact}</div></h4>
                    <br>

                    <form class="form-horizontal" role="form" method="post" action="/contact">
                        <input type="hidden" name="leadSource" value="Contact">
                        <div class="form-group">
                            <!-- <label class="control-label" for="firstName"></label> -->
                            <input class="form-control" name="firstName" id="firstName" placeholder="${firstName}" autofocus>
                        </div>
                        <div class="form-group">
                            <!-- <label class="control-label" for="lastName">${lastName}*</label> -->
                            <input class="form-control" name="lastName" id="lastName" placeholder="${lastName}" required>
                        </div>
                        <div class="form-group">
                            <!-- <label class="control-label" for="email">${email}*</label> -->
                            <input type="email" class="form-control" name="email" id="email" placeholder="${email}" required>
                        </div>
                        <div class="form-group">
                            <!-- <label class="control-label" for="phone">${phone}</label> -->
                            <input class="form-control" name="phone" id="phone" placeholder="${phone}">
                        </div>
                        <div class="form-group">
                            <!-- <label class="control-label" for="company">${company}</label> -->
                            <input class="form-control" name="company" id="company" placeholder="${company}">
                        </div>
                        <div class="form-group">
                            <!-- <label class="control-label" for="description">${howCanWeHelp}*</label> -->
                            <textarea class="form-control" name="description" id="description" rows="5" placeholder="${howCanWeHelp}" required></textarea>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">${submit}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>



    <br>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <hr class="primary">
                    <br>
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>1-888-721-6440</p>
                    <br>
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>
                        <a href="mailto:administrator@nowellpoint.com">administrator@nowellpoint.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>