<!DOCTYPE HTML>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>${messages["application.title"]}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <#if errorMessage??>
                        <div id="alert" class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <div class="text-center">${errorMessage}</div>
                        </div>
                    </#if>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <h3><div class="text-center">${messages["welcome.back"]}</div></h3>
                    <br>

                    <form class="form-vertical" role="form" method="post" action="/login">

                        <div class="form-group">
                            <label class="control-label" for="username">${email}</label>
                            <input type="text" class="form-control" name="username" id="username" required="" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">${password}</label>
                            <input type="password" class="form-control" name="password" id="password" required="" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">${logIn}</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <br>
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">${newToNowellpoint} <a href="/signup">${signUp}</a></div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <br>
                <br>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="text-center"><a href="/contact">${contact}</a></div>
                </div>
                <div class="col-md-4"></div>

            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>