<!DOCTYPE HTML>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>${messages["application.title"]}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-md-8">
                    <#if errorMessage??>
                        <div id="alert" class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <div class="text-center">${errorMessage}</div>
                        </div>
                    </#if>
                </div>
                 <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-offset-0 col-xs-12 col-xs-offset-0 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-md-offset-4 col-md-4 col-md-offset-4">

                    <h3><div class="text-center">${labels["welcome.back"]}</div></h3>
                    <br>

                    <form class="form-vertical" role="form" method="post" action="/login">

                        <div class="form-group">
                            <label class="control-label" for="username">${labels["email"]}</label>
                            <input type="text" class="form-control" name="username" id="username" required="" autofocus="" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">${labels["password"]}</label>
                            <input type="password" class="form-control" name="password" id="password" required="" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <div class="pull-right">
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["login"]}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <br>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">${labels["new.to.nowellpoint"]}<a href="/signup">&nbsp;${labels["sign.up"]}</a></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
            </div>
            <div class="row">
                <br>
                <br>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2">
                    <div class="text-center"><a href="/contact">${labels["contact.us"]}</a></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>