<!DOCTYPE HTML>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>${messages["application.title"]}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/theme.css" type="text/css" />
    <link rel="stylesheet" href="css/media.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,400italic,800,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>

    <header class="smaller">
        <div class="Center">
            <div class="site-logo">
                <h1><a href="/">Nowell<span>point</span></a></h1>
            </div>
            <div id="mobile_sec">
                <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
                <div class="menumobile">
                    <nav class="Navigation">
                        <ul>
                            <li>
                                <a href="/login" class="btn btn-warning">${labels["login"]}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>

    <div class="Pricing_sec" id="pricing">
        <div class="Center">
            <h2>${labels["pricing"]}</h2>
            <p>${labels["pricing.headline"]}</p>
            <div class="Line"></div>
            <div class="pricingside">
                <ul>
                    <#list planList as plan>

                        <li>
                            <div class="Basic">
                                <h5>${plan.planName}</h5>
                            </div>

                            <div class="Dollar">
                                <h2><sup>${plan.price.currencySymbol}</sup>${plan.price.unitPrice?string["0.00"]}</h2>
                            </div>

                            <#list plan.services?sort_by( "sortOrder") as service>

                                <#if service.code=="SALESFORCE_ORGANIZATIONS">
                                    <div class="Band">
                                        <p>${service.quantity} <span>${labels["organizations"]}</span></p>
                                    </div>
                                </#if>

                                <#if service.code=="SALESFORCE_SANDBOXES">
                                    <div class="Band">
                                        <p>${service.quantity} <span>${labels["sandboxes"]}</span></p>
                                    </div>
                                </#if>

                                <#if service.code=="USERS">
                                    <div class="Band">
                                        <p>${service.quantity} <span>${labels["users"]}</span></p>
                                    </div>
                                </#if>

                                <#if service.code=="DISK_SPACE">
                                    <div class="Band">
                                        <p>${service.quantity} <span>${labels["disk.space"]}</span></p>
                                    </div>
                                </#if>

                            </#list>

                            <div class="Order">
                                <a href="/signup?planId=${plan.id}">${labels["order.now"]}</a>
                            </div>
                        </li>
                    </#list>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>

</body>

</html>