<#import "template.html" as t>
    <@t.page>

        <br>
        <br>

        <!-- <#if errorMessage??> -->

        <div class="row justify-content-md-center">

            <div class="col col-lg-12">
                <p class="text-danger text-center"><span class="icon icon-cross fa fa-4x"></span></p>
            </div>
            <div class="col col-lg-12">
                <h3 class="text-danger text-center">${errorMessage}</h3>
            </div>
            <div class="col col-lg-12">
                <br>
                <br>
                <h4 class="text-center"><a href="/plans">${labels["register"]}</a></h4>
            </div>

        </div>

        <!--<#else> -->

        <div class="row">
            <div class="col-12">
                <h3 class="text-center">${labels["welcome"]}</h3>
                <h3 class="text-center">${labels["account.success"]}</h3>
            </div>
        </div>

        <br>
        <div class="hr-divider"></div>
        <br>

        <form id="provision-form" role="form" method="post" action="/provision">

            <div class="row justify-content-md-center">

                <div class="col col-lg-4">

                    <#if plan.price.unitPrice gt 0>

                        <br>
                        
                        <h3>${labels["credit.card"]}</h3>
                        <div class="form-group">
                            <input type="text" name="cardholderName" id="cardholderName" class="form-control" placeholder="${labels['name.on.card']}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cardNumber" id="cardNumber" class="form-control" placeholder="${labels['number']}">
                        </div>
                        <div class="row no-gutters">
                            <div class="form-group col-3">
                                <input type="text" name="expirationMonth" id="expirationMonth" class="form-control" required placeholder="${labels['month']}">
                            </div>
                            <div class="form-group col-1"></div>
                            <div class="form-group col-3">
                                <input type="text" name="expirationYear" id="expirationYear" class="form-control" required placeholder="${labels['year']}">
                            </div>
                            <div class="form-group col-2"></div>
                            <div class="form-group col-3">
                                <input type="text" name="securityCode" id="securityCode" class="form-control" required placeholder="${labels['cvv']}">
                            </div>
                        </div>
                    </#if>

                    <input type="hidden" name="planId" value="${plan.id!}" />
                    <input type="hidden" name="planCode" value="${plan.planCode!}" />
                    <input type="hidden" name="registrationId" value="${registration.id!}" />

                </div>

                <div class="col col-lg-1"></div>

                <div class="col col-lg-2">

                    <br>

                    <div class="statcard p-3">
                        <span class="statcard-desc">${labels['plan.name']}</span>
                        <h3 class="statcard-number">${plan.planName}</h3>

                    </div>

                    <#list plan.features as feature>


                        <#if feature.code=="SALESFORCE_ORGANIZATIONS">
                            <div class="statcard p-3">
                                <span class="statcard-desc">${labels["organizations"]}</span>
                                <h3 class="statcard-number">${feature.quantity}</h3>
                            </div>
                        </#if>

                        <#if feature.code=="SALESFORCE_SANDBOXES">
                            <div class="statcard p-3">
                                <span class="statcard-desc">${labels["sandboxes"]}</span>
                                <h3 class="statcard-number">${feature.quantity}</h3>
                            </div>
                        </#if>

                    </#list>

                </div>

                <div class="col col-lg-2">
                    <br>
                    <div class="statcard p-3">
                        <span class="statcard-desc">${labels['price']}</span>
                        <h3 class="statcard-number">${plan.price.currencySymbol} ${plan.price.unitPrice?string["0.00"]}</h3>
                    </div>
                    <#list plan.features as feature>
                        <#if feature.code=="USERS">
                            <div class="statcard p-3">
                                <span class="statcard-desc">${labels["users"]}</span>
                                <h3 class="statcard-number">${feature.quantity}</h3>
                            </div>
                        </#if>
                        <#if feature.code=="DISK_SPACE">
                            <div class="statcard p-3">
                                <span class="statcard-desc">${labels["disk.space"]}</span>
                                <h3 class="statcard-number">${feature.quantity}</h3>
                            </div>
                        </#if>
                    </#list>
                </div>
            </div>

            <br>
            <div class="hr-divider"></div>
            <br>

            <div class="row">
                <div class="text-right col-12">
                    <a href="/plans">${labels['cancel.registration']}</a>&emsp;
                    <button type="submit" id="submit" class="btn btn-primary">${labels['provision']}</button>
                </div>
            </div>

        </form>

        <!-- </#if> -->


        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>

    </@t.page>