<#import "template.html" as t>
    <@t.page>

        <br>
        <br>
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">${labels['signup.title']}</h3>
                <h4 class="text-center">${labels['fill.form']}</h4>
            </div>
        </div>

        <br>
        <div class="hr-divider"></div>
        <br>

        <div class="row justify-content-md-center">
            
            <#if errorMessage??>
                
                <div class="col col-lg-9">
                    
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        ${errorMessage}
                    </div>
                
                </div>    
                </#if>
            
            <div class="col col-lg-5">
                
                <br>

                <form id="signup-form" role="form" method="post" action="/signup">


                    <input type="hidden" name="planId" value="${planId!}" />

                    <div class="form-group">
                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="${labels['first.name']}" value="${firstName!}" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="${labels['last.name']}" value="${lastName!}" required data-msg="${messages['last.name.required']}">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="${labels['email']}" value="${email!}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="${labels['phone']}" value="${phone!}">
                    </div>
                    <div class="form-group">
                        <small class="text-muted">${labels['domain.help.text']}</small>
                        <input type="text" name="domain" id="domain" class="form-control" placeholder="${labels['domain']}" value="${domain!}">
                    </div>
                    <div class="form-group">
                        <select id="countryCode" name="countryCode" class="form-control" required>
                            <option value="XX" selected="selected">${labels['select.country']}</option>
                            <option value="AF">Afghanistan</option>
                            <option value="AL">Albania</option>
                            <option value="DZ">Algeria</option>
                            <option value="AS">American Samoa</option>
                            <option value="AD">Andorra</option>
                            <option value="AO">Angola</option>
                            <option value="AI">Anguilla</option>
                            <option value="AQ">Antarctica</option>
                            <option value="AG">Antigua and Barbuda</option>
                            <option value="AR">Argentina</option>
                            <option value="AM">Armenia</option>
                            <option value="AW">Aruba</option>
                            <option value="AU">Australia</option>
                            <option value="AT">Austria</option>
                            <option value="AZ">Azerbaijan</option>
                            <option value="BS">Bahamas</option>
                            <option value="BH">Bahrain</option>
                            <option value="BD">Bangladesh</option>
                            <option value="BB">Barbados</option>
                            <option value="BY">Belarus</option>
                            <option value="BE">Belgium</option>
                            <option value="BZ">Belize</option>
                            <option value="BJ">Benin</option>
                            <option value="BM">Bermuda</option>
                            <option value="BT">Bhutan</option>
                            <option value="BO">Bolivia</option>
                            <option value="BA">Bosnia And Herzegowina</option>
                            <option value="BW">Botswana</option>



                            <option value="CA">Canada</option>
                            <option value="GB">Great Britan</option>
                            <option value="US">United States</option>

                        </select>
                    </div>
                </form>
            </div>
        </div>
        
        <br>
        <div class="hr-divider"></div>
        <br>

        <div class="row">
            <div class="text-right col-12">
                <a href="/plans">${labels['cancel']}</a>&emsp;
                <button type="submit" id="submit" class="btn btn-primary">${labels['sign.up']}</button>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>

    </@t.page>