<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["payment.method"]}</span>
    </div>
    <div class="col-9">
        <img src="${(organization.subscription.creditCard.imageUrl)!}" height="24" width="36" />&emsp;${organization.subscription.creditCard.cardType} ${labels["ending.in"]} ${(organization.subscription.creditCard.lastFour)!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["name.on.card"]}</span>
    </div>
    <div class="col-9">
        ${organization.subscription.creditCard.cardholderName}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["expires.on"]}</span>
    </div>
    <div class="col-9">
        ${organization.subscription.creditCard.expirationMonth}/${organization.subscription.creditCard.expirationYear}
    </div>
</div>