body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding-top: 20px;
    border-bottom: 1px solid lightGray;
}
main {
    margin-top: 75px;
    margin-bottom: 75px;
}
footer {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; 
    height: 75px;
    padding-top: 20px;
    border-top: 1px solid lightGray;
}
.hidden {
    display: none;
}
.pointer {
    cursor: pointer;
}

.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    height: 74px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        background: #ecf0f1;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -40%;
    }
    .row-offcanvas-left.active {
        left: 40%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 40%;
        margin-left: 12px;
    }
}
#sidebar {
    padding: 15px;
    margin-top: 10px;
}