body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    padding-top: 20px;
    border-bottom: 1px solid lightGray;
}
main {
    margin-top: 75px;
    margin-bottom: 75px;
    transition: margin-left .5s;
    padding: 20px;
}
footer {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; 
    height: 75px;
    padding-top: 20px;
    border-top: 1px solid lightGray;
}



.hidden {
    display: none;
}
.pointer {
    cursor: pointer;
}

.navbar.navbar-default {
    background-color: #99ccff;
    border: 0;
    height: 74px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content {
    position: absolute;
    bottom: 0px;
    left: 250px;
    right: 0;
    top: 0;
    margin-top: 75px; 
}

/* The side navigation menu */
.sidebar {
    bottom: 0px;
    width: 250px; /* 0 width - change this with JavaScript */
    position: absolute;
    top: 0;
    margin-top: 75px; 
    left: 0;
    padding-top: 30px;
    border-right: 1px solid lightGray;
    overflow-x: hidden;
}

/* The navigation menu links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .title {
    position: absolute;
    top: 18px;
    font-size: 24px;
    left: 25px;
    font-family: "Georgia, serif";
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}