<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h2 class="dashhead-title">${labels["edit.user.address"]}</h2>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <div class="row">

                <br>

                <#if successMessage??>
                    <div id="success" class="alert alert-success">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="text-center">${successMessage!}</div>
                    </div>
                </#if>
                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <br>

                <form class="form-horizontal" role="form" method="post" action="${labels['base.path']}/${accountProfile.id}/address">

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="street">${labels["street"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="street" id="street" autofocus="" value="${address.street!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="city">${labels["city"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="city" id="city" value="${address.city!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="state">${labels["state"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="state" id="state" value="${address.state!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="postalCode">${labels["zip.postal.code"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="postalCode" id="postalCode" value="${address.postalCode!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="countryCode">${labels["country"]}*</label>
                            <div class="col-sm-8">
                                <select id="countryCode" name="countryCode" class="form-control" required>
                                    <#list countryList as country>
                                        <#if country.code==address.countryCode>
                                            <option value="${country.code}" selected="selected">${country.name}</option>
                                        </#if>
                                        <#if country.code !=address.countryCode>
                                            <option value="${country.code}">${country.name}</option>
                                        </#if>
                                    </#list>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3"></div>


                    <div class="col-sm-12">
                        <br>
                    </div>

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <a href="${labels['base.path']}/${accountProfile.id}#address" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                    <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3"></div>

                </form>



            </div>

            <#include "spinner.html"/>

            <script>
                var accountProfile = {
                    basePath: "${labels['base.path']}",
                    id: "${(accountProfile.id)!}",
                    firstName: "${(accountProfile.firstName)!}",
                    lastName: "${(accountProfile.lastName)!}",
                    street: "${(accountProfile.address.street)!}",
                    city: "${(accountProfile.address.city)!}",
                    state: "${(accountProfile.address.state)!}",
                    postalCode: "${(accountProfile.address.postalCode)!}",
                    countryCode: "${(accountProfile.address.countryCode)!}"
                }

                jQuery.data(document.body, "accountProfile", accountProfile);
            </script>

            <script src="/js/account-profile.js"></script>

    </@t.page>