<#import "template.html" as t>

    <@t.page>

        <#if action == "listPlans">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-md">
                <a href="${labels['base.path']}/${accountProfile.id}" class="btn btn-lg btn-primary-outline" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.account.profile"]}
            </div>
            <div class="container">
                <div class="row">
                    <div class="dashhead m-t-md">
                        <div class="dashhead-titles">
                            <h3 class="dashhead-title">${labels["select.plan"]}</h3>
                        </div>
                    </div>
                    <div class="hr-divider"></div>
                    <br>
                    <div class="table-responsive">
                        <div class="membership-pricing-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <th></th>
                                        <#list plans as plan>
                                            <#if plan.recommendedPlan == true>
                                            <th class="plan-header plan-header-standard">
                                                <div class="header-plan-inner">
                                                    <span class="recommended-plan-ribbon">${labels["recommended"]}</span>
                                                    <div class="pricing-plan-name">${plan.planName}</div>
                                                    <div class="pricing-plan-price">
                                                        <sup>${plan.price.currencySymbol}</sup>${plan.price.unitPrice}<span>.00</span>
                                                    </div>
                                                    <div class="pricing-plan-period">${plan.billingFrequency}</div>
                                                </div>
                                            </th>
                                            <#elseif plan.price.unitPrice == 0>
                                            <th class="plan-header plan-header-free">
                                                <div class="pricing-plan-name">${plan.planName}</div>
                                                <div class="pricing-plan-price">
                                                    <sup>${plan.price.currencySymbol}</sup>${plan.price.unitPrice}<span>.00</span>
                                                </div>
                                                <div class="pricing-plan-period">${plan.billingFrequency}</div>
                                            </th>
                                            <#elseif plan.price.unitPrice gt 0>
                                            <th class="plan-header plan-header-blue">
                                                <div class="pricing-plan-name">${plan.planName}</div>
                                                <div class="pricing-plan-price">
                                                    <sup>${plan.price.currencySymbol}</sup>${plan.price.unitPrice}<span>.00</span>
                                                </div>
                                                <div class="pricing-plan-period">${plan.billingFrequency}</div>
                                            </th>
                                            </#if>

                                        </#list>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <#list plans as plan>                          
                                        <#if accountProfile.subscription?? && plan.id == accountProfile.subscription.planId>
                                        <td class="action-header">
                                            <div class="current-plan">
                                                <div class="with-date">Current Plan</div>
                                                <div><em class="smaller block">renews Feb 19, 2015</em></div>
                                            </div>
                                        </td>
                                        <#elseif plan.recommendedPlan == true>
                                        <td class="action-header">
                                            <a class="btn btn-success">${labels["upgrade"]}</a>
                                        </td>
                                        <#elseif accountProfile.subscription?? && plan.price.unitPrice gt accountProfile.subscription.unitPrice>
                                        <td class="action-header">
                                            <a href="${labels['base.path']}/${accountProfile.id}/plans/${plan.id}" class="btn btn-info">${labels["upgrade"]}</a>
                                        </td>
                                        <#else>
                                        <td class="action-header">
                                            <a href="${labels['base.path']}/${accountProfile.id}/plans/${plan.id}" class="btn btn-info">${labels["downgrade"]}</a>
                                        </td>
                                        </#if>
                                        </#list>     
                                    </tr>
                                    <tr>
                                        <td>Tutorials and Support Docs:</td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Support Forum Access:</td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Automatic Updates:</td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Unlock rewards:</td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Skills:</td>
                                        <td>20</td>
                                        <td>30</td>
                                        <td>50</td>
                                        <td>80</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>Websites:</td>
                                        <td>1</td>
                                        <td>5</td>
                                        <td>10</td>
                                        <td>20</td>
                                        <td>unlimited</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </#if>

        <#if action=="reviewPlan">
            <#if errorMessage??>
                <div id="alert" class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <div class="text-center">${errorMessage}</div>
                </div>
            </#if>

            <div class="dashhead m-t-md">
                <div class="dashhead-titles">
                    <h3 class="dashhead-title">${labels["payment.method"]}</h3>
                </div>
            </div>
            <div class="hr-divider"></div>

            <div class="row">

                <br>

                <form id="payment-method-form" name="payment-method-form" class="form-vertical" method="post" action="${labels['base.path']}/${accountProfile.id}/plans/${plan.id}">

                    <div class="col-md-9">

                        <#if plan.price.unitPrice==0>

                            <h4 class="text-success">${labels["no.payment.method.required"]}</h4>

                        </#if>

                        <#if plan.price.unitPrice gt 0>

                            <div class="row">

                                <#if accountProfile.primaryCreditCard??>

                                    <input type="hidden" name="paymentMethodToken" id="paymentMethodToken" value="${(accountProfile.primaryCreditCard.token)!}" />

                                    <div class="col-md-5">
                                        <label class="control-label">${labels["primary.credit.card"]}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <dl class="dl-vertical">
                                            <dt>${labels["name.on.card"]}</dt>
                                            <dd>${accountProfile.primaryCreditCard.cardholderName}&emsp;</dd>
                                            <hr>
                                            <dt>${labels["credit.card"]}</dt>
                                            <dd><img src="${(accountProfile.primaryCreditCard.imageUrl)!}" height="18" width="30" />&emsp;${(accountProfile.primaryCreditCard.cardType)!}&nbsp;${labels["ending.in"]}&nbsp;${(accountProfile.primaryCreditCard.lastFour)!}&emsp;</dd>
                                            <hr>
                                            <dt>${labels["expiration.date"]}</dt>
                                            <dd>${(creditCard.expirationMonth)!}/${(creditCard.expirationYear)!}&emsp;</dd>
                                            <hr>
                                        </dl>
                                    </div>

                                </#if>

                                <#if ! accountProfile.primaryCreditCard??>

                                    <div class="col-md-5"></div>

                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="checkbox" name="use-contact-info" autofocus="" id="use-contact-info" />
                                            <label class="control-label" for="use-contact-info">${labels["use.account.profile"]}</label>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <label class="control-label">${labels["billing.address"]}</label>
                                    </div>
                                    <div class="col-md-5">

                                        <div class="form-group">
                                            <select id="countryCode" name="countryCode" class="form-control" required>
                                                <option value="">${labels["select.one"]}</option>
                                                <#list countryList as country>
                                                    <#if creditCard.billingAddress.countryCode??>
                                                        <#if country.code==creditCard.billingAddress.countryCode>
                                                            <option value="${country.code}" selected="selected">${country.name}</option>
                                                        </#if>
                                                        <#if country.code !=creditCard.billingAddress.countryCode>
                                                            <option value="${country.code}">${country.name}</option>
                                                        </#if>
                                                    </#if>
                                                    <#if ! creditCard.billingAddress.countryCode??>
                                                        <option value="${country.code}">${country.name}</option>
                                                    </#if>
                                                </#list>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="street" id="street" placeholder="${labels['street']}" value="${(creditCard.billingAddress.street)!}" />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="city" id="city" placeholder="${labels['city']}" value="${(creditCard.billingAddress.city)!}" />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="state" id="state" placeholder="${labels['state']}" value="${(creditCard.billingAddress.state)!}" />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="postalCode" id="postalCode" placeholder="${labels['zip.postal.code']}" value="${(creditCard.billingAddress.postalCode)!}" />
                                        </div>

                                    </div>

                                    <div class="col-md-2"></div>

                                    <div class="col-md-10">
                                        <div class="hr-divider"></div>
                                        <br>
                                    </div>

                                    <div class="col-md-2"></div>

                                    <div class="col-md-5">
                                        <label class="control-label">${labels["billing.contact"]}</label>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="firstName" id="firstName" value="${(creditCard.billingContact.firstName)!}" placeholder="${labels['first.name']}" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="lastName" id="lastName" value="${(creditCard.billingContact.lastName)!}" placeholder="${labels['last.name']}" />
                                        </div>
                                    </div>

                                    <div class="col-md-2"></div>

                                    <div class="col-md-10">
                                        <div class="hr-divider"></div>
                                        <br>
                                    </div>

                                    <div class="col-md-2"></div>

                                    <div class="col-md-5">
                                        <label class="control-label">${labels["credit.card"]}</label>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cardholderName" id="cardholderName" value="${(creditCard.cardholderName)!}" placeholder="${labels['name.on.card']}" />
                                        </div>

                                        <div class="form-group">

                                            <input type="text" class="form-control" name="number" id="number" placeholder="${labels['number']}">

                                        </div>


                                        <div class="row">
                                            <div class="form-group col-md-2">
                                                <select class="form-control" name="expirationMonth" id="expirationMonth" style="width: auto">
                                                    <#assign x=12 />
                                                    <#list 1..x as month>
                                                        <#if creditCard.expirationMonth?eval==month>
                                                            <option value="${month?c}" selected="selected">${month?c}</option>
                                                        </#if>
                                                        <#if creditCard.expirationMonth?eval !=month>
                                                            <option value="${month?c}">${month?c}</option>
                                                        </#if>
                                                    </#list>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-4">
                                                <select class="form-control" name="expirationYear" id="expirationYear">
                                                    <#assign x=.now?string[ "yyyy"]?number + 19/>
                                                    <#list .now?string[ "yyyy"]?number..x as year>
                                                        <#if creditCard.expirationYear?eval==year>
                                                            <option value="${year?c}" selected="selected">${year?c}</option>
                                                        </#if>
                                                        <#if creditCard.expirationYear?eval !=year>
                                                            <option value="${year?c}">${year?c}</option>
                                                        </#if>
                                                    </#list>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-3">
                                                &nbsp;
                                            </div>

                                            <div class="form-group col-md-3 pull-right">
                                                <input type="text" class="form-control" name="cvv" id="cvv" placeholder="${labels['cvv']}" />
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-2"></div>

                                </#if>

                            </div>

                        </#if>

                    </div>

                    <div class="col-md-3">

                            <div class="panel panel-default">

                                <div class="panel-body">

                                    <dl class="dl-vertical">
                                        <dt>${labels["plan.name"]}</dt>
                                        <dd>${(plan.planName)!}</dd>
                                        <dt>${labels["price"]}</dt>
                                        <dd>${(plan.price.currencySymbol)!}&nbsp;${(plan.price.unitPrice?string["0.##"])!}</dd>
                                        <dt>${labels["billed"]}</dt>
                                        <dd>${(plan.billingFrequency)!}
                                            <br>
                                    </dl>
                                </div>
                            </div>
                            <div class="pull-right">
                                <#if accountProfile.subscription??>
                                    <a href="${labels['base.path']}/${accountProfile.id}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                </#if>
                                <a href="${labels['base.path']}/${accountProfile.id}/plans" class="btn btn-default" role="button">${labels["back"]}</a>
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["set.plan"]}</button>
                            </div>

                    </div>

                </form>

            </div>
        </#if>

        <script>
            var accountProfile = {
                basePath: "${labels['base.path']}",
                id: "${(accountProfile.id)!}",
                firstName: "${(accountProfile.firstName)!}",
                lastName: "${(accountProfile.lastName)!}",
                street: "${(accountProfile.address.street)!}",
                city: "${(accountProfile.address.city)!}",
                state: "${(accountProfile.address.state)!}",
                postalCode: "${(accountProfile.address.postalCode)!}",
                countryCode: "${(accountProfile.address.countryCode)!}"
            }

            jQuery.data(document.body, "accountProfile", accountProfile);
        </script>

        <script src="/js/account-profile.js"></script>
    </@t.page>