<#import "template.html" as t>
    <@t.page>

        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <h3 class="input-with-icon dashhead-title">${labels["current.plan"]}</h3>
            </div>
        </div>
        <br>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                 <a href="${links['account.profile']}/${accountProfile.id}/plans" id="update-plan" class="btn btn-success" role="button">${labels["change.plan"]}</a>
            </div>
        </div>

        <br>

        <div class="row">

            <div class="col-md-3">

                <dl class="dl-vertical">
                    <dt>${labels["plan.name"]}</dt>
                    <dd>${(accountProfile.subscription.planName)!}&emsp;</dd>
                    <hr>
                    <dt>${labels["price"]}</dt>
                    <dd>${(accountProfile.subscription.currencySymbol)!}&nbsp;${(accountProfile.subscription.unitPrice?string["0.00"])!}&emsp;</dd>
                    <hr>
                    <dt>${labels["billed"]}&emsp;</dt>
                    <dd>${(accountProfile.subscription.billingFrequency)!}
                    <hr>
                </dl>

            </div>
            
             <div class="col-md-3">

                <dl class="dl-vertical">
                    <dt>${labels["next.billing.date"]}&emsp;</dt>
                    <dd>${(accountProfile.subscription.nextBillingDate?date?string.long)!}
                    <hr>
                    <dt>${labels["status"]}&emsp;</dt>
                    <dd>${(accountProfile.subscription.status)!}
                    <hr>
                    <dt>&emsp;</dt>
                    <dd>&emsp;</dd>
                </dl>

            </div>

            <div class="col-md-6">

            </div>
        </div>

        <br>
        
        <div id="transactions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["transactions"]}</h3>
                    </div>
                </div>

                <br>

                <div class="content table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>${labels["id"]}</th>
                            <th>${labels["payment.method"]}</th>
                            <th class="text-right">${labels["amount"]}</th>
                            <th>${labels["transaction.date"]}</th>
                            <th>${labels["status"]}</th>
                            <th>${labels["action"]}</th>
                        </thead>
                        <tbody>
                            <#list accountProfile.transactions?sort_by( "createdOn")?reverse as transaction>
                                <tr>
                                    <td>${transaction.id}</td>
                                    <td><img src="${(transaction.creditCard.imageUrl)!}" height="24" width="36" />&emsp;<a href="${links['account.profile']}/${accountProfile.id}/payment-methods/${transaction.creditCard.token}/view">${(transaction.creditCard.cardType)!} ${labels["ending.in"]} ${(transaction.creditCard.lastFour)!}</a></td>
                                    <td class="text-right p-r-md">${transaction.currencyIsoCode} ${transaction.amount?string["0.00"]}</td>
                                    <td>${(transaction.updatedOn?date?string.long)!}</td>
                                    <td>${transaction.status}</td>
                                    <td>
                                    </td>
                                </tr>
                            </#list>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </@t.page>