<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            
            <br>
            <br>
            
            <div class="row">

                <br>

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <br>
                
                <div class="panel panel-default">
                                            <div class="panel-body">
                                                <br>
                                                <h4 class="text-danger">${labels["confirm.deactivate.profile"]}</h4>
                                                <h4><small></small></h4>
                                                <br>
                                                <p class="pull-right">
                                                    <a href="${labels['base.path']}/${(accountProfile.id)!}#settings" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                                    <button type="submit" id="add-plan" class="btn btn-danger">${labels["deactivate.profile"]}</button>
                                                </p>

                                            </div>

                                        </div>
                
                <!--
                <a href="${labels['base.path']}/${accountProfile.id}/delete" class="btn btn-danger" aria-hidden="true" role="button">${labels["confirm.deactivate.profile"]}</a>
-->
                
            </div>
        </div>
    </@t.page>