<#import "template.html" as t>
    <@t.page>
        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title">${labels["edit.user.address"]}</h2>
            </div>
        </div>
        <div class="hr-divider"></div>
        <#if successMessage??>
            <div id="success" class="alert alert-success">
                <a class="close" data-dismiss="alert">&times;</a>
                <div class="text-center">${successMessage!}</div>
            </div>
        </#if>
        <#if errorMessage??>
            <div id="alert" class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                <div class="text-center">${errorMessage}</div>
            </div>
        </#if>
        <br>
        <form class="form-vertical" role="form" method="post" action="${labels['base.path']}/${accountProfile.id}/address">

            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" for="street">${labels["street"]}</label>
                    <input type="text" class="form-control" name="street" id="street" autofocus="" value="${address.street!}" />
                </div>
                <div class="col-md-10"></div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" for="city">${labels["city"]}</label>
                    <input type="text" class="form-control" name="city" id="city" value="${address.city!}" />
                </div>
                <div class="col-md-10"></div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" for="state">${labels["state"]}</label>
                    <input type="text" class="form-control" name="state" id="state" value="${address.state!}" />
                </div>
                <div class="col-md-10"></div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" for="postalCode">${labels["zip.postal.code"]}</label>
                    <input type="text" class="form-control" name="postalCode" id="postalCode" value="${address.postalCode!}" />
                </div>
                <div class="col-md-10"></div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label" for="countryCode">${labels["country"]}*</label>
                    <select id="countryCode" name="countryCode" class="form-control" required>
                        <#list countryList as country>
                            <#if country.code==address.countryCode>
                                <option value="${country.code}" selected="selected">${country.name}</option>
                            </#if>
                            <#if country.code !=address.countryCode>
                                <option value="${country.code}">${country.name}</option>
                            </#if>
                        </#list>
                    </select>
                </div>
                <div class="col-md-10"></div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <div class="pull-right">
                        <a href="${labels['base.path']}/${accountProfile.id}#address" class="btn btn-default" role="button">${labels["cancel"]}</a>
                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                    </div>
                </div>
                <div class="col-md-10"></div>
            </div>

        </form>

        <#include "spinner.html"/>

        <script>
            var accountProfile = {
                basePath: "${labels['base.path']}",
                id: "${(accountProfile.id)!}",
                firstName: "${(accountProfile.firstName)!}",
                lastName: "${(accountProfile.lastName)!}",
                street: "${(accountProfile.address.street)!}",
                city: "${(accountProfile.address.city)!}",
                state: "${(accountProfile.address.state)!}",
                postalCode: "${(accountProfile.address.postalCode)!}",
                countryCode: "${(accountProfile.address.countryCode)!}"
            }

            jQuery.data(document.body, "accountProfile", accountProfile);
        </script>

        <script src="/js/account-profile.js"></script>

    </@t.page>