<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h2 class="dashhead-title">${labels["edit.user.profile"]}</h2>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <div class="row">

                <br>

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <br>

                <form class="form-horizontal" role="form" method="post" action="${labels['base.path']}/${accountProfile.id}">
                    <input type="hidden" name="username" id="username" value="${accountProfile.username!}" />

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="firstName">${labels["first.name"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="${labels['first.name']}" autofocus="" value="${accountProfile.firstName!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="lastName">${labels["last.name"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="${labels['last.name']}" value="${accountProfile.lastName!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="company">${labels["company"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="company" id="company" placeholder="${labels['company']}" value="${accountProfile.company!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="division">${labels["division"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="division" id="division" placeholder="${labels['division']}" value="${accountProfile.division!}" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-4" for="department">${labels["department"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="department" id="department" placeholder="${labels['department']}" value="${accountProfile.department!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["title"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="title" id="title" placeholder="${labels['title']}" value="${accountProfile.title!}" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3"></div>

                    <div class="col-sm-12">
                        <div class="hr-divider"></div>
                        <br>
                    </div>

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["email"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="email" id="email" placeholder="${labels['email']}" value="${accountProfile.email!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["mobile.phone"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="mobilePhone" id="mobilePhone" placeholder="${labels['mobile.phone']}" value="${accountProfile.mobilePhone!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["phone"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="${labels['phone']}" value="${accountProfile.phone!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["extension"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="extension" id="extension" placeholder="${labels['extension']}" value="${accountProfile.extension!}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["fax"]}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="fax" id="fax" placeholder="${labels['fax']}" value="${accountProfile.fax!}" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3"></div>

                    <div class="col-sm-12">
                        <div class="hr-divider"></div>
                        <br>
                    </div>

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["language.key"]}</label>
                            <div class="col-sm-8">
                                <select id="languageSidKey" name="languageSidKey" class="form-control" required>
                                    <#list languages?keys as key>
                                        <#if accountProfile.languageSidKey==key>
                                            <option value="${key}" selected="selected">${languages[key]}</option>
                                        </#if>
                                        <#if accountProfile.languageSidKey !=key>
                                            <option value="${key}">${languages[key]}</option>
                                        </#if>
                                    </#list>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["locale.key"]}</label>
                            <div class="col-sm-8">
                                <select id="localeSidKey" name="localeSidKey" class="form-control" required>
                                    <#list locales?keys as key>
                                        <#if accountProfile.localeSidKey==key>
                                            <option value="${key}" selected="selected">${locales[key]}</option>
                                        </#if>
                                        <#if accountProfile.localeSidKey !=key>
                                            <option value="${key}">${locales[key]}</option>
                                        </#if>
                                    </#list>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="title">${labels["timezone.key"]}</label>
                            <div class="col-sm-8">
                                <select id="timeZoneSidKey" name="timeZoneSidKey" class="form-control" required>
                                    <#list timeZones as timeZone>
                                        <#if accountProfile.timeZoneSidKey==timeZone>
                                            <option value="${timeZone}" selected="selected">${timeZone}</option>
                                        </#if>
                                        <#if accountProfile.timeZoneSidKey !=timeZone>
                                            <option value="${timeZone}">${timeZone}</option>
                                        </#if>
                                    </#list>
                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="col-sm-3"></div>
                    
                    <div class="col-sm-12">
                        <br>
                    </div>

                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <a href="${labels['base.path']}/${accountProfile.id}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                    <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                </div>
                            </div>
                        </div>    
                    </div>

                    <div class="col-sm-3"></div>

                </form>

            </div>

            <#include "spinner.html"/>

            <script>
                var accountProfile = {
                    basePath: "${labels['base.path']}",
                    id: "${(accountProfile.id)!}",
                    firstName: "${(accountProfile.firstName)!}",
                    lastName: "${(accountProfile.lastName)!}",
                    street: "${(accountProfile.address.street)!}",
                    city: "${(accountProfile.address.city)!}",
                    state: "${(accountProfile.address.state)!}",
                    postalCode: "${(accountProfile.address.postalCode)!}",
                    countryCode: "${(accountProfile.address.countryCode)!}"
                }

                jQuery.data(document.body, "accountProfile", accountProfile);
            </script>

            <script src="/js/account-profile.js"></script>

    </@t.page>