<#import "template.html" as t>
    <@t.page>

        <#if errorMessage??>
            <div id="alert" class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                <div class="text-center">${errorMessage}</div>
            </div>
        </#if>

        <br>

        <div class="panel panel-default">
            <div class="panel-body">
                <br>
                <h4>${labels["confirm.deactivate.profile"]}</h4>
                <h4><small></small></h4>
                <br>
                <form name="deactivate-form" role="form" method="POST" action="${links['account.profile']}/${accountProfile.id}/deactivate">
                    <p class="pull-right">
                        <a href="${links['account.profile']}/${(accountProfile.id)!}" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
                        <button type="submit" id="submit" name="submit" class="btn btn-danger" aria-hidden="true">${labels["deactivate.profile"]}</button>
                    </p>
                </form>
            </div>
        </div>

        <script src="/js/account-profile.js"></script>
    </@t.page>