<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">

            <div class="row">

                <br>

                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">${labels["select.plan"]}</h6>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>

            <div class="row">


                <br> ${planTable}


            </div>

        </div>

    </@t.page>