<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">

            <br>
            <br>

            <div class="row">

                <br>

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <br>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <br>
                        <h4>${labels["confirm.deactivate.profile"]}</h4>
                        <h4><small></small></h4>
                        <br>
                        <p class="pull-right">
                            <a href="${labels['base.path']}/${(accountProfile.id)!}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                            <a href="${labels['base.path']}/${accountProfile.id}/deactivate" id="deactivate-account-profile" class="btn btn-danger" aria-hidden="true" role="button">${labels["deactivate.profile"]}</a>
                        </p>

                    </div>

                </div>

            </div>
        </div>
        
        <script src="/js/account-profile.js"></script>
    </@t.page>