<#import "template.html" as t>

    <@t.page>

        <div class="dashhead">
            <div class="dashhead-titles">
                <h6 class="dashhead-subtitle">&emsp;</h6>
                <h2 class="dashhead-title">${labels["applications"]}</h2>
            </div>

            <div class="dashhead-toolbar">
                <div class="input-with-icon dashhead-toolbar-item">
                    <a href="${labels['base.path']}/select" class="btn btn-lg btn-primary-outline" role="button">${labels["create.application"]}</a>
                </div>
            </div>
        </div>

        <br>

        <div class="hr-divider"></div>

        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <#list applicationList?sort_by( "createdDate") as application>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="/images/application.png">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="${labels['base.path']}/${application.id}">${application.name}</a></h4>
                                    <p>${application.description}</p>
                                </div>
                                <div class="media-right">
                                    <a href="${labels['base.path']}/${application.id!}/edit?view=1" class="btn btn-lg btn-primary-outline" data-toggle="tooltip" title="${labels['edit']}" role="button"><span class="icon icon-edit fa-1x"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </#list>
            </div>
        </div>

    </@t.page>