<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />
        <div class="container">

            <#if mode="new">

                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <h3 class="dashhead-titles">${labels["create.application"]}</h3>
                        <div class="dashhead-toolbar">
                            <div class="dashhead-toolbar-item">
                                <ol class="breadcrumb">
                                    <li><a href="${labels['base.path']}">${messages["applications"]}</a></li>
                                    <li><a href="${labels['base.path']}/new">${labels["select.connector"]}</a></li>
                                    <li class="active">${labels["import"]}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
                <br>

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4"></div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                    <form class="form-horizontal" role="form" method="post" action="${labels['base.path']}">
                        <input type="hidden" name="connectorId" id="connectorId" value="${(salesforceConnector.id)!}" />

                        <div class="form-group">
                            <label class="control-label" for="name">${labels["name"]}</label>
                            <input type="text" class="form-control" name="name" id="name" autofocus="" required/>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="description">${labels["description"]}</label>
                            <input type="text" class="form-control" name="description" id="description" />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="importSandboxes" id="importSandboxes" value="importSandboxes">${labels["import.sandboxes"]}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="importServices" id="importServices" value="importServices">${labels["import.services"]}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right">
                                <a href="${labels['base.path']}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["create"]}</button>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4"></div>
            </#if>

            <#if mode="edit">

                <div class="row">
                    <div class="dashhead m-t-md">
                        <div class="dashhead">
                            <div class="dashhead-titles">
                                <h6 class="dashhead-subtitle">${labels["edit.application"]}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="hr-divider"></div>
                </div>
                <div class="row">

                    <br>

                    <#if errorMessage??>
                        <div id="alert" class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <div class="text-center">${errorMessage}</div>
                        </div>
                    </#if>

                    <br>


                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4"></div>
                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                        <form class="form-horizontal" role="form" method="post" action="${labels['base.path']}/${application.id}">

                            <div class="form-group">
                                <label class="control-label" for="name">${labels["name"]}</label>
                                <input type="text" class="form-control" name="name" id="name" value="${(application.name)!}" autofocus="" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="description">${labels["description"]}</label>
                                <input type="text" class="form-control" name="description" id="description" value="${(application.description)!}"/>
                            </div>
                            
                            <div class="form-group">
                                <div class="pull-right">
                                    <a href="${cancel}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                    <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4"></div>

                </div>

            </#if>

        </div>

    </@t.page>