<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <#include "sidebar.html"/>

            </div>

            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle"></h6>
                            <h2 class="dashhead-title">${labels["applications"]}</h2>
                        </div>

                        <div class="dashhead-toolbar">
                            <p class="pull-right">
                                <a href="${labels['base.path']}/select" class="btn btn-lg btn-primary-outline" role="button">${labels["create.application"]}</a>
                            </p>
                        </div>
                    </div>
                </div>

                <br>

                <div class="hr-divider"></div>

                <br>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="content table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>${labels["name"]}</th>
                                    <th>${labels["description"]}</th>
                                    <th>${labels["status"]}</th>
                                    <th>${action}</th>
                                </thead>
                                <tbody>
                                    <#list applicationList?sort_by( "createdDate") as application>
                                        <tr id="${application.id}">
                                            <td><a href="${labels['base.path']}/${application.id}">${application.name}</a></td>
                                            <td>${application.description}</td>
                                            <td>${application.status}</td>
                                            <td><a href="${labels['base.path']}/${application.id!}/edit"><span class="icon icon-edit"></span>${messages["edit"]}</a>&nbsp;
                                                <a href="" class="confirm-delete" title="${delete}" data-toggle="modal" aria-hidden="true" data-id="${application.id}" data-message="${application.name}" data-title="${labels['delete.message']}"><span class="icon icon-trash"></span></a></td>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <#include "confirm-dialog.html"/>
        <#include "spinner.html" />

        <script>
            $('#confirm').click(function(e) {
                var id = $('#confirmDialog').data('id');
                var row = $('#'.concat(id));
                $.ajax({
                    url: '/app/applications/' + id,
                    type: 'DELETE',
                    success: function() {
                        row.remove();
                    }
                });
                $('#confirmDialog').modal('hide');
            });
        </script>

    </@t.page>