<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container">
            <div class="row">

                <#if mode="select">
                    <div class="dashhead m-t-md">
                        <div class="dashhead">
                            <h3 class="dashhead-titles">${labels["create.application"]}</h3>
                            <div class="dashhead-toolbar">
                                <div class="dashhead-toolbar-item">
                                    <ol class="breadcrumb">
                                        <li><a href="${labels['base.path']}">${messages["applications"]}</a></li>
                                        <li class="active">${labels["select.connector"]}</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hr-divider"></div>
                    <br>

                    <div class="content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th>${labels["organization.name"]}</th>
                                <th>${labels["organization.type"]}</th>
                                <th>${labels["instance.name"]}</th>
                                <th>${labels["identity.name"]}</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <#list salesforceConnectorsList?sort_by( "createdDate") as salesforceConnector>
                                    <tr id="${salesforceConnector.id}">
                                        <td>${salesforceConnector.organization.name}</td>
                                        <td>${salesforceConnector.organization.organizationType}</td>
                                        <td>${salesforceConnector.organization.instanceName}</td>
                                        <td>${salesforceConnector.identity.displayName}</td>
                                        <td><a href="/app/applications/import?id=${salesforceConnector.id}">${labels["select"]}</a></td>
                                    </tr>
                                </#list>
                            </tbody>
                        </table>
                    </div>
                </#if>
                <#if mode="import">

                    <div class="dashhead m-t-md">
                        <div class="dashhead">
                            <h3 class="dashhead-titles">${labels["create.application"]}</h3>
                            <div class="dashhead-toolbar">
                                <div class="dashhead-toolbar-item">
                                    <ol class="breadcrumb">
                                        <li><a href="${labels['base.path']}">${messages["applications"]}</a></li>
                                        <li><a href="${labels['base.path']}/new">${labels["select.connector"]}</a></li>
                                        <li class="active">${labels["import"]}</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-divider"></div>
                    <br>

                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4"></div>
                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                        <form class="form-horizontal" role="form" method="post" action="${labels['base.path']}/create">
                            <input type="hidden" name="connectorId" id="connectorId" value="${(salesforceConnector.id)!}" />

                            <div class="form-group">
                                <label class="control-label" for="name">${labels["name"]}</label>
                                <input type="text" class="form-control" name="name" id="name" autofocus="" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="description">${labels["description"]}</label>
                                <input type="text" class="form-control" name="description" id="description" />
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="importSandboxes" id="importSandboxes" value="importSandboxes">${labels["import.sandboxes"]}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="importServices" id="importServices" value="importServices">${labels["import.services"]}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <a href="${labels['base.path']}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                    <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["create"]}</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4"></div>
                </#if>
            </div>
        </div>

    </@t.page>