<#import "template.html" as t>

    <@t.page>

        <div id="status-message"></div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <#include "administration-nav.html" />
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">

            <form class="form-vertical" id="form" role="form">
                <div class="panel-body">
                    <a href="${labels['base.path']}/cache/purge" class="btn btn-lg btn-danger-outline" aria-hidden="true" role="button">${labels["purge.cache"]}</a>
                </div>
            </form>
        </div>


    </@t.page>