<#import "template.html" as t>

    <@t.page>

        <div class="container-fluid">
            <div class="container mt-3">
                <div id="success" class="alert alert-success hidden">
                    <span class="icon icon-check"></span> ${labels["success.message"]}
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="${links['connectors']}" id="back" class="btn btn-outline-primary btn-sm" role="button"><span class="icon icon-back"></span></a>&emsp;${labels["back.to.connectors"]}
                    </div>
                </div>
                <br>
                <div id="detail">
                    <#include "connector-detail.html" />
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container mt-3">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            /*-----------------------------------------------------------
             *
             *
             */

            $(document).on('click', 'button#saveConnector', function() {

                $('#loader').toggle();

                $('#saveConnector').prop("disabled", true);
                $('#cancel').prop("disabled", true);
                $('#name').prop("readonly", true);
                $('#clientId').prop("readonly", true);
                $('#clientSecret').prop("readonly", true);
                $('#username').prop("readonly", true);
                $('#password').prop("readonly", true);
                $('#success').hide();
                $('#error').hide();

                $form = $("#connectorForm");

                $.ajax({
                    method: $form.attr('method'),
                    url: $form.attr('action'),
                    dataType: "html",
                    data: $form.serialize(),
                    complete: function(response) {
                        $('#loader').toggle();
                        $('#saveConnector').prop("disabled", false);
                        $('#cancel').prop("disabled", false);
                        $('#name').prop("readonly", false);
                        $('#clientId').prop("readonly", false);
                        $('#clientSecret').prop("readonly", false);
                        $('#username').prop("readonly", false);
                        $('#password').prop("readonly", false);
                        if (response.status == 200) {
                            $('#detail').html(response.responseText);
                            $('#editConnectorModal').modal('hide');
                            $('#success').show().delay(1500).fadeOut('slow');
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }
                });

                return false;
            });
            
            /*-----------------------------------------------------------
             *
             *
             */

            $(document).on('click', 'button#refreshConnector', function() {
                
                $('#delete-spinner').toggle();
                $('#deleteConnector').prop("disabled", true);
                $('#cancel').prop("disabled", true);
                
                var href = $(this).data( 'href' );
                var redirect = $(this).data( 'redirect' );
                
                $.ajax({
                    method: 'delete',
                    url: href,
                    complete: function(response) {
                        $('#delete-spinner').toggle();
                        $('#deleteConnector').prop("disabled", false);
                        $('#cancel').prop("disabled", false);
                        if (response.status == 200) {
                            $('#confirmDelete').modal('hide');
                            $(location).attr('href', redirect);
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }
                });

                return false;
            });
            
            /*-----------------------------------------------------------
             *
             *
             */

            $(document).on('click', 'button#disconnectConnector', function() {
                
                $('#delete-spinner').toggle();
                $('#deleteConnector').prop("disabled", true);
                $('#cancel').prop("disabled", true);
                
                var href = $(this).data( 'href' );
                var redirect = $(this).data( 'redirect' );
                
                $.ajax({
                    method: 'delete',
                    url: 'connectors/:id/disconnect',
                    complete: function(response) {
                        $('#delete-spinner').toggle();
                        $('#deleteConnector').prop("disabled", false);
                        $('#cancel').prop("disabled", false);
                        if (response.status == 200) {
                            $('#confirmDelete').modal('hide');
                            $(location).attr('href', redirect);
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }
                });

                return false;
            });
            
            /*-----------------------------------------------------------
             *
             *
             */

            $(document).on('click', 'button#disconnectConnector', function() {
                
                $('#delete-spinner').toggle();
                $('#deleteConnector').prop("disabled", true);
                $('#cancel').prop("disabled", true);
                
                var href = $(this).data( 'href' );
                var redirect = $(this).data( 'redirect' );
                
                $.ajax({
                    method: 'delete',
                    url: 'connectors/:id/disconnect',
                    complete: function(response) {
                        $('#delete-spinner').toggle();
                        $('#deleteConnector').prop("disabled", false);
                        $('#cancel').prop("disabled", false);
                        if (response.status == 200) {
                            $('#confirmDelete').modal('hide');
                            $(location).attr('href', redirect);
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }
                });

                return false;
            });
            
        </script>

    </@t.page>