<div class="media mb-2">
    <img src="${connector.iconHref}" class="mr-3" alt="icon">
    <div class="media-body">
        <p class="mb-0 font-weight-normal">${connector.name!}</p>
        <p class="mb-0 font-weight-light">${connector.typeName!}
            <br>${connector.connectedAs!}</p>
    </div>
    <div class="pull-right">
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-sm" type="button" id="actionMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon icon-dots-three-horizontal"></span>
            </button>
            <div id="actionMenu" class="dropdown-menu dropdown-menu-right" aria-labelledby="actionMenuButton">
                <a href="${links['connectors']}/${connector.id}/edit" class="dropdown-item" id="editConnector">${labels['edit']}</a>
                <!-- <#if connector.isConnected> -->
                <a href="#" class="dropdown-item" id="refreshConnector" data-href="${links['connectors']}/${connector.id}/refresh">${labels['refresh']}</a>
                <a href="#" class="dropdown-item" id="disconnectConnector" data-href="${links['connectors']}/${connector.id}/disconnect">${labels['disconnect']}</a>
                <!-- </#if> -->
                <!-- <#if ! connector.isConnected> -->
                <a href="#" class="dropdown-item" id="deleteConnector" data-toggle="modal" data-target="#confirmDelete">${labels['delete']}</a>
                <!-- </#if> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <span class="font-weight-normal">${labels["status"]}:</span>
    </div>
    <div class="col-10">
        <!-- <#if connector.isConnected> -->
        <span class="text-success">${connector.status!}&nbsp;</span>${labels["on"]}
        <span class="font-weight-light">${(connector.connectedOn?date?string.long)!} ${(connector.connectedOn?time?string.medium)!}</span>
        <!-- <#else> -->
        <span class="text-danger text-truncate">${connector.status!}</span>
        <!-- </#if> -->
    </div>
</div>
<div class="row">
    <div class="col-2">
        <b>${labels["sandbox"]}:</b>
    </div>
    <div class="col-10">
        <!-- <#if connector.isSandbox> -->
        ${labels["yes"]}
        <!-- <#else> -->
        ${labels["no"]}
        <!-- </#if> -->
    </div>
</div>
<hr>
<div class="modal fade" id="editConnectorModal" role="dialog" aria-labelledby="editConnectorLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editConnectorLabel">${labels["edit.connector"]}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="media mb-2">
                            <img src="${connector.iconHref}" class="mr-3" alt="icon">
                            <div class="media-body">
                                <p class="mb-0 font-weight-normal">${connector.name!}</p>
                                <p class="mb-0 font-weight-light">${connector.typeName!}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="form-vertical" name="connectorForm" id="connectorForm" role="form" method="post" action="${links['connectors']}/${connector.id}/update">
                    <div class="form-group">
                        <label for="name" class="col-form-label">${labels["name"]}</label>
                        <input type="text" name="name" id="name" class="form-control" value="${connector.name!}" required autofocus>
                    </div>
                    <!-- <#if ! connector.isConnected> -->
                    <div class="form-group">
                        <label for="clientId" class="col-form-label">${labels["client.id"]}</label>
                        <input type="text" name="clientId" id="clientId" class="form-control" value="${connector.clientId!}" required>
                    </div>
                    <div class="form-group">
                        <label for="clientSecret" class="col-form-label">${labels["client.secret"]}</label>
                        <input type="password" name="clientSecret" id="clientSecret" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">${labels["username"]}</label>
                        <input type="text" name="username" id="username" class="form-control" value="${connector.username!}" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">${labels["password"]}</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <!-- </#if> -->
                    <div class="form-group">
                        <label for="isSandbox" class="col-form-label">${labels["sandbox"]}</label>
                        <!-- <#if connector.isSandbox> -->
                        <input type="isSandbox" name="isSandbox" id="isSandbox" class="form-control" value="${labels['yes']}" readonly>
                        <!-- <#else> -->
                        <input type="isSandbox" name="isSandbox" id="isSandbox" class="form-control" value="${labels['no']}" readonly>
                        <!-- </#if> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="edit-spinner" class="loader"></div>
                <button class="btn btn-link" id="cancel" class="close" data-dismiss="modal">${labels["cancel"]}</button>
                <button class="btn btn-success" id="saveConnector">${labels["save"]}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">${labels["confirm.delete"]}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>${labels["confirm.delete.message"]}</p>
                <div class="card">
                    <div class="card-body">
                        <div class="media mb-2">
                            <img src="${connector.iconHref}" class="mr-3" alt="icon">
                            <div class="media-body">
                                <p class="mb-0 font-weight-normal">${connector.name!}</p>
                                <p class="mb-0 font-weight-light">${connector.typeName!}
                                    <br>${connector.connectedAs!}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="delete-spinner" class="loader"></div>
                <button class="btn btn-link" id="cancel" class="close" data-dismiss="modal">${labels["cancel"]}</button>
                <button class="btn btn-danger" id="deleteConnector" data-href="${links['connectors']}/${connector.id}/delete" data-redirect="${links['connectors']}">${messages["confirm"]}</button>
            </div>
        </div>
    </div>
</div>
<div id="wait" class="spinner"></div>