<div class="media mb-2">
    <img src="${connector.iconHref}" class="mr-3" alt="icon">
    <div class="media-body">
        <p class="mb-0 font-weight-normal">${connector.name!}</p>
        <p class="mb-0 font-weight-light">${connector.typeName!}
            <br>${connector.connectedAs!}</p>
    </div>
    <div class="pull-right">
        <div class="dropdown">
            <button class="btn btn-outline-primary btn-sm" type="button" id="dropDownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon icon-dots-three-horizontal"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropDownMenuButton">
                <a href="#" class="dropdown-item" id="editConnector" data-toggle="modal" data-target="#editConnectorModal">${labels['edit']}</a>
                <a href="#" class="dropdown-item" id="deleteConnector" data-toggle="modal" data-target="#confirmDelete">${labels['delete']}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p><span class="mb-0 font-weight-normal">${labels["status"]}:&nbsp;</span>
            <#if connector.isConnected>
                <span class="mb-0 text-success">${connector.status!}&emsp;</span>
                <span class="mb-0 font-weight-normal">${labels["connected.on"]}:&nbsp;</span>
                <span class="mb-0 font-weight-light">${(connector.connectedOn?date?string.long)!} ${(connector.connectedOn?time?string.medium)!}</span>
            </#if>
            <#if ! connector.isConnected>
                <span class="mb-0 text-danger text-truncate">${connector.status!}</span>
            </#if>
        </p>
    </div>
</div>
<div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">${labels["confirm.delete"]}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>${labels["confirm.delete.message"]}</p>
                <div class="card">
                    <div class="card-body">
                        <div class="media mb-2">
                            <img src="${connector.iconHref}" class="mr-3" alt="icon">
                            <div class="media-body">
                                <p class="mb-0 font-weight-normal">${connector.name!}</p>
                                <p class="mb-0 font-weight-light">${connector.typeName!}
                                    <br>${connector.connectedAs!}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="delete-spinner" class="loader"></div>
                <button class="btn btn-link" id="cancel" class="close" data-dismiss="modal">${labels["cancel"]}</button>
                <button class="btn btn-danger" id="deleteConnector" data-href="${links['connectors']}/${connector.id}/delete" data-redirect="${links['connectors']}">${messages["confirm"]}</button>
            </div>
        </div>
    </div>
</div>