<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h3 class="dashhead-title">${labels["environment.detail"]}</h3>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <div class="row">

                <br>

                <div id="message"></div>

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <#if successMessage??>
                    <div id="success" class="alert alert-success">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="text-center">${successMessage!}</div>
                    </div>
                </#if>

                <#if mode=="add" || mode=="edit">

                    <form id="enviroment-form" name="enviroment-form" method="post" action="${action}">

                        <div class="row">
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="environmentName">${labels["environment.name"]}</label>
                                    <#if environment.isReadOnly>
                                        <input type="text" class="form-control" value="${(environment.environmentName)!}" disabled tabindex="1" />
                                    </#if>
                                    <#if ! environment.isReadOnly>
                                        <input type="text" class="form-control" name="environmentName" id="environmentName" value="${(environment.environmentName)!}" required autofocus="" tabindex="1" />
                                    </#if>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="authEndpoint">${labels["auth.endpoint"]}</label>
                                    <#if environment.isReadOnly>
                                        <input type="text" class="form-control" value="${(environment.authEndpoint)!}" disabled tabindex="2" />
                                    </#if>

                                    <#if ! environment.isReadOnly>
                                        <select id="authEndpoint" name="authEndpoint" class="form-control" required tabindex="2">
                                            <#if environment.authEndpoint=="https://login.salesforce.com">
                                                <option value="https://login.salesforce.com" selected>Production - https://login.salesforce.com</option>
                                                <option value="https://test.salesforce.com">Sandbox - https://test.salesforce.com</option>
                                            </#if>
                                            <#if environment.authEndpoint !="https://login.salesforce.com">
                                                <option value="https://login.salesforce.com">Production - https://login.salesforce.com</option>
                                                <option value="https://test.salesforce.com" selected>Sandbox - https://test.salesforce.com</option>
                                            </#if>
                                        </select>
                                    </#if>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="username">${labels["username"]}</label>
                                    <#if environment.isReadOnly>
                                        <input type="text" class="form-control" value="${(environment.username)!}" disabled tabindex="3" />
                                    </#if>
                                    <#if ! environment.isReadOnly>
                                        <input type="text" class="form-control" name="username" id="username" value="${(environment.username)!}" required tabindex="3" />
                                    </#if>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="password">${labels["password"]}</label>
                                    <#if environment.isReadOnly>
                                        <input type="password" class="form-control" value="${(environment.password)!}" disabled tabindex="4" />
                                    </#if>
                                    <#if ! environment.isReadOnly>
                                        <input type="password" class="form-control" name="password" id="password" value="${(environment.password)!}" required tabindex="4" />
                                    </#if>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="securityToken">${labels["security.token"]}</label>
                                    <#if environment.isReadOnly>
                                        <input type="password" class="form-control" value="${(environment.securityToken)!}" disabled tabindex="5" />
                                    </#if>
                                    <#if ! environment.isReadOnly>
                                        <input type="password" class="form-control" name="securityToken" id="securityToken" value="${(environment.securityToken)!}" required tabindex="5" />
                                    </#if>
                                </div>

                                <#if mode=="edit">

                                    <div class="form-group">
                                        <label class="control-label" for="organization">${labels["organization.name"]}</label>
                                        <input type="text" class="form-control" name="organization" id="organization" value="${(environment.organizationName)!}" disabled tabindex="6" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="serviceEndpoint">${labels["service.endpoint"]}</label>
                                        <input type="text" class="form-control" name="serviceEndpoint" id="serviceEndpoint" value="${(environment.serviceEndpoint)!}" disabled tabindex="7" />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="apiVersion">${labels["api.version"]}</label>
                                        <input type="text" class="form-control" name="apiVersion" id="apiVersion" value="${(environment.apiVersion)!}" disabled tabindex="8" />
                                    </div>

                                </#if>

                                <div class="form-group">
                                    <div class="pull-right">
                                        <a href="${labels['base.path']}/${id}#environments" class="btn btn-default" role="button" tabindex="9">${labels["cancel"]}</a>
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary" tabindex="15">${labels["save"]}</button>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-md-4"></div>
                        </div>

                    </form>

                </#if>

                <#if mode=="view">
                    <div class="row">

                        <br>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <dl class="dl-vertical">
                                <dt>${labels["environment.name"]}</dt>
                                <dd>${(environment.environmentName)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["username"]}</dt>
                                <dd>${(environment.username)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["organization.name"]}</dt>
                                <dd>${(environment.organizationName)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["service.endpoint"]}</dt>
                                <dd>${(environment.serviceEndpoint)!}&emsp;</dd>
                                <hr>
                                <dt>${messages["added.on"]}</dt>
                                <dd>${(environment.addedOn?date?string.iso)!} ${environment.addedOn?time?string.medium!}</dd>
                            </dl>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                            <dl class="dl-vertical">
                                <dt>${labels["auth.endpoint"]}</dt>
                                <dd>${(environment.authEndpoint)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["user.id"]}</dt>
                                <dd>${(environment.userId)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["organization.id"]}</dt>
                                <dd>${(environment.organizationId)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["api.version"]}</dt>
                                <dd>${(environment.apiVersion)!}&emsp;</dd>
                                <hr>
                                <dt>${messages["updated.on"]}</dt>
                                <dd>${(environment.updatedOn?date?string.iso)!} ${environment.updatedOn?time?string.medium!}</dd>
                            </dl>

                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>

                        <div class="form-group col-md-12">
                            <div class="pull-right">
                                <a href="${labels['base.path']}/${id}#environments" id="back" class="btn btn-default" role="button">${labels["back"]}</a>
                                <a href="${labels['base.path']}/${id}/environments/${(environment.key)!}/edit" id="edit" class="btn btn-default" role="button">${labels["edit"]}</a>
                                <a href="${labels['base.path']}/${id}/environments/${(environment.key)!}/test" id="test-connection" class="btn btn-default" role="button">${labels["test.connection"]}</a>
                                <#if environment.isSandbox>
                                    <a href="#" data-toggle="modal" aria-hidden="true" data-href="${labels['base.path']}/${id}/environments/${environment.key}" data-id="${environment.key}" data-title="${labels['remove.environment']}" data-message="${labels['environment.name']}: ${environment.environmentName}" id="delete" class="confirm-delete btn btn-danger" role="button">${labels["delete"]}</a>
                                </#if>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>

                    <div id="sobjects" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="flextable">
                                <div class="flextable-item flextable-primary">
                                    <h3 class="dashhead-title">${labels["sobjects"]}</h3>
                                </div>
                            </div>
                            <br>
                            <div class="hr-divider"></div>
                            <br>
                            <div class="row">
                                <#list environment.sobjects?sort_by( "label") as sobject>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <#if icons[ "${sobject.name}"]??>
                                                            <img src="${icons['${sobject.name}']}" />
                                                        </#if>
                                                        <#if ! icons[ "${sobject.name}"]??>
                                                            <img src="/images/salesforce-logo.png" style="height:32px; width=32px" />
                                                        </#if>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">${(sobject.name)!}</h4> ${(sobject.label)!}
                                                    </div>
                                                    <table class="table">
                                                        <thead>
                                                            <th class="col-md-1 text-center">${labels["query"]}</th>
                                                            <th class="col-md-1 text-center">${labels["create"]}</th>
                                                            <th class="col-md-1 text-center">${labels["update"]}</th>
                                                            <th class="col-md-1 text-center">${labels["delete"]}</th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center ${sobject.queryable?then('text-success', 'text-danger')}"><span class="icon ${sobject.queryable?then('icon-check', 'icon-cross')}"></span></td>
                                                                <td class="text-center ${sobject.createable?then('text-success', 'text-danger')}"><span class="icon ${sobject.createable?then('icon-check', 'icon-cross')}"></span></td>
                                                                <td class="text-center ${sobject.updateable?then('text-success', 'text-danger')}"><span class="icon ${sobject.updateable?then('icon-check', 'icon-cross')}"></span></td>
                                                                <td class="text-center ${sobject.deletable?then('text-success', 'text-danger')}"><span class="icon ${sobject.deletable?then('icon-check', 'icon-cross')}"></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </#list>
                            </div>
                        </div>
                    </div>
                </#if>
            </div>
        </div>

        <#include "confirm-dialog.html"/>
        <#include "spinner.html"/>

        <script>
            $('#test-connection').click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: $("#enviroment-form").serialize(),
                    url: "${labels['base.path']}/${id}/environments/${(environment.key)!}/test",
                    success: function(response) {
                        var environment = response;
                        if (environment.isValid) {
                            $('#message').html('<div class="alert alert-success fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">&times;</button><div class="text-center">' + environment.testMessage + '</div></div>');
                        } else {
                            $('#message').html('<div class="alert alert-danger fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">&times;</button><div class="text-center">' + environment.testMessage + '</div></div>');
                        }
                    }
                });
            });
        </script>

        <script src="/js/environment.js"></script>

    </@t.page>