<#import "template.html" as t>

    <@t.page>


        <!-- <#if step=="select-type"> -->

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title"><span class="badge badge-pill badge-info">1</span>&nbsp;${labels["select.job.type"]}</h3>
            </div>
        </div>

        <br>

        <div class="content table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>${labels["name"]}</th>
                    <th>${labels["description"]}</th>
                    <th>${labels["connector.type"]}</th>
                    <th></th>
                </thead>
                <tbody>
                    <#list jobTypeList?sort_by( "createdOn") as jobType>
                        <tr>
                            <td>${jobType.name}</td>
                            <td class="p-r">${jobType.description}</td>
                            <td>${jobType.connectorType.name}</td>
                            <td><a href="${labels['base.path']}/new/select-connector?jobTypeId=${jobType.id}">${labels["select"]}</a></td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>

        <br>

        <div class="pull-right">
            <a href="${labels['base.path']}" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
        </div>

        <!-- </#if> -->

        <!-- <#if step=="select-connector"> -->

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title"><span class="badge badge-pill badge-default">1</span>&nbsp;${labels["job.type"]}</h3>
            </div>
            <div class="dashhead-toolbar">
                <p class="pull-right">
                    <a href="${labels['base.path']}/new/select-type" class="btn btn-primary" role="button">${labels["change"]}</a>
                </p>
            </div>
        </div>

        <br>

        <dl class="dl-horizontal">
            <dt>${labels["name"]}</dt>
            <dd>${jobType.name}</dd>
            <hr>
            <dt>${labels["description"]}</dt>
            <dd>${jobType.description}</dd>
            <hr>
            <dt>${labels["connector.type"]}</dt>
            <dd>${jobType.connectorType.name}</dd>
            <hr>
        </dl>

        <br>

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title"><span class="badge badge-pill badge-info">2</span>&nbsp;${labels["select.connector"]}</h3>
            </div>
        </div>

        <br>

        <div class="content table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>${labels["name"]}</th>
                    <th>${labels["organization.name"]}</th>
                    <th>${labels["organization.type"]}</th>
                    <th>${labels["instance.name"]}</th>
                    <th>${labels["identity.name"]}</th>
                    <th></th>
                </thead>
                <tbody>
                    <#list salesforceConnectorsList?sort_by( "createdOn") as salesforceConnector>
                        <tr>
                            <td>${(salesforceConnector.name)!}</td>
                            <td>${salesforceConnector.organization.name}</td>
                            <td>${salesforceConnector.organization.organizationType}</td>
                            <td>${salesforceConnector.organization.instanceName}</td>
                            <td>${salesforceConnector.identity.displayName}</td>
                            <td><a href="${labels['base.path']}/new/select-environment?jobTypeId=${jobType.id}&connectorId=${salesforceConnector.id}">${labels["select"]}</a></td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>

        <br>

        <div class="pull-right">
            <a href="${labels['base.path']}" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
        </div>

        <!-- </#if> -->

        <!-- <#if step=="select-environment"> -->

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title"><span class="badge badge-pill badge-default">1</span>&nbsp;${labels["job.type"]}</h3>
            </div>
            <div class="dashhead-toolbar">
                <p class="pull-right">
                    <a href="${labels['base.path']}/new/select-type" class="btn btn-primary" role="button">${labels["change"]}</a>
                </p>
            </div>
        </div>

        <br>

        <dl class="dl-horizontal">
            <dt>${labels["name"]}</dt>
            <dd>${jobType.name}&emsp;</dd>
            <hr>
            <dt>${labels["description"]}</dt>
            <dd>${jobType.description}</dd>
            <hr>
            <dt>${labels["connector.type"]}</dt>
            <dd>${jobType.connectorType.name}</dd>
            <hr>
        </dl>

        <br>

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title"><span class="badge badge-pill badge-default">2</span>&nbsp;${labels["connector"]}</h3>
            </div>
            <div class="dashhead-toolbar">
                <p class="pull-right">
                    <a href="${labels['base.path']}/new/select-connector?jobTypeId=${jobType.id}" class="btn btn-primary" role="button">${labels["change"]}</a>
                </p>
            </div>
        </div>

        <br>

        <dl class="dl-horizontal">
            <dt>${labels["name"]}</dt>
            <dd>${(salesforceConnector.name)!}</dd>
            <hr>
            <dt>${labels["organization.name"]}</dt>
            <dd>${salesforceConnector.organization.name}</dd>
            <hr>
            <dt>${labels["instance.name"]}</dt>
            <dd>${salesforceConnector.organization.instanceName}</dd>
            <hr>
        </dl>

        <br>

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title"><span class="badge badge-pill badge-info">3</span>&nbsp;${labels["select.instance"]}</h3>
            </div>
        </div>

        <br>

        <div class="content table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>${labels["name"]}</th>
                    <th>${labels["service.endpoint"]}</th>
                    <th>${labels["api.version"]}</th>
                    <th></th>
                </thead>
                <tbody>
                    <#list salesforceConnector.instances?sort_by( "addedOn") as instance>
                        <tr>
                            <td>${(instance.name)!}</td>
                            <td>${(instance.serviceEndpoint)!}</td>
                            <td>${(instance.apiVersion)!}</td>
                            <td><a href="${labels['base.path']}/new/set-schedule?jobTypeId=${jobType.id}&connectorId=${salesforceConnector.id}&instanceKey=${instance.key}">${labels["select"]}</a></td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>

        <br>

        <div class="pull-right">
            <a href="${labels['base.path']}" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
        </div>

        <!-- </#if> -->

    </@t.page>