<#import "template.html" as t>

    <@t.page>

        <#if mode="edit">
            <#if errorMessage??>
                <div id="alert" class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <div class="text-center">${errorMessage}</div>
                </div>
            </#if>
            <div class="dashhead m-t-md">
                <div class="dashhead-titles">
                    <h3 class="dashhead-title">${labels["edit.job.specification"]}</h3>
                </div>
            </div>
            <div class="hr-divider"></div>
            <br>
            <form class="form-vertical" role="form" method="post" action="${action}">
                <input type="hidden" name="id" id="id" value="${jobSpecification.id}" />
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="notificationEmail">${labels["notification.email"]}*</label>
                        <input type="text" class="form-control" name="notificationEmail" id="notificationEmail" value="${(jobSpecification.notificationEmail)!}" required autofocus="" />
                    </div>
                    <div class="col-md-10"></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="description">${labels["description"]}</label>
                        <textarea class="form-control" name="description" id="description" rows="3">${(jobSpecification.description)!}</textarea>
                    </div>
                    <div class="col-md-10"></div>
                </div>
<!--
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="start">${labels["start"]}*</label>
                        <div class="input-group">
                            <input type="text" id="start" name="start" value="${(jobSpecification.start?date?string.iso)!}" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" required>
                            <span class="input-group-addon"><span class="icon icon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="seconds">${labels["seconds"]}</label>
                        <div class="input-group">
                            <input type="text" id="seconds" name="seconds" value="${(jobSpecification.seconds)!}" class="form-control"/>
                             <span class="input-group-addon">[0,59]</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="minutes">${labels["minutes"]}</label>
                        <div class="input-group">
                            <input type="text" id="minutes" name="minutes" value="${(jobSpecification.minutes)!}" class="form-control"/>
                             <span class="input-group-addon">[0,59]</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="hours">${labels["hours"]}</label>
                        <div class="input-group">
                            <input type="text" id="hours" name="hours" value="${(jobSpecification.hours)!}" class="form-control"/>
                            <span class="input-group-addon">[0,23]</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                 <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="dayOfMonth">${labels["day.of.month"]}</label>
                        <div class="input-group">
                            <input type="text" id="dayOfMonth" name="dayOfMonth" value="${(jobSpecification.dayOfMonth)!}" class="form-control"/>
                            <span class="input-group-addon">[1,31] ${labels["or"]} ${labels["last"]}</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="month">${labels["month"]}</label>
                        <div class="input-group">
                            <input type="text" id="month" name="month" value="${(jobSpecification.month)!}" class="form-control"/>
                            <span class="input-group-addon">[1,12]</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="dayOfWeek">${labels["day.of.week"]}</label>
                        <div class="input-group">
                            <input type="text" id="dayOfWeek" name="dayOfWeek" value="${(jobSpecification.dayOfWeek)!}" class="form-control"/>
                            <span class="input-group-addon">[0,7]</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="year">${labels["year"]}</label>
                        <div class="input-group">
                            <input type="text" id="year" name="year" value="${(jobSpecification.year)!}" class="form-control"/>
                            <span class="input-group-addon">${labels["year.format"]}</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
 -->               
                <div class="row">
                    <div class="form-group col-md-2">
                        <div class="pull-right">
                            <a href="${cancel}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                            <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
            </form>
        </#if>
    </@t.page>