<#import "template.html" as t>

    <@t.page>
        <#if successMessage??>
            <div id="success" class="alert alert-success">
                <a class="close" data-dismiss="alert">&times;</a>
                <div class="text-center">${successMessage!}</div>
            </div>
        </#if>
        <div>
            <a href="${labels['base.path']}" id="back" class="btn btn-outline-primary btn-sm" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.scheduled.jobs"]}
        </div>
        <br>
        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <div class="dashhead-titles">
                    <h3 class="dashhead-title">${labels["job.specification"]}</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="btn-toolbar" role="toolbar">
            <button type="button" id="edit-job-specification" class="btn btn-primary" data-toggle="modal" data-target="#schedule-dialog">${labels["edit"]}</button>&emsp;
        </div>
        <br>

        <div class="row">

            <div class="col-md-3">

                <dl class="dl-vertical">
                    <dt>${labels["owner"]}</dt>
                    <dd>${(jobSpecification.owner.name)!}</dd>
                    <hr>
                    <dt>${labels["connector.type"]}</dt>
                    <dd><a href="${connectorHref!}">${(jobSpecification.jobType.connectorType.name)!}</a>&emsp;</dd>
                    <hr>
                    <dt>${labels["instance.name"]}</dt>
                    <dd>${(jobSpecification.connector.instance.name)!}&emsp;</dd>
                    <hr>
                    <dt>${labels["status"]}</dt>
                    <!--  <#if jobSpecification.status == "Stopped"> -->
                    <dd class="text-danger">
                        <!-- </#if> -->
                        <!--  <#if jobSpecification.status == "Scheduled"> -->
                        <dd class="text-success">
                            <!-- </#if> -->
                            ${(jobSpecification.status)!}&emsp;
                        </dd>
                        <hr>
                </dl>
            </div>

            <div class="col-md-3">

                <dl class="dl-vertical">
                    <dt>${labels["next.run.date"]}</dt>
                    <dd>${(jobSpecification.start?date?string.iso)!} ${(jobSpecification.start?time?string["HH:mm"])!}&emsp;</dd>
                    <hr>
                    <dt>${labels["last.run.status"]}</dt>
                    <!--  <#if jobSpecification.lastRunStatus?? && jobSpecification.lastRunStatus == "Failure"> -->
                    <dd class="text-danger">
                        <!-- </#if> -->
                        <!--  <#if jobSpecification.lastRunStatus?? && jobSpecification.lastRunStatus == "Success"> -->
                        <dd class="text-success">
                            <!-- </#if> -->
                            ${(jobSpecification.lastRunStatus)!}&emsp;
                            <!--  <#if jobSpecification.lastRunStatus?? && jobSpecification.lastRunStatus == "Failure"> -->
                            <span class="icon icon-squared-cross"></span>&emsp;${jobSpecification.lastRunFailureMessage!}</dd>
                        <!-- </#if> -->
                        <hr>
                        <dt>${labels["last.run.date"]}</dt>
                        <dd>${(jobSpecification.lastRunDate?date?string.iso)!} ${(jobSpecification.lastRunDate?time?string["HH:mm"])!}&emsp;</dd>
                        <hr>
                        <dt>${labels["notification.email"]}</dt>
                        <dd>${(jobSpecification.notificationEmail)!}&emsp;</dd>
                        <hr>
                </dl>
            </div>

            <div class="col-md-6">

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <dl class="dl-vertical">
                    <dt>${labels["description"]}</dt>
                    <dd>${jobSpecification.description!}&emsp;</dd>
                </dl>

            </div>

            <div class="col-md-6">

            </div>

        </div>

        <br>
        <div class="hr-divider"></div>
        <br>

        <div class="row" id="settings">
            <br>
            <div class="col-md-6">
                <dl class="dl-vertical">
                    <dt>${labels["created.by"]}</dt>
                    <dd><a href="${createdByHref}">${(jobSpecification.createdBy.name)!}</a>, ${jobSpecification.createdOn?date?string.long!} ${jobSpecification.createdOn?time?string.medium!}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-vertical">
                    <dt>${labels["last.modified.by"]}</dt>
                    <dd><a href="${lastModifiedByHref}">${(jobSpecification.lastUpdatedBy.name)!}</a>, ${jobSpecification.lastUpdatedOn?date?string.long!} ${jobSpecification.lastUpdatedOn?time?string.medium!}</dd>
                </dl>
            </div>
        </div>

        <div class="modal fade" id="schedule-dialog" tabindex="-1" role="dialog" aria-labelledby="edit-schedule-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-schedule-title">${labels["edit.job.specification"]}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <#include "spinner.html"/>
                        <div id="error"></div>
                        <form class="form-vertical" name="schedule-form" id="schedule-form" role="form" action="${action}">
                            <input type="hidden" name="id" id="id" value="${jobSpecification.id}" />
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="notificationEmail">${labels["notification.email"]}*</label>
                                    <input type="text" class="form-control" name="notificationEmail" id="notificationEmail" value="${(jobSpecification.notificationEmail)!}" required autofocus="" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="description">${labels["description"]}</label>
                                    <textarea class="form-control" name="description" id="description" rows="3">${(jobSpecification.description)!}</textarea>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="start">${labels["start"]}*</label>
                                    <div class="input-group">
                                        <input type="text" id="start" name="start" value="${(jobSpecification.start?date?string.iso)!}" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" required>
                                        <span class="input-group-addon"><span class="icon icon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="seconds">${labels["seconds"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="seconds" name="seconds" value="${(jobSpecification.seconds)!}" class="form-control" />
                                        <span class="input-group-addon">[0,59]</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="minutes">${labels["minutes"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="minutes" name="minutes" value="${(jobSpecification.minutes)!}" class="form-control" />
                                        <span class="input-group-addon">[0,59]</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="hours">${labels["hours"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="hours" name="hours" value="${(jobSpecification.hours)!}" class="form-control" />
                                        <span class="input-group-addon">[0,23]</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="dayOfMonth">${labels["day.of.month"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="dayOfMonth" name="dayOfMonth" value="${(jobSpecification.dayOfMonth)!}" class="form-control" />
                                        <span class="input-group-addon">[1,31] ${labels["or"]} ${labels["last"]}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="month">${labels["month"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="month" name="month" value="${(jobSpecification.month)!}" class="form-control" />
                                        <span class="input-group-addon">[1,12]</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="dayOfWeek">${labels["day.of.week"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="dayOfWeek" name="dayOfWeek" value="${(jobSpecification.dayOfWeek)!}" class="form-control" />
                                        <span class="input-group-addon">[0,7]</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="year">${labels["year"]}</label>
                                    <div class="input-group">
                                        <input type="text" id="year" name="year" value="${(jobSpecification.year)!}" class="form-control" />
                                        <span class="input-group-addon">${labels["year.format"]}</span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">${labels["cancel"]}</button>
                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                    </div>
                </div>
            </div>
        </div>

    </@t.page>