<#import "template.html" as t>

    <@t.page>
        <div>
            <a href="${links['jobs']}" id="back" class="btn btn-outline-primary btn-sm" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.jobs.list"]}
        </div>
        <br>
        <div class="hr-divider"></div>
        <br>
        <div id="error"></div>
        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <div class="dashhead-titles">
                    <h3 class="dashhead-title">${labels["job.detail"]}</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="btn-toolbar" role="toolbar">
            <button type="button" id="edit-job" class="btn btn-primary" data-toggle="modal" data-target="#job-dialog">${labels["edit"]}</button>&nbsp;
            <button type="button" id="run" class="btn btn-secondary" data-href="${links['jobs']}/${job.id!}/run">${labels["run"]}</button>&nbsp;
        </div>
        <br>
        <div class="hr-divider"></div>
        <br>
        <div class="row">

            <div class="col-4">

                <dl class="dl-vertical">
                    <dt>${labels["owner"]}</dt>
                    <dd>${(job.owner.name)!}</dd>
                    <hr>
                    <dt>${labels["source.type"]}</dt>
                    <dd>${(job.source.type)!}&emsp;</dd>
                    <hr>
                    <dt>${labels["status"]}</dt>
                    <!--  <#if job.status == "Stopped"> -->
                    <dd class="text-danger">
                        <!-- </#if> -->
                        <!--  <#if job.status == "Complete"> -->
                        <dd class="text-success">
                            <!-- </#if> -->
                            ${(job.status)!}&emsp;
                        </dd>
                        <hr>
                        <dt>${labels["notification.email"]}</dt>
                        <dd>${(job.notificationEmail)!}&emsp;</dd>
                        <hr>
                </dl>
            </div>

            <div class="col-4">

                <dl class="dl-vertical">
                    <dt>${labels["next.run.date"]}</dt>
                    <dd>${(job.nextFireTime?date?string.iso)!} ${(job.nextFireTime?time?string["HH:mm"])!}&emsp;</dd>
                    <hr>
                    <dt>${labels["schedule.option"]}</dt>
                    <dd>${job.scheduleOption}</dd>
                    <hr>
                    <dt>${labels["last.run.date"]}</dt>
                    <dd>${(job.fireTime?date?string.iso)!} ${(job.fireTime?time?string["HH:mm"])!}&emsp;</dd>
                    <hr>
                    <dt>${labels["number.of.executions"]}</dt>
                    <dd>${job.numberOfExecutions}</dd>
                    <hr>
                </dl>
            </div>

        </div>

        <div class="row">

            <div class="col-8">

                <dl class="dl-vertical">
                    <dt>${labels["webhook.url"]}</dt>
                    <dd>${(job.slackWebhookUrl)!}&emsp;
                        <#if (job.slackWebhookUrl)??>
                        &emsp;&emsp;<div class="pull-right"><button type="button" id="test-webhook" title="${labels['test']}" class="btn btn-outline-primary btn-sm"><span class="icon icon-flash fa fa-1x"></span></button></div></#if></dd>
                    <hr>
                    <dt>${labels["description"]}</dt>
                    <dd>${job.description!}&emsp;</dd>
                    <hr>
                </dl>

            </div>

        </div>

        <div class="row">

            <div class="col-4">

                <dl class="dl-vertical">
                    <dt>${labels["created.by"]}</dt>
                    <dd><a href="${links['account.profile']}/${job.createdBy.id}">${job.createdBy.name}</a>, ${job.createdOn?date?string.long!} ${job.createdOn?time?string.medium!}</dd>
                </dl>
            </div>

            <div class="col-4">

                <dl class="dl-vertical">
                    <dt>${labels["last.updated.by"]}</dt>
                    <dd><a href="${links['account.profile']}/${job.lastUpdatedBy.id}">${job.lastUpdatedBy.name}</a>, ${job.lastUpdatedOn?date?string.long!} ${job.lastUpdatedOn?time?string.medium!}</dd>
                </dl>
            </div>

        </div>

        <br>

        <br>
        <div class="hr-divider"></div>
        <br>

        <div id="job-executions" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["job.executions"]}</h3>
                    </div>
                </div>
                <br>
                <div class="content table-responsive">
                    <table class="table">
                        <thead>
                            <th>${labels["fire.instance.id"]}</th>
                            <th>${labels['fire.time']}</th>
                            <th>${labels["status"]}</th>
                            <th class="text-right">${labels["job.run.time"]}</th>
                        </thead>
                        <tbody>
                            <#list job.jobExecutions?sort_by( "fireTime") as jobExecution>
                                <tr id="${jobExecution.fireInstanceId}">
                                    <td>${jobExecution.fireInstanceId}</td>
                                    <td>${jobExecution.fireTime?date?string.long} ${jobExecution.fireTime?time?string.medium}</td>
                                    <td>${jobExecution.status} ${(jobExecution.failureMessage)!}</td>
                                    <td class="text-right">${jobExecution.jobRunTime}</td>
                                </tr>
                            </#list>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="hr-divider"></div>
        <br>

        <div id="job-outputs" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["job.outputs"]}</h3>
                    </div>
                </div>
                <br>
                <div class="content table-responsive">
                    <table class="table">
                        <thead>
                            <th>${labels["type"]}</th>
                            <th>${labels["file.name"]}</th>
                            <th>${labels["added.on"]}</th>
                            <th class="text-right">${labels["file.size"]}</th>
                            <th class="text-right">${labels["download"]}</th>
                        </thead>
                        <tbody>
                            <#list job.jobOutputs?sort_by( "addedOn") as jobOutput>
                                <tr>
                                    <td>${jobOutput.type}</td>
                                    <td>${jobOutput.filename}</td>
                                    <td>${jobOutput.addedOn?date?string.long} ${jobOutput.addedOn?time?string.medium}</td>
                                    <td class="text-right">${jobOutput.filesize}</td>
                                    <td class="text-right"><a href="${links['jobs']}/${job.id}/download?filename=${jobOutput.filename}" download="${jobOutput.filename}"><span class="icon icon-download"></span></a></td>
                                </tr>
                            </#list>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="job-dialog" tabindex="-1" role="dialog" aria-labelledby="edit-job-dialog-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-job-dialog-title">${labels["edit.job"]}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-vertical" name="schedule-form" id="schedule-form" role="form" method="post" action="">

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="description">${labels["description"]}</label>
                                    <textarea class="form-control" name="description" id="description" rows="6" autofocus="">${job.description!}</textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="notificationEmail">${labels["notification.email"]}</label>
                                    <input type="text" class="form-control" name="notificationEmail" id="notificationEmail" value="" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="webhookUrl">${labels["webhook.url"]}</label>
                                    <input type="text" class="form-control" name="webhookUrl" id="webhookUrl" value="" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">${labels["cancel"]}</button>
                        <button type="button" id="update-job" class="btn btn-primary">${labels["save"]}</button>
                    </div>
                </div>
            </div>
        </div>

        <script>

            $("#run").click(function(e) {
                e.preventDefault();

                $.ajax({
                    method: 'POST',
                    url: "${links['jobs']}/${job.id!}/run",
                    dataType: "html",
                    complete: function(response) {
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    location.href = "${links['jobs']}/${job.id}";
                                });
                            }, 1000);
                        } else {
                            $("#error").prepend(response.responseText);
                        }
                    }
                });
            });
            
            $("#test-webhook").click(function(e) {
                e.preventDefault();

                $.ajax({
                    method: 'POST',
                    url: "${links['jobs']}/${job.id!}/webhook-test",
                    complete: function(response) {
                        
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    
                                });
                            }, 1000);
                        } else {
                            $("#error").prepend(response.responseText);
                        }
                    }
                });
            });
        </script>

    </@t.page>