<#import "template.html" as t>

    <@t.page>
        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h3 class="dashhead-title">${labels["setup.metadata.backup"]}</h3>
            </div>
        </div>
        <br>
        <div id="error"></div>
        <div>
            <form class="form-vertical" name="schedule-form" id="schedule-form" role="form" method="post" action="${service.href}">

                <input type="hidden" class="form-control" name="jobTypeId" id="jobTypeId" value="${service.serviceId}" />

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="notificationEmail">${labels["notification.email"]}*</label>
                        <input type="text" class="form-control" name="notificationEmail" id="notificationEmail" value="" required autofocus="" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="description">${labels["description"]}</label>
                        <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                    </div>

                </div>

                <div class="radio">
                    <label>
                        <input type="radio" name="scheduleOption" id="runWhenSubmitted" value="RUN_WHEN_SUBMITTED" checked> ${labels["run.when.submitted"]}</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="scheduleOption" id="once" value="ONCE"> ${labels["once"]}</label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="scheduleOption" id="schedule" value="SCHEDULE"> ${labels["schedule"]}</label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" name="scheduleOption" id="specificDays" value="SPECIFIC_DAYS"> ${labels["specific.days"]}</label>
                </div>

                <div id="once-form" class="row collapse">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="start">${labels["start"]}*</label>
                        <div class="input-group">
                            <input type="text" id="start" name="start" value="${.now?date?string['yyyy-MM-dd HH:mm:ss']}" class="form-control" required>
                            <span class="input-group-addon">${labels["date.time.format"]}</span>
                        </div>
                    </div>
                </div>
                
                <div id="schedule-form" class="row collapse">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="start">${labels["start"]}*</label>
                        <div class="input-group">
                            <input type="text" id="end" name="end" value="${.now?date?string['yyyy-MM-dd HH:mm:ss']}" class="form-control" required>
                            <span class="input-group-addon">${labels["date.time.format"]}</span>
                        </div>
                    </div>
                </div>

                <!--

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="seconds">${labels["seconds"]}</label>
                        <div class="input-group">
                            <input type="text" id="seconds" name="seconds" value="" class="form-control" />
                            <span class="input-group-addon">[0,59]</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="minutes">${labels["minutes"]}</label>
                        <div class="input-group">
                            <input type="text" id="minutes" name="minutes" value="" class="form-control" />
                            <span class="input-group-addon">[0,59]</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="hours">${labels["hours"]}</label>
                        <div class="input-group">
                            <input type="text" id="hours" name="hours" value="" class="form-control" />
                            <span class="input-group-addon">[0,23]</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="dayOfMonth">${labels["day.of.month"]}</label>
                        <div class="input-group">
                            <input type="text" id="dayOfMonth" name="dayOfMonth" value="" class="form-control" />
                            <span class="input-group-addon">[1,31] ${labels["or"]} ${labels["last"]}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="month">${labels["month"]}</label>
                        <div class="input-group">
                            <input type="text" id="month" name="month" value="" class="form-control" />
                            <span class="input-group-addon">[1,12]</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="dayOfWeek">${labels["day.of.week"]}</label>
                        <div class="input-group">
                            <input type="text" id="dayOfWeek" name="dayOfWeek" value="" class="form-control" />
                            <span class="input-group-addon">[0,7]</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="year">${labels["year"]}</label>
                        <div class="input-group">
                            <input type="text" id="year" name="year" value="" class="form-control" />
                            <span class="input-group-addon">${labels["year.format"]}</span>
                        </div>
                    </div>
                </div>
-->
            </form>
        </div>
        <div>
            <a href="${links['salesforce.connector']}/${salesforceConnector.id}#services">${labels["cancel"]}</a>
            <button name="save" id="save" class="btn btn-primary">${labels["save"]}</button>
        </div>

        <script>
            $(document).ready(function() {
                $('#runWhenSubmitted').click(function() {
                    if (this.checked) {
                        $("#once-form").hide();
                    }
                });

                $('#once').click(function() {
                    if (this.checked) {
                        $("#once-form").show();
                    }
                });

                $('#schedule').click(function() {
                    if (this.checked) {
                        alert("Transfer Thai Gayo");
                    }
                });

                $('#specificDays').click(function() {
                    if (this.checked) {
                        alert("Transfer Thai Gayo");
                    }
                });
            });



            $("#save").click(function(e) {
                e.preventDefault();

                $form = $("#schedule-form");

                console.log($form.attr('action'));

                $.ajax({
                    method: $form.attr('method'),
                    url: $form.attr('action'),
                    dataType: "html",
                    data: $form.serialize(),
                    complete: function(response) {
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    location.href = "${links['salesforce.connector']}/${salesforceConnector.id}#services";
                                });
                            }, 1000);
                        } else {
                            $("#error").prepend(response.responseText);
                        }
                    }
                });
            });
        </script>

    </@t.page>