<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-emphasized">
                ${messages["application.title"]}
            </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/app/start">
                        <span class="icon icon-star"></span>
                        <span class="iconav-nav-label">${messages["start"]}</span>
                    </a>
                </li>
                <li>
                    <a href="/app/dashboard">
                        <span class="icon icon-gauge"></span>
                        <span class="iconav-nav-label">${messages["dashboard"]}</span>
                    </a>
                </li>

                <li>

                    <a href="/app/connectors/salesforce">
                        <span class="icon icon-database"></span>
                        <span class="iconav-nav-label">${messages["connectors"]}</span>
                    </a>

                </li>  
                <li>
                    <a href="/app/applications">
                        <span class="icon icon-browser"></span>
                        <span class="iconav-nav-label">${messages["applications"]}</span>
                        </a>
                </li>
<!--                            
                <li>
                    <a href="/app/projects">
                            ${projects}
                        </a>
                </li>
-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <#if account.hasFullAccess?? && account.hasFullAccess>
                    <li>
                        <a href="/app/administration">
                                    ${messages["adminsitration"]}
                        </a>
                    </li>
                </#if>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${(account.name)!} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/app/account-profile/${(account.id)!}">
                               ${messages["account.profile"]}
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                ${messages["log.out"]}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>