<ul class="navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ${identity.name}
        </a>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="${links['organization']}/${identity.organization.id}/">${messages["organization"]} (${(identity.organization.name)!})</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="${IDENTITY_URI}">${messages["user.profile"]}</a>
            <a class="dropdown-item" href="${LOGOUT_URI}">${messages["log.out"]}</a>
        </div>   
    </li>
</ul>