<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand p-l">
            <b>${messages["application.title"]}</b>
        </div>
    </div>

    <ul class="nav navbar-nav">
        <li>
            <a href="/app/start">
                <span class="icon icon-star"></span>
                <span class="iconav-nav-label">${messages["start"]}</span>
            </a>
        </li>
    </ul>   

    <ul class="nav navbar-nav navbar-right p-r">

        <li>
            <a href="/app/account-profile/${account.id}/plans">${(accountProfile.subscription.planName)!}&nbsp;${(accountProfile.subscription.currencySymbol)!}&nbsp;${(accountProfile.subscription.unitPrice?string["0.##"])!}</a>
        </li>

        <#if account.hasFullAccess?? && account.hasFullAccess>
            <li>
                <a href="/app/administration">
                                    ${messages["adminsitration"]}
                        </a>
            </li>
        </#if>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${(account.name)!} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/app/account-profile/${account.id}">
                               ${messages["account.profile"]}
                            </a>
                </li>
                <li>
                    <a href="/logout">
                                ${messages["log.out"]}
                            </a>
                </li>
            </ul>
        </li>
    </ul>
    </nav>