<#import "template.html" as t>

    <@t.page>

        <br>
        <br>
        <br>

        <div class="container">
            <h4><b>${labels["organization"]}</b></h4>
            <hr>
            <div class="row">
                <div class="col-3">
                    <b>Domain</b>
                </div>
                <div class="col-9">
                    ${organization.domain}
                </div>
            </div>
            <hr>
            <div class="row">
                
                <div class="col-3">
                    <b>Number</b>
                </div>
                <div class="col-9">
                    ${organization.number}
                </div>
                
            </div>
            <hr>
            <br>
            <br>
            <h4><b>${labels["subscription"]}</b></h4>
            <hr>
            <div class="row">
                <div class="col-3">
                    <b>Plan</b>
                </div>
                <div class="col-9">
                    ${organization.subscription.planName} ${organization.subscription.currencySymbol}${organization.subscription.unitPrice}
                </div>
            </div>
            <hr>


        </div>
        <br>
        <br>

    </@t.page>