<#import "template.html" as t>

    <@t.page>

        <div class="container">

            <br>
            <br>
            <br>

            <#if action=="listPlans">

                <div id="plans-list">
                    <div class="flextable" style="height: 18px">
                        <div class="flextable-item flextable-primary">
                            <h4><b>${labels["select.plan"]}</b></h4>
                        </div>
                        <div class="flextable-item">
                            &nbsp;
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-responsive w-100 d-block d-md-table">
                                <thead class="thead-default">
                                    <tr>
                                        <th></th>
                                        <#list plans as plan>
                                            <#if plan.recommendedPlan==true>
                                                <th class="text-center">
                                                    <div>
                                                        <span>${labels["recommended"]}</span>
                                                        <div>${plan.planName}</div>
                                                        <div>
                                                            ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.##"]}
                                                        </div>
                                                        <div>${plan.billingFrequency}</div>
                                                    </div>
                                                </th>
                                            </#if>
                                            <#if plan.recommendedPlan==false && plan.price.unitPrice==0>
                                                <th class="text-center">
                                                    <div>${plan.planName}</div>
                                                    <div>
                                                        ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.##"]}
                                                    </div>
                                                    <div>${plan.billingFrequency}</div>
                                                </th>
                                            </#if>
                                            <#if plan.recommendedPlan==false && plan.price.unitPrice gt 0>
                                                <th class="text-center">
                                                    <div>${plan.planName}</div>
                                                    <div>
                                                        ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.##"]}
                                                    </div>
                                                    <div>${plan.billingFrequency}</div>
                                                </th>
                                            </#if>
                                        </#list>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <#list plans as plan>
                                            <td class="align-middle text-center">
                                                <!-- <#if organization.subscription?? && plan.id==organization.subscription.planId> -->
                                                ${labels["current.plan"]}
                                                <!-- <#elseif plan.recommendedPlan==true && plan.price.unitPrice gt organization.subscription.unitPrice> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-success" role="button">${labels["upgrade"]}</a>
                                                <!-- <#elseif plan.recommendedPlan==true && plan.price.unitPrice lt organization.subscription.unitPrice> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-secondary" role="button">${labels["downgrade"]}</a>
                                                <!-- <#elseif organization.subscription?? && plan.price.unitPrice gt organization.subscription.unitPrice> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-primary" role="button">${labels["upgrade"]}</a>
                                                <!-- <#else> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-secondary" role="button">${labels["downgrade"]}</a>
                                                <!-- </#if> -->
                                            </td>
                                        </#list>
                                    </tr>
                                    <#list plans[0].features?sort_by( "sortOrder") as feature>
                                        <tr id="${feature?index}">
                                            <td>${feature.name}</td>
                                            <#list plans as plan>
                                                <#assign x=plan.features?sort_by( "sortOrder")[feature?index] />
                                                <td class="text-center">
                                                    <#if x.enabled?? && x.enabled==true>
                                                        <span class="icon-yes glyphicon glyphicon-ok-circle"></span>
                                                    </#if>
                                                    <#if x.enabled?? && x.enabled==false>
                                                        <span class="icon-no glyphicon glyphicon-remove-circle"></span>
                                                    </#if>
                                                    <#if x.quantity??>
                                                        ${x.quantity}
                                                    </#if>
                                                </td>
                                            </#list>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="${links['organization']}/${organization.id}" id="back" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
                    </div>
                </div>
            </#if>

            <#if action=="reviewPlan">
                <div class="flextable" style="height: 18px">
                    <div class="flextable-item flextable-primary">
                        <h4><b>${labels["review.plan"]}</b></h4>
                    </div>
                    <div class="flextable-item">
                        &nbsp;
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="content table-responsive">
                            <table class="table">
                                <thead class="thead-default">
                                    <tr>
                                        <th>${labels["plan.name"]}</th>
                                        <th>${labels["feature"]}</th>
                                        <th class="text-center">${labels["quantity"]}</th>
                                        <th class="text-right">${labels["price"]}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <#list plan.features?sort_by( "sortOrder") as feature>
                                        <tr>
                                            <#if feature?index==0>
                                                <td>${(plan.planName)!}</td>
                                                <td>${feature.name}</td>
                                                <td class="text-center">${feature.quantity}</td>
                                                <td class="text-right">${(plan.billingFrequency)!}&nbsp;${(plan.price.currencySymbol)!}&nbsp;${(plan.price.unitPrice?string["0.00"])!}</td>
                                            </#if>
                                            <#if feature?index gt 0>
                                                <td></td>
                                                <td>${feature.name}</td>
                                                <td class="text-center">${feature.quantity}</td>
                                                <td></td>
                                            </#if>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <form id="change-plan-form" name="change-plan-form" class="form-vertical" method="post" action="${links['organization']}/${organization.id}/plans/${plan.id}">
                    <#if plan.price.unitPrice gt 0>
                        <br>
                        <!-- <#if ! organization.subscription.creditCard??> -->
                        <div class="flextable" style="height: 18px">
                            <div class="flextable-item flextable-primary">
                                <h4><b>${labels["payment.method"]}</b></h4>
                            </div>
                            <div class="flextable-item">
                                &nbsp;
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="offset-4 col-4">

                                <div class="form-group">
                                    <input type="text" name="cardholderName" id="cardholderName" class="form-control" placeholder="${labels['name.on.card']}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="cardNumber" id="cardNumber" class="form-control" placeholder="${labels['number']}">
                                </div>
                                <div class="row no-gutters">
                                    <div class="form-group col-3">
                                        <input type="text" name="expirationMonth" id="expirationMonth" class="form-control" required placeholder="${labels['month']}">
                                    </div>
                                    <div class="form-group col-1"></div>
                                    <div class="form-group col-3">
                                        <input type="text" name="expirationYear" id="expirationYear" class="form-control" required placeholder="${labels['year']}">
                                    </div>
                                    <div class="form-group col-2"></div>
                                    <div class="form-group col-3">
                                        <input type="text" name="securityCode" id="securityCode" class="form-control" required placeholder="${labels['cvv']}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <#else> -->
                        <input type="hidden" name="paymentMethodToken" id="paymentMethodToken" value="${(organization.subscription.creditCard.token)!}" />
                        <!-- </#if> -->
                    </#if>
                    <div class="row">
                        <div class="col-12">
                            <div class="pull-right">
                                <a href="${links['organization']}/${organization.id}" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
                                <a href="${links['organization']}/${organization.id}/plans" class="btn btn-secondary" role="button">${labels["back"]}</a>
                                <button type="button" id="set-plan" class="btn btn-primary">${labels["set.plan"]}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </#if>
        </div>

        <script>
            $("#change-plan").click(function(e) {
                e.preventDefault();

                $form = $("#change-plan-form");

                $.ajax({
                    method: $form.attr('method'),
                    url: $form.attr('action'),
                    dataType: "html",
                    data: $form.serialize(),
                    complete: function(response) {
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    $(location).attr("href", "${links['organization']}/${organization.id}/current-plan");
                                });
                            }, 1000);
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }

                });
            });
        </script>
    </@t.page>