<div class="row">
    <div class="col-3">
        <strong>${labels["street"]}</strong>
    </div>
    <div class="col-9">
        <span class="font-weight-normal">${(organization.subscription.billingAddress.street)!}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <strong>${labels["city"]}</strong>
    </div>
    <div class="col-9">
        <span class="font-weight-normal">${(organization.subscription.billingAddress.city)!}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <strong>${labels["state"]}</strong>
    </div>
    <div class="col-9">
        <span class="font-weight-normal">${(organization.subscription.billingAddress.state)!}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <strong>${labels["postal.code"]}</strong>
    </div>
    <div class="col-9">
        <span class="font-weight-normal">${(organization.subscription.billingAddress.postalCode)!}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <strong>${labels["country"]}</strong>
    </div>
    <div class="col-9">
        <span class="font-weight-normal">${(organization.subscription.billingAddress.country)!}</span>
    </div>
</div>