<#import "template.html" as t>

    <@t.page>

        <div class="container">

            <br>
            <br>
            <br>

            <div class="row" id="subscription">
                <div class="col-12">
                    <div class="flextable">
                        <div class="flextable-item flextable-primary">
                            <h4><b>${labels["plan.details"]}</b></h4>
                        </div>
                        <div class="flextable-item">
                            <div class="flextable-item">
                                <a href="${links['organization']}/${organization.id}/plans" class="btn btn-primary" role="button">${labels["change.plan"]}</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <b>${labels["plan.name"]}</b>
                        </div>
                        <div class="col-9">
                            ${(plan.planName)!}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <b>Price (${plan.billingFrequency})</b>
                        </div>
                        <div class="col-9">
                            ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.00"]}
                        </div>
                    </div>
                    <#list plan.features?sort_by( "sortOrder") as feature>
                        <hr>
                        <div class="row">
                            <div class="col-3">
                                <b>${feature.name}</b>
                            </div>
                            <div class="col-9">
                                ${feature.quantity}
                            </div>
                        </div>
                    </#list>
                    <hr>
                </div>
            </div>
        </div>

    </@t.page>