<#import "template.html" as t>

    <@t.page>

        <#if action=="listPlans">

            <div class="container">

                <br>
                <br>
                <br>

                <div id="plans-list">
                    <div class="flextable" style="height: 18px">
                        <div class="flextable-item flextable-primary">
                            <h4><b>${labels["select.plan"]}</b></h4>
                        </div>
                        <div class="flextable-item">
                            &nbsp;
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-responsive w-100 d-block d-md-table">
                                <thead class="thead-default">
                                    <tr>
                                        <th></th>
                                        <#list plans as plan>
                                            <#if plan.recommendedPlan==true>
                                                <th class="text-center">
                                                    <div>
                                                        <span>${labels["recommended"]}</span>
                                                        <div>${plan.planName}</div>
                                                        <div>
                                                            ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.##"]}
                                                        </div>
                                                        <div>${plan.billingFrequency}</div>
                                                    </div>
                                                </th>
                                            </#if>
                                            <#if plan.recommendedPlan==false && plan.price.unitPrice==0>
                                                <th class="text-center">
                                                    <div>${plan.planName}</div>
                                                    <div>
                                                        ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.##"]}
                                                    </div>
                                                    <div>${plan.billingFrequency}</div>
                                                </th>
                                            </#if>
                                            <#if plan.recommendedPlan==false && plan.price.unitPrice gt 0>
                                                <th class="text-center">
                                                    <div>${plan.planName}</div>
                                                    <div>
                                                        ${plan.price.currencySymbol}${plan.price.unitPrice?string["0.##"]}
                                                    </div>
                                                    <div>${plan.billingFrequency}</div>
                                                </th>
                                            </#if>
                                        </#list>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <#list plans as plan>
                                            <td class="align-middle text-center">
                                                <!-- <#if organization.subscription?? && plan.id==organization.subscription.planId> -->
                                                ${labels["current.plan"]}
                                                <!-- <#elseif plan.recommendedPlan==true && plan.price.unitPrice gt organization.subscription.unitPrice> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-success" role="button">${labels["upgrade"]}</a>
                                                <!-- <#elseif plan.recommendedPlan==true && plan.price.unitPrice lt organization.subscription.unitPrice> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-success" role="button">${labels["downgrade"]}</a>
                                                <!-- <#elseif organization.subscription?? && plan.price.unitPrice gt organization.subscription.unitPrice> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-default" role="button">${labels["upgrade"]}</a>
                                                <!-- <#else> -->
                                                <a href="${links['organization']}/${organization.id}/plans/${plan.id}" class="btn btn-default" role="button">${labels["downgrade"]}</a>
                                                <!-- </#if> -->
                                            </td>
                                        </#list>
                                    </tr>
                                    <#list plans[0].features?sort_by( "sortOrder") as feature>
                                        <tr id="${feature?index}">
                                            <td>${feature.name}</td>
                                            <#list plans as plan>
                                                <#assign x=plan.features?sort_by( "sortOrder")[feature?index] />
                                                <td class="text-center">
                                                    <#if x.enabled?? && x.enabled==true>
                                                        <span class="icon-yes glyphicon glyphicon-ok-circle"></span>
                                                    </#if>
                                                    <#if x.enabled?? && x.enabled==false>
                                                        <span class="icon-no glyphicon glyphicon-remove-circle"></span>
                                                    </#if>
                                                    <#if x.quantity??>
                                                        ${x.quantity}
                                                    </#if>
                                                </td>
                                            </#list>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <a href="${links['organization']}/${organization.id}" id="back" class="btn btn-secondary" role="button">${labels["cancel"]}</a>
                    </div>
                </div>
            </div>

        </#if>

        <#if action=="reviewPlan">

            <#include "spinner.html"/>
        </#if>

        <script>
            $("#add-payment-method").click(function(e) {
                e.preventDefault();

                $form = $("#payment-method-form");
                $dialog = $("#payment-method-dialog");

                $.ajax({
                    method: $form.attr('method'),
                    url: $form.attr('action'),
                    dataType: "html",
                    data: $form.serialize(),
                    complete: function(response) {
                        if (response.status == 200) {
                            $dialog.slideUp('slow').fadeOut();
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    $(location).attr("href", location.href);
                                });
                            }, 1000);
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }

                });
            });

            $("#set-plan").click(function(e) {
                e.preventDefault();

                $form = $("#set-plan-form");

                $.ajax({
                    method: $form.attr('method'),
                    url: $form.attr('action'),
                    dataType: "html",
                    data: $form.serialize(),
                    complete: function(response) {
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    $(location).attr("href", "${links['organization']}/${organization.id}/current-plan");
                                });
                            }, 1000);
                        } else {
                            $form.prepend(response.responseText);
                        }
                    }

                });
            });
        </script>
    </@t.page>