<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle"></h6>
                            <h2 class="dashhead-title">${labels["plans"]}</h2>
                        </div>
                        <div class="dashhead-toolbar">
                            <!-- <#if accountProfile.subscription.planCode ??> -->
                            <p class="pull-right">
                                <a id="cancel" href="${labels['base.path']}/${accountProfile.id}#subscription" class="btn btn-primary-outline" role="button"><span class="icon icon-back"></span></a>
                            </p>
                            <!--  </#if> -->
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <br>

            <div class="row">
                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>
            </div>

            <div class="row">

                <ul class="nav nav-stacked">

                    <#list plans?sort_by( "unitPrice") as plan>
                        <li>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <br>
                                    <h4 class="text-primary">${plan.planName}</h4>
                                    <#if plan.features?? >
                                    <ul>
                                        <#list plan.features as feature>
                                        <li>
                                            <h4><small>${feature}</small></h4></li>
                                            </#list>    
                                    </ul>
                                    </#if>    
                                    <br>
                                    <!-- <#if accountProfile.subscription.planCode == plan.planCode> -->
                                    <p class="text-right text-success">${labels["current.subscription"]}</p>
                                    <!--  <#else> -->
                                    <form method="POST" action="${labels['base.path']}/${accountProfile.id!}/subscription/plans">
                                        <input type="hidden" name="currencyIsoCode" id="currencyIsoCode" value="${plan.currencyIsoCode}" />
                                        <input type="hidden" name="planCode" id="planCode" value="${plan.planCode}" />
                                        <input type="hidden" name="unitPrice" id="unitPrice" value="${plan.unitPrice}" />
                                        <p class="pull-right">
                                            <button type="submit" id="add-plan" class="btn btn-primary">${labels["set.plan"]}</button>
                                        </p>
                                    </form>
                                    <!--  </#if> -->
                                </div>
                            </div>

                        </li>

                    </#list>

                </ul>

            </div>
        </div>

    </@t.page>