<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <#include "salesforce-service-nav.html" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">

                    <form id="form" name="form" class="form-horizontal" role="form">

                        <input type="hidden" name="sobject" id="sobject" value="${sobject}" />

                        <div class="dashhead">
                            <div class="dashhead-titles">
                                <h6 class="dashhead-subtitle">${labels["source.environment"]}</h6>
                                <h3 class="dashhead-title">${(serviceInstance.sourceEnvironment)!}</h3>
                            </div>
                        </div>

                        <br>

                        <div class="hr-divider">

                        </div>

                        <br>

                        <br>
                        <div>

                            <div class="row">
                                <#if fields?has_content>
                                    <#list fields?sort_by( "name") as field>

                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            <div class="checkbox custom-control custom-checkbox">
                                                <label>
                                                    <input type="checkbox" value="${(field.name)!}" name="field">
                                                    <span class="custom-control-indicator"></span>
                                                    <p>${(field.name)!}</p>
                                                </label>
                                            </div>
                                        </div>

                                    </#list>
                                </#if>
                            </div>

                            <br>

                            <div class="hr-divider">

                            </div>

                            <br>

                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <div class="form-group">
                                    <textarea class="form-control" rows="10" id="callback" name="callback">${(query)!}</textarea>
                                </div>
                                <div id="status-message"></div>
                                <div class="form-group">
                                    <div class="pull-left">
                                        <b>${labels["from"]}: </b>${sobject}
                                    </div>
                                    <div class="pull-right">
                                        <a href="${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/listeners" id="cancel" class="btn btn-default" role="button">${labels["cancel"]}</a>
                                        <a href="#" id="test-query" class="btn btn-default" role="button">${labels["test.query"]}</a>
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <#include "spinner.html" />

        <script>
            $('#test-query').click(function(e) {
                var params = $("#form").serialize();
                console.log(params);
                $.ajax({
                    dataType: "html",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/listeners/${(serviceInstance.sourceEnvironment)!}/query",
                    type: "GET",
                    data: params,
                    complete: function(data) {
                        $("#status-message").html(data.responseText);
                    }
                });

                e.preventDefault();
            });


            $('#form').submit(function(e) {
                var params = $("#form").serialize();
                console.log(params);
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: "${labels['base.path']}/${(salesforceConnector.id)!}/service/${(serviceInstance.key)!}/listeners",
                    data: params,
                    complete: function(data) {
                        $("#status-message").html(data.responseText);
                    }
                });

                e.preventDefault();

            });
        </script>

    </@t.page>