<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">
            
            <#if successMessage??>
                <br>
                    <div id="success" class="alert alert-success">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="text-center">${successMessage!}</div>
                    </div>
                </#if>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                <#include "sidebar.html"/>

            </div>

            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                <br>

                <div class="flextable  m-t-md">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["salesforce.connector"]}</h3>
                    </div>
                    <div class="flextable-item">
                        <a id="edit-salesforce-connector" href="${labels['base.path']}/${salesforceConnector.id!}/edit" class="btn btn-primary" role="button">${labels["edit.salesforce.connector"]}</a>
                    </div>
                </div>

                <br>
                <div class="hr-divider"></div>

                <div class="row">
                    <br>

                    <div class="col-md-6">

                        <br>

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#identity">${labels["identity"]}</a></li>
                            <li><a data-toggle="tab" href="#organization">${labels["organization"]}</a></li>
                            <li><a data-toggle="tab" href="#urls">${labels["instance.urls"]}</a></li>
                        </ul>

                        <br>

                        <div class="tab-content">

                            <div id="identity" class="tab-pane fade in active">

                                <div class="col-md-6">

                                    <dl class="dl-vertical">

                                        <dt>${labels["name"]}</dt>
                                        <dd>${(salesforceConnector.identity.displayName)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["username"]}</dt>
                                        <dd>${(salesforceConnector.identity.username)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["email"]}</dt>
                                        <dd>${(salesforceConnector.identity.email)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["mobile.phone"]}</dt>
                                        <dd>${(salesforceConnector.identity.mobilePhone)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["user.type"]}</dt>
                                        <dd>${(salesforceConnector.identity.userType)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["language.key"]}</dt>
                                        <dd>${(salesforceConnector.identity.language)!}&emsp;</dd>

                                    </dl>

                                </div>

                                <div class="col-md-6">

                                    <dl class="dl-vertical">

                                        <dt>${labels["street"]}</dt>
                                        <dd>${(salesforceConnector.identity.addrStreet)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["city"]}</dt>
                                        <dd>${(salesforceConnector.identity.addrCity)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["country"]}</dt>
                                        <dd>${(salesforceConnector.identity.addrCountry)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["state"]}</dt>
                                        <dd>${(salesforceConnector.identity.addrState)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["zip.postal.code"]}</dt>
                                        <dd>${(salesforceConnector.identity.addrZip)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["locale.key"]}</dt>
                                        <dd>${(salesforceConnector.identity.locale)!}&emsp;</dd>

                                    </dl>

                                </div>

                            </div>

                            <div id="organization" class="tab-pane fade">

                                <div class="col-md-6">

                                    <dl class="dl-vertical">

                                        <dt>${labels["name"]}</dt>
                                        <dd>${(salesforceConnector.organization.name)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["phone"]}</dt>
                                        <dd>${(salesforceConnector.organization.phone)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["primary.contact"]}</dt>
                                        <dd>${(salesforceConnector.organization.primaryContact)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["organization.type"]}</dt>
                                        <dd>${(salesforceConnector.organization.organizationType)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["division"]}</dt>
                                        <dd>${(salesforceConnector.organization.division)!}&emsp;</dd>

                                    </dl>

                                </div>

                                <div class="col-md-6">

                                    <dl class="dl-vertical">

                                        <dt>${labels["instance.name"]}</dt>
                                        <dd>${(salesforceConnector.organization.instanceName)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["fiscal.year.start.month"]}</dt>
                                        <dd>${(salesforceConnector.organization.fiscalYearStartMonth)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["default.locale.sid.key"]}</dt>
                                        <dd>${(salesforceConnector.organization.defaultLocaleSidKey)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["language.key"]}</dt>
                                        <dd>${(salesforceConnector.organization.languageLocaleKey)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["organization.id"]}</dt>
                                        <dd>${(salesforceConnector.organization.id)!}&emsp;</dd>

                                    </dl>
                                </div>

                            </div>

                            <div id="urls" class="tab-pane fade">

                                <div class="col-md-12">

                                    <dl class="dl-vertical">

                                        <dt>${labels["identity"]}</dt>
                                        <dd>${(salesforceConnector.identity.id)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["metadata"]}</dt>
                                        <dd>${(salesforceConnector.identity.urls.metadata)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["partner"]}</dt>
                                        <dd>${(salesforceConnector.identity.urls.partner)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["rest"]}</dt>
                                        <dd>${(salesforceConnector.identity.urls.rest)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["sobjects"]}</dt>
                                        <dd>${(salesforceConnector.identity.urls.sobjects)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["profile"]}</dt>
                                        <dd>${(salesforceConnector.identity.urls.profile)!}&emsp;</dd>
                                        <hr>

                                        <dt>${labels["query"]}</dt>
                                        <dd>${(salesforceConnector.identity.urls.query)!}&emsp;</dd>

                                    </dl>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-6"></div>

                </div>

                <!--
<dt>${labels["tag"]}</dt>
                                    <dd>${(salesforceConnector.tag)!}&emsp;</dd>
                                    <hr>
-->

                <br>
                <br>

                <div id="environments" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="flextable">
                            <div class="flextable-item flextable-primary">
                                <h3 class="dashhead-title">${labels["environments"]}</h3>
                            </div>
                            <div class="flextable-item">
                                <a href="${labels['base.path']}/${salesforceConnector.id}/environments/new" id="add-service" class="btn btn-primary" role="button">${labels["add.sandbox"]}</a>
                            </div>
                        </div>
                        <br>
                        <div class="hr-divider"></div>
                        <br>
                        <div class="content table-responsive">
                            <table id="environments-table" class="table table-hover">
                                <thead>
                                    <th class="col-xs-2">${labels["name"]}</th>
                                    <th class="col-xs-3">${labels["service.endpoint"]}</th>
                                    <th class="col-xs-1">${labels["api.version"]}</th>
                                    <th class="col-xs-3">${labels["status.message"]}</th>
                                    <th class="col-xs-3">${labels["action"]}</th>
                                </thead>
                                <tbody>
                                    <#list salesforceConnector.environments?sort_by( "addedOn") as environment>
                                        <tr id="${environment.key}">
                                            <td><a href="${labels['base.path']}/${salesforceConnector.id}/environments/${(environment.key)!}/view">${(environment.environmentName)!}</a></td>
                                            <td>${(environment.serviceEndpoint)!}</td>
                                            <td>${(environment.apiVersion)!}</td>
                                            <td>
                                                <#if environment.isValid>
                                                    <span class="icon icon-check fa-1x text-success"></span>
                                                </#if>
                                                <#if ! environment.isValid>
                                                    <span class="icon icon-squared-cross fa-1x text-danger"></span>
                                                </#if>
                                                &emsp;${(environment.testMessage)!}
                                            </td>
                                            <td><a href="${labels['base.path']}/${salesforceConnector.id}/environments/${(environment.key)!}/edit"><span class="icon icon-edit"></span>${messages["edit"]}</a>
                                                <a href="#" class="test-connection" data-href="${labels['base.path']}/${salesforceConnector.id}/environments/${environment.key}/test" data-id="${environment.key}"><span class="icon icon-flash"></span>${labels["test.connection"]}</a>
                                                <#if environment.isSandbox>
                                                    <a href="#" id="confirm-remove-environment" data-toggle="modal" aria-hidden="true" data-href="${labels['base.path']}/${salesforceConnector.id}/environments/${environment.key}" data-id="${environment.key}" data-title="${labels['remove.environment']}" data-message="${labels['environment.name']}: ${environment.environmentName}"><span class="icon icon-trash"></span>${labels["delete"]}</a>
                                                </#if>
                                            </td>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div id="services" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="flextable">
                            <div class="flextable-item flextable-primary">
                                <h3 class="dashhead-title">${labels["services"]}</h3>
                            </div>
                            <div class="flextable-item">
                                <a href="${labels['base.path']}/${salesforceConnector.id}/services/catalog" id="add-service" class="btn btn-primary" role="button">${labels["add.service"]}</a>
                            </div>
                        </div>
                        <br>
                        <div class="hr-divider"></div>
                        <br>
                        <div class="content table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th class="col-xs-2">${labels["name"]}</th>
                                    <th class="col-xs-3">${labels["service.name"]}</th>
                                    <th class="col-xs-3">${labels["tag"]}</th>
                                    <th class="col-xs-1 text-center">${labels["active"]}</th>
                                    <th class="col-xs-3">${labels["action"]}</th>
                                </thead>
                                <tbody>
                                    <#list salesforceConnector.serviceInstances?sort_by( "key") as service>
                                        <tr id="${service.key}">
                                            <td><a href="${labels['base.path']}/${salesforceConnector.id}/services/${service.key}/view">${service.name!service.key}</a></td>
                                            <td>${service.serviceName!}</td>
                                            <td>${service.tag!}</td>
                                            <td class="text-center">
                                                <#if service.isActive>
                                                    ${messages["yes"]}
                                                </#if>
                                                <#if ! service.isActive>
                                                    ${messages["no"]}
                                                </#if>
                                            </td>
                                            <td><a href="${labels['base.path']}/${salesforceConnector.id}/services/${(service.key)!}/edit"><span class="icon icon-edit"></span>${messages["edit"]}</a>
                                            </td>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="row" id="settings">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="flextable">
                            <div class="flextable-item flextable-primary">
                                <h3 class="dashhead-title">${labels["settings"]}</h3>
                            </div>
                        </div>
                        <br>
                        <div class="hr-divider"></div>
                        <br>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-vertical">
                            <dt>${messages["created.on"]}</dt>
                            <dd>${salesforceConnector.createdDate?date?string.iso!} ${salesforceConnector.createdDate?time?string.medium!}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-vertical">
                            <dt>${messages["last.modified.on"]}</dt>
                            <dd>${salesforceConnector.lastModifiedDate?date?string.iso!} ${salesforceConnector.lastModifiedDate?time?string.medium!}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirm-remove-environment-dialog" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <input type="hidden" id="href" />
                    </div>
                    <div class="modal-actions">
                        <button type="button" class="btn-link modal-action" data-dismiss="modal">${messages["cancel"]}</button>
                        <button type="button" class="btn-link modal-action" data-dismiss="modal" id="confirm-remove-environment-button">
                            <p class="text-danger"><strong>${messages["confirm"]}</strong></p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html"/>

        <script src="/js/salesforce-connector.js"></script>

    </@t.page>