<#import "template.html" as t>
    <@t.page>
        <div>
            <a href="${links['salesforce.connector']}/${salesforceConnector.id}#sobjects" id="back" class="btn btn-outline-primary btn-sm" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.salesforce.connector"]}
        </div>
        <br>
        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h3 class="dashhead-title">${labels["sobjects"]}</h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="content table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>${labels["name"]}</th>
                    <th>${labels["label"]}</th>
                    <th>${labels["key.prefix"]}</th>
                    <th class="text-center">${labels["query"]}</th>
                    <th class="text-center">${labels["create"]}</th>
                    <th class="text-center">${labels["update"]}</th>
                    <th class="text-center">${labels["delete"]}</th>
                </thead>
                <tbody>
                    <#list salesforceConnector.sobjects?sort_by( "name") as sobject>
                        <tr id="${sobject.name}">
                            <td><a href="${links['salesforce.connector']}/${salesforceConnector.id}/sobjects/${(sobject.name!)}">${(sobject.name!)}</a></td>
                            <td>${(sobject.label!)}</td>
                            <td>${(sobject.keyPrefix!)}</td>
                            <td class="text-center">
                                <#if sobject.queryable>
                                    <span class="text-success icon icon-check"></span>
                                </#if>
                                <#if ! sobject.queryable>
                                    <span class="text-danger icon icon-cross"></span>
                                </#if>
                            </td>
                            <td class="text-center">
                                <#if sobject.createable>
                                    <span class="text-success icon icon-check"></span>
                                </#if>
                                <#if ! sobject.createable>
                                    <span class="text-danger icon icon-cross"></span>
                                </#if>
                            </td>
                            <td class="text-center">
                                <#if sobject.updateable>
                                    <span class="text-success icon icon-check"></span>
                                </#if>
                                <#if ! sobject.updateable>
                                    <span class="text-danger icon icon-cross"></span>
                                </#if>
                            </td>
                            <td class="text-center">
                                <#if sobject.deletable>
                                    <span class="text-success icon icon-check"></span>
                                </#if>
                                <#if ! sobject.deletable>
                                    <span class="text-danger icon icon-cross"></span>
                                </#if>
                            </td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>
    </@t.page>