<#import "template.html" as t>

    <@t.page>

        <div>
            <a href="${labels['base.path']}" id="back" class="btn btn-outline-primary btn-sm" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.salesforce.connectors"]}
        </div>
        <br>
        <div class="hr-divider"></div>
        <br>
        <div id="error"></div>
        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <h3 class="dashhead-title">${labels["salesforce.connector"]}</h3>
            </div>
        </div>
        <br>
        <div class="btn-toolbar" role="toolbar">
            <a id="edit-salesforce-connector" href="${labels['base.path']}/${salesforceConnector.id!}/edit" class="btn btn-primary" href="${labels['base.path']}/${salesforceConnector.id!}/edit" role="button">${labels["edit"]}</a>&emsp;
            <button type="button" id="test-salesforce-connector" class="btn btn-secondary" data-href="${labels['base.path']}/${salesforceConnector.id!}/test">${labels["test"]}</button>&emsp;
            <button type="button" id="build-salesforce-connector" class="btn btn-secondary" data-href="${labels['base.path']}/${salesforceConnector.id!}/build">${labels["build"]}</button>
        </div>
        <!--
        <ul class="nav nav-bordered">
            <li class="nav-item">
                <a class="nav-link active" href="#detail">Detail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#endpoints">${labels["endpoints"]}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sobjects">${labels["sobjects"]}</a>
            </li>
        </ul>-->
        <br>
        <div id="detail" class="row">

            <div class="col-md-3">

                <dl class="dl-vertical">

                    <dt>${labels["connector.name"]}</dt>
                    <dd>${(salesforceConnector.name)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["instance.name"]}</dt>
                    <dd>${(salesforceConnector.organization.instanceName)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["organization.type"]}</dt>
                    <dd>${(salesforceConnector.organization.organizationType)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["division"]}</dt>
                    <dd>${(salesforceConnector.organization.division)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["default.locale.sid.key"]}</dt>
                    <dd>${(salesforceConnector.organization.defaultLocaleSidKey)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["primary.contact"]}</dt>
                    <dd>${(salesforceConnector.organization.primaryContact)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["created.by"]}</dt>
                    <dd><a href="${links['account.profile']}/${salesforceConnector.createdBy.id}">${salesforceConnector.createdBy.name}</a>, ${salesforceConnector.createdOn?date?string.long!} ${salesforceConnector.createdOn?time?string.medium!}</dd>
                    <hr>

                </dl>

            </div>

            <div class="col-md-3">

                <dl class="dl-vertical">

                    <dt>${labels["organization.name"]}</dt>
                    <dd>${(salesforceConnector.organization.name)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["fiscal.year.start.month"]}</dt>
                    <dd>${(salesforceConnector.organization.fiscalYearStartMonth)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["organization.id"]}</dt>
                    <dd>${(salesforceConnector.organization.id)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["language.key"]}</dt>
                    <dd>${(salesforceConnector.organization.languageLocaleKey)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["phone"]}</dt>
                    <dd>${(salesforceConnector.organization.phone)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["tag"]}</dt>
                    <dd>${(salesforceConnector.tag)!}&emsp;</dd>
                    <hr>

                    <dt>${labels["last.modified.by"]}</dt>
                    <dd><a href="${links['account.profile']}/${salesforceConnector.lastUpdatedBy.id}">${salesforceConnector.lastUpdatedBy.name}</a>, ${salesforceConnector.lastUpdatedOn?date?string.long!} ${salesforceConnector.lastUpdatedOn?time?string.medium!}</dd>
                    <hr>

                </dl>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        
        <br>

        <div class="row" id="endpoints">
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="flextable-item flextable-primary">
                <h3 class="dashhead-title">${labels["endpoints"]}</h3>
            </div>

            <br>

            <div class="row">

                <div class="col-md-6">

                    <dl class="dl-vertical">

                        <dt>${labels["identity"]}</dt>
                        <dd>${(salesforceConnector.identity.id)!}&emsp;</dd>
                        <hr>

                        <dt>${labels["metadata"]}</dt>
                        <dd>${(salesforceConnector.identity.urls.metadata)!}&emsp;</dd>
                        <hr>

                        <dt>${labels["partner"]}</dt>
                        <dd>${(salesforceConnector.identity.urls.partner)!}&emsp;</dd>
                        <hr>

                        <dt>${labels["rest"]}</dt>
                        <dd>${(salesforceConnector.identity.urls.rest)!}&emsp;</dd>
                        <hr>

                        <dt>${labels["sobjects"]}</dt>
                        <dd>${(salesforceConnector.identity.urls.sobjects)!}&emsp;</dd>
                        <hr>

                        <dt>${labels["profile"]}</dt>
                        <dd>${(salesforceConnector.identity.urls.profile)!}&emsp;</dd>
                        <hr>

                        <dt>${labels["query"]}</dt>
                        <dd>${(salesforceConnector.identity.urls.query)!}&emsp;</dd>
                        <hr>

                    </dl>
                </div>

                <div class="col-md-6"></div>

            </div>
        </div>
        </div>    
        
        <br>

        <div class="row" id="sobjects">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["sobjects"]}</h3>
                    </div>
                </div>
                <br>
                <div class="btn-toolbar" role="toolbar">
                    <a href="${labels['base.path']}/${salesforceConnector.id!}/sobjects" class="btn btn-primary">${labels["show.all"]}</a>
                </div>
                <br>
                <div class="flexgrid">
                    <#list salesforceConnector.sobjects?sort_by( "name") as sobject>
                        <div class="card" style="width: 400px;">
                            <a href="${labels['base.path']}/${salesforceConnector.id}/sobjects/${sobject.name}" style="text-decoration: none">
                                <div class="card-block">
                                    <div class="media">
                                        <img class="d-flex align-self-start mr-3" src="${icons['${sobject.name}']!}" style="height:32px; width: 32px" />
                                        <div class="media-body">
                                            <h5 class="mt-0">${(sobject.label)!}</h5>
                                            <p>${(sobject.name)!}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </#list>
                </div>
            </div>
        </div>

        <br>
        <br>

        <!-- Modal Dialog -->
        <div class="modal fade" id="test-connection-dialog" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">${messages["cancel"]}</button>
                        <button type="button" class="btn btn-danger" id="confirm-button">${messages["confirm"]}</button>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html"/>

        <script>
            $("#test-salesforce-connector").click(function(e) {
                e.preventDefault();

                $.ajax({
                    method: "post",
                    url: $(this).data("href"),
                    complete: function(response) {
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    location.href = "${labels['base.path']}/${salesforceConnector.id!}";
                                });
                            }, 1000);
                        } else {
                            $("#error").prepend(response.responseText);
                        }
                    }
                });
            });
            
            $("#build-salesforce-connector").click(function(e) {
                e.preventDefault();

                $.ajax({
                    method: "post",
                    url: $(this).data("href"),
                    complete: function(response) {
                        if (response.status == 200) {
                            jQuery("#notification").modal('show');
                            setTimeout(function() {
                                $("#notification").slideUp('slow').fadeOut(function() {
                                    location.href = "${labels['base.path']}/${salesforceConnector.id!}";
                                });
                            }, 1000);
                        } else {
                            $("#error").prepend(response.responseText);
                        }
                    }
                });
            });
        </script>    

        <script src="/js/salesforce-connector.js"></script>

    </@t.page>