<#import "template.html" as t>

    <@t.page>

        <div class="dashhead">
            <div class="dashhead-titles">
                <h4 class="dashhead-subtitle">&nbsp;</h4>
                <h2 class="dashhead-title">${labels["salesforce.connectors"]}</h2>
            </div>
            <#if salesforceConnectorsList?size gt 0>
                <div class="dashhead-toolbar">
                    <p class="pull-right">
                        <a href="${labels['base.path']}/new" class="btn btn-lg btn-primary-outline" role="button">${labels["add.salesforce.connector"]}</a>
                    </p>
                </div>
            </#if>
        </div>
        <div class="hr-divider"></div>
        <#if salesforceConnectorsList?size==0>
            <br>
            <br>
            <br>
            <img class="media-object center-block" src="/images/connection.png">
            <br>
            <h4 class="text-muted text-center">${labels["no.records"]}</h4>
            <p class="text-center">
                <a href="${labels['base.path']}/new" class="btn btn-lg btn-primary-outline" role="button">${labels["add.salesforce.connector"]}</a>
            </p>
        </#if>
        <br>
        <div class="flexgrid">
            <#list salesforceConnectorsList?sort_by( "createdDate") as salesforceConnector>
                <div class="offer offer-radius offer-info">
                    <div class="offer-content">
                        <h3 class="lead">
							<a href="${labels['base.path']}/${salesforceConnector.id}">${salesforceConnector.organization.name}</a>
						</h3>
                        <p>
                            ${salesforceConnector.organization.instanceName} - ${salesforceConnector.organization.organizationType} (${salesforceConnector.identity.displayName})
                            <br> <small>${labels["by"]}</small>&nbsp;${salesforceConnector.createdBy.name}&nbsp;<small>${labels["on"]}</small>&nbsp;${salesforceConnector.createdDate?date?string.long}
                        </p>
                        <div class="text-right">
                            <a href="${labels['base.path']}/${salesforceConnector.id!}/edit?view=1" data-toggle="tooltip" title="${labels['edit']}" class="btn btn-sm btn-primary-outline" role="button"><span class="icon icon-edit fa-1x"></span></a>
                        </div>
                    </div>
                </div>
            </#list>
        </div>
    </@t.page>