<#import "template.html" as t>

    <#assign showSidebar = true>
        
    <@t.page>

        <div class="dashhead">
            <div class="dashhead-titles">
                <h4 class="dashhead-subtitle">&nbsp;</h4>
                <h2 class="dashhead-title">${labels["salesforce.connectors"]}</h2>
            </div>
            <#if salesforceConnectorsList?size gt 0>
                <div class="dashhead-toolbar">
                    <p class="pull-right">
                        <a href="${labels['base.path']}/new" class="btn btn-lg btn-primary-outline" role="button">${labels["add.salesforce.connector"]}</a>
                    </p>
                </div>
            </#if>
        </div>

        <br>

        <#if salesforceConnectorsList?size==0>
            <br>
            <br>
            <br>
            <img class="media-object center-block" src="/images/connection.png">
            <br>
            <h4 class="text-muted text-center">${labels["no.records"]}</h4>
            <p class="text-center">
                <a href="${labels['base.path']}/new" class="btn btn-lg btn-primary-outline" role="button">${labels["add.salesforce.connector"]}</a>
            </p>
        </#if>
        <#list salesforceConnectorsList?sort_by( "createdDate") as salesforceConnector>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="/images/connection.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="${labels['base.path']}/${salesforceConnector.id}">${salesforceConnector.organization.name}</a></h4>
                            <p>${salesforceConnector.organization.instanceName} - ${salesforceConnector.organization.organizationType} (${salesforceConnector.identity.displayName})</p>
                        </div>
                        <div class="media-right">
                            <a href="${labels['base.path']}/${salesforceConnector.id!}/edit?view=1" class="btn btn-lg btn-primary-outline" data-toggle="tooltip" title="${labels['edit']}" role="button"><span class="icon icon-edit fa-1x"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </#list>

    </@t.page>