<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle">${labels["schedule"]}</h6>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <div class="row">

                <br>
                
                <div id="message"></div>

                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>

                <#if successMessage??>
                    <div id="success" class="alert alert-success">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="text-center">${successMessage!}</div>
                    </div>
                </#if>
                
                <!-- <#if mode=="edit"> -->
                
                <form id="enviroment-form" name="enviroment-form" method="post" action="">

                        <div class="row">
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-4">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="environmentName">${labels["environment.name"]}</label>
                                    <input type="text" class="form-control" value="${(schedule.environmentName)!}" disabled />
                                </div>

                            
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="hour">${labels["hour"]}</label>
                                    <select class="form-control" name="hour" id="hour" autofocus="">
                                    <#list 0..23 as hour>
                                    <option value="${hour?c}">${hour?c}</option>
                                    </#list>    
                                    </select>  
                                </div>        
                                        
                                <div class="form-group col-md-4">
                                    <label class="control-label" for="minute">${labels["minute"]}</label>
                                    <select class="form-control" name="minute" id="minute">
                                    <#list 0..59 as minute>
                                    <option value="${minute?c}">${minute?c}</option>
                                    </#list>    
                                    </select>    
                                </div>
                                
                                
                                <div class="form-group col-md-4">        
                                        <label class="control-label" for="second">${labels["second"]}</label>
                                    <select class="form-control" name="second" id="second">
                                    <#list 0..59 as second>
                                    <option value="${second?c}">${second?c}</option>
                                    </#list>    
                                    </select> 
                                </div>    
                                        
                            </div>    
                    </div>
                    
                    <div class="form-group col-md-12">
                                    <div class="pull-right">
                                        <a href="${labels['base.path']}/${(id)!}#schedules" class="btn btn-default" role="button" tabindex="14">${labels["cancel"]}</a>
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                                    </div>
                                </div>
                    
                </form>    
                    
                <!-- <#elseif mode=="view"> -->
                    
                <!-- </#if> -->    
                
            </div>
        </div>
    </@t.page>        