<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">

            <br>

            <#if successMessage??>
                <div id="success" class="alert alert-success">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <div class="text-center">${successMessage!}</div>
                </div>
            </#if>

            <div class="row">

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <#include "sidebar.html"/>

                </div>

                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                    <div class="flextable">
                        <div class="flextable-item flextable-primary">
                            <img class="media-object" src="/images/clock.png">
                            <h3 class="dashhead-title">${labels["scheduled.job"]}</h3>
                        </div>
                        <div class="flextable-item">
                            <a id="edit-application" href="${labels['base.path']}/${scheduledJob.id!}/edit" class="btn btn-primary" role="button">${labels["edit.scheduled.job"]}</a>
                        </div>
                    </div>

                    <br>
                    <div class="hr-divider"></div>
                    <div class="row">
                        <br>
                        <br>

                        <div class="col-md-3">

                            <dl class="dl-vertical">
                                <dt>${labels["description"]}</dt>
                                <dd>${scheduledJob.description!}&emsp;</dd>
                                <hr>
                                <dt>${labels["connector.type"]}</dt>
                                <dd><a href="${connectorHref!}">${scheduledJob.jobTypeName!}</a>&emsp;</dd>
                                <hr>
                                <dt>${labels["scheduled.job.type"]}</dt>
                                <dd>${(scheduledJob.environmentName)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["scheduled.job.type"]}</dt>
                                <dd>${(scheduledJob.scheduleDate?date?string.iso)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["scheduled.job.type"]}</dt>
                                <dd>${(scheduledJob.scheduleTime?time?string.medium)!}&emsp;</dd>
                                <hr>
                            </dl>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="row" id="settings">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="flextable">
                                <div class="flextable-item flextable-primary">
                                    <h3 class="dashhead-title">${labels["settings"]}</h3>
                                </div>
                            </div>
                            <br>
                            <div class="hr-divider"></div>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-vertical">
                                <dt>${labels["created.on"]}</dt>
                                <dd>${scheduledJob.createdDate?date?string.iso!} ${scheduledJob.createdDate?time?string.medium!}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-vertical">
                                <dt>${labels["last.modified.on"]}</dt>
                                <dd>${scheduledJob.lastModifiedDate?date?string.iso!} ${scheduledJob.lastModifiedDate?time?string.medium!}</dd>
                            </dl>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <#include "spinner.html"/>

        <div class="modal fade" id="confirm-remove-environment-dialog" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <input type="hidden" id="href" />
                    </div>
                    <div class="modal-actions">
                        <button type="button" class="btn-link modal-action" data-dismiss="modal">${messages["cancel"]}</button>
                        <button type="button" class="btn-link modal-action" data-dismiss="modal" id="confirm-remove-environment-button">
                            <p class="text-danger"><strong>${messages["confirm"]}</strong></p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/application.js"></script>

    </@t.page>