<#import "template.html" as t>

    <@t.page>


        <#if mode="edit">
            <div class="dashhead m-t-md">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h3 class="dashhead-title">${labels["edit.scheduled.job"]}</h3>
                    </div>
                </div>
            </div>
            <div class="hr-divider"></div>
            <#if errorMessage??>
                <div id="alert" class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <div class="text-center">${errorMessage}</div>
                </div>
            </#if>
            <br>
            <form class="form-vertical" role="form" method="post" action="${action}">
                <input type="hidden" name="id" id="id" value="${scheduledJob.id}" />
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="notificationEmail">${labels["notification.email"]}*</label>
                        <input type="text" class="form-control" name="notificationEmail" id="notificationEmail" value="${(scheduledJob.notificationEmail)!}" required autofocus="" />
                    </div>
                    <div class="col-md-10"></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="description">${labels["description"]}</label>
                        <textarea class="form-control" name="description" id="description" rows="3">${(scheduledJob.description)!}</textarea>
                    </div>
                    <div class="col-md-10"></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="scheduleDate">${labels["scheduled.date"]}*</label>
                        <div class="input-group">
                            <input type="text" id="scheduleDate" name="scheduleDate" value="${(scheduledJob.scheduleDate?date?string.iso)!}" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" required>
                            <span class="input-group-addon"><span class="icon icon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="scheduleTime">${labels["scheduled.time"]}*</label>
                        <div class="input-group">
                            <input type="text" id="scheduleTime" name="scheduleTime" value="${(scheduledJob.scheduleDate?time?string['HH:mm'])!}" class="form-control" required/>
                            <span class="input-group-addon">${labels["time.format"]}</span>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-2">
                        <div class="pull-right">
                            <a href="${cancel}" class="btn btn-default" role="button">${labels["cancel"]}</a>
                            <button type="submit" name="submit" id="submit" class="btn btn-primary">${labels["save"]}</button>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                </div>
            </form>
        </#if>
    </@t.page>