<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container-fluid">

            <br>

            <#if successMessage??>
                <div id="success" class="alert alert-success">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <div class="text-center">${successMessage!}</div>
                </div>
            </#if>

            <div class="row">

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

                    <#include "sidebar.html"/>

                </div>

                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                    <div class="flextable">
                        <div class="flextable-item flextable-primary">
                            <img class="media-object" src="/images/clock.png">
                            <h3 class="dashhead-title">${labels["scheduled.job"]}</h3>
                        </div>
                        <div class="flextable-item">
                            <!--  <#if scheduledJob.status == "Stopped"> -->
                            <form method="post" action="${labels['base.path']}/${scheduledJob.id!}/start">
                                <button type="submit" name="activate-scheduled-job" id="activate-scheduled-job" class="btn btn-primary">${labels["start.scheduled.job"]}</button>
                            </form>
                            <!-- </#if> -->
                            <!--  <#if scheduledJob.status == "Scheduled"> -->
                            <form method="post" action="${labels['base.path']}/${scheduledJob.id!}/stop">
                                <button type="submit" name="deactivate-scheduled-job" id="deactivate-scheduled-job" class="btn btn-danger">${labels["stop.scheduled.job"]}</button>
                            </form>
                            <!-- </#if> -->
                        </div>
                        <div class="flextable-item">
                            <a id="edit-scheduled-job" href="${labels['base.path']}/${scheduledJob.id!}/edit" class="btn btn-primary" role="button">${labels["edit.scheduled.job"]}</a>
                        </div>
                    </div>

                    <br>
                    <div class="hr-divider"></div>
                    <div class="row">
                        <br>
                        <br>

                        <div class="col-md-4">

                            <dl class="dl-vertical">
                                <dt>${labels["owner"]}</dt>
                                <dd>${(scheduledJob.owner.name)!}</dd>
                                <hr>
                                <dt>${labels["connector.type"]}</dt>
                                <dd><a href="${connectorHref!}">${(scheduledJob.connectorType)!}</a>&emsp;</dd>
                                <hr>
                                <dt>${labels["environment.name"]}</dt>
                                <dd>${(scheduledJob.environmentName)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["status"]}</dt>
                                <!--  <#if scheduledJob.status == "Stopped"> -->
                                <dd class="text-danger">
                                    <!-- </#if> -->
                                    <!--  <#if scheduledJob.status == "Scheduled"> -->
                                    <dd class="text-success">
                                        <!-- </#if> -->
                                        ${(scheduledJob.status)!}&emsp;</dd>
                                    <hr>
                                    <dt>${labels["notification.email"]}</dt>
                                    <dd>${(scheduledJob.notificationEmail)!}&emsp;</dd>
                                    <hr>
                            </dl>
                        </div>

                        <div class="col-md-4">

                            <dl class="dl-vertical">
                                <dt>${labels["scheduled.date"]}</dt>
                                <dd>${(scheduledJob.scheduleDate?date?string.iso)!}&emsp;</dd>
                                <hr>
                                <dt>${labels["scheduled.time"]}</dt>
                                <dd>${(scheduledJob.scheduleDate?time?string["HH:mm"])!}&emsp;</dd>
                                <hr>
                                <dt>${labels["last.run.status"]}</dt>
                                <!--  <#if scheduledJob.lastRunStatus?? && scheduledJob.lastRunStatus == "Failure"> -->
                                <dd class="text-danger">
                                <!-- </#if> -->
                                <!--  <#if scheduledJob.lastRunStatus?? && scheduledJob.lastRunStatus == "Success"> -->
                                <dd class="text-success">
                                <!-- </#if> -->
                                ${(scheduledJob.lastRunStatus)!}&emsp;
                                <!--  <#if scheduledJob.lastRunStatus?? && scheduledJob.lastRunStatus == "Failure"> -->    
                                    <a href="#" data-toggle="popover" data-placement="top" data-content="${scheduledJob.lastRunFailureMessage!}"><span class="icon icon-squared-cross"></span></a></dd>
                                <!-- </#if> -->
                                <hr>
                                <dt>${labels["last.run.date"]}</dt>
                                <dd>${(scheduledJob.lastRunDate?date?string.iso)!} ${(scheduledJob.lastRunDate?time?string["HH:mm:ss"])!}&emsp;</dd>
                                <hr>
                                <dt>&emsp;</dt>
                                <dd>&emsp;</dd>
                                <hr>
                            </dl>
                        </div>

                        <div class="col-md-4">
                        </div>

                        <div class="col-md-8">

                            <dl class="dl-vertical">
                                <dt>${labels["description"]}</dt>
                                <dd>${scheduledJob.description!}&emsp;</dd>
                                <hr>
                            </dl>

                        </div>

                    </div>
                    
                    <br>
                    <br>
                    
                    <div id="runHistories" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="flextable">
                                <div class="flextable-item flextable-primary">
                                    <h3 class="dashhead-title">${labels["run.history"]}</h3>
                                </div>
                            </div>
                            <br>
                            <div class="hr-divider"></div>
                            <br>
                            <div class="content table-responsive">
                                <table id="run-history-table" class="table table-hover">
                                    <thead>
                                        <th class="col-xs-2">${labels["instance.id"]}</th>
                                        <th class="col-xs-2">${labels["fire.time"]}</th>
                                        <th class="col-xs-2">${labels["run.time"]}</th>
                                        <th class="col-xs-2">${labels["status"]}</th>
                                        <th class="col-xs-2">${labels["error.message"]}</th>
                                    </thead>
                                    <tbody>
                                        <#list scheduledJob.runHistories?sort_by( "fireTime") as runHistory>
                                            <td>${(runHistory.fireInstanceId)!}</td>
                                            <td>${(runHistory.fireTime?date?string.iso)!} ${(runHistory.fireTime?time?string["HH:mm:ss"])!}</td>
                                            <td>${(runHistory.jobRunTime)!}</td>
                                            <td>${(runHistory.status)!}</td>
                                            <td>${(runHistory.failureMessage)!}</td>
                                        </#list>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div class="row" id="settings">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="flextable">
                                <div class="flextable-item flextable-primary">
                                    <h3 class="dashhead-title">${labels["settings"]}</h3>
                                </div>
                            </div>
                            <br>
                            <div class="hr-divider"></div>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-vertical">
                                <dt>${labels["created.by"]}</dt>
                                <dd>${(scheduledJob.createdBy.name)!}, ${scheduledJob.createdDate?date?string.long!} ${scheduledJob.createdDate?time?string.medium!}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-vertical">
                                <dt>${labels["last.modified.by"]}</dt>
                                <dd>${(scheduledJob.lastModifiedBy.name)!}, ${scheduledJob.lastModifiedDate?date?string.long!} ${scheduledJob.lastModifiedDate?time?string.medium!}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <#include "spinner.html"/>

        <div class="modal fade" id="confirm-remove-environment-dialog" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <input type="hidden" id="href" />
                    </div>
                    <div class="modal-actions">
                        <button type="button" class="btn-link modal-action" data-dismiss="modal">${messages["cancel"]}</button>
                        <button type="button" class="btn-link modal-action" data-dismiss="modal" id="confirm-remove-environment-button">
                            <p class="text-danger"><strong>${messages["confirm"]}</strong></p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/application.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('[data-toggle="popover"]').popover();
            });
        </script>

    </@t.page>