<#import "template.html" as t>
    <@t.page>
        <#include "navbar.html" />
        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h2 class="dashhead-title">${labels["backup.files"]}</h2>
                            <h6 class="dashhead-subtitle"></h6>
                        </div>
                        <div class="dashhead-toolbar">
                            <p class="pull-right"><a href="${labels['base.path']}/${scheduledJob.id!}"><span class="icon icon-back fa-2x"></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <div class="row">

                <br>

                <div id="runHistoryFiles" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="content table-responsive">
                            <table id="run-history-table" class="table table-hover">
                                <thead>
                                    <th class="col-md-7"></th>
                                    <th class="col-md-3">${labels["type"]}</th>
                                    <th class="col-md-2 text-right">${labels["file.size"]}</th>
                                </thead>
                                <tbody>
                                    <#list runHistory.backups?sort_by( "filename") as backup>
                                        <tr>
                                            <td><a href="#" data-toggle="modal" data-target="#download-modal" data-href="${labels['base.path']}/${scheduledJob.id!}/run-history/${(runHistory.fireInstanceId)!}/download/${(backup.type)!}" data-filename="${(backup.filename)!}.json">${(backup.filename)!}</a></td>
                                            <td>${(backup.type)!}</td>
                                            <td class="text-right">${(backup.filesize)!}</td>
                                        </tr>
                                    </#list>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="download-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p><a href="" download="">Download</a></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            
            $(document).on('show.bs.modal', '.modal', function(e) {
                var data = $(e.relatedTarget).data();
                $("a").attr("href", data.href);
                $("a").attr("download", data.filename);
                console.log($("a").attr("download"));
            });
            
        </script>

    </@t.page>