<#import "template.html" as t>

    <@t.page>
        <#if successMessage??>
            <div id="success" class="alert alert-success">
                <a class="close" data-dismiss="alert">&times;</a>
                <div class="text-center">${successMessage!}</div>
            </div>
        </#if>
        <div>
            <a href="${labels['base.path']}" id="back" class="btn btn-outline-primary btn-sm" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.scheduled.jobs"]}
        </div>
        <br>
        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <div class="dashhead-titles">
                    <h3 class="dashhead-title">${labels["scheduled.job"]}</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <a id="edit-scheduled-job" href="${labels['base.path']}/${jobSchedule.id!}/edit" class="btn btn-primary" role="button">${labels["edit.scheduled.job"]}</a>&emsp;
                <!--  <#if jobSchedule.status == "Stopped" || jobSchedule.status == "Not Scheduled"> -->
                <form method="post" action="${labels['base.path']}/${jobSchedule.id!}/start">
                    <button type="submit" name="activate-scheduled-job" id="activate-scheduled-job" class="btn btn-secondary">${labels["start.scheduled.job"]}</button>
                </form>
                <!-- </#if> -->
                <!--  <#if jobSchedule.status == "Scheduled"> -->
                <form method="post" action="${labels['base.path']}/${jobSchedule.id!}/stop">
                    <button type="submit" name="deactivate-scheduled-job" id="deactivate-scheduled-job" class="btn btn-secondary">${labels["stop.scheduled.job"]}</button>&emsp;
                </form>
                <form method="post" action="${labels['base.path']}/${jobSchedule.id!}/terminate">
                    <button type="submit" name="terminate-scheduled-job" id="terminate-scheduled-job" class="btn btn-secondary">${labels["terminate.scheduled.job"]}</button>
                </form>
                <!-- </#if> -->
            </div>
        </div>
        <br>

        <div class="row">

            <div class="col-md-3">

                <dl class="dl-vertical">
                    <dt>${labels["owner"]}</dt>
                    <dd>${(jobSchedule.owner.name)!}</dd>
                    <hr>
                    <dt>${labels["connector.type"]}</dt>
                    <dd><a href="${connectorHref!}">${(jobSchedule.jobType.connectorType.name)!}</a>&emsp;</dd>
                    <hr>
                    <dt>${labels["instance.name"]}</dt>
                    <dd>${(jobSchedule.connector.instance.name)!}&emsp;</dd>
                    <hr>
                    <dt>${labels["status"]}</dt>
                    <!--  <#if jobSchedule.status == "Stopped"> -->
                    <dd class="text-danger">
                        <!-- </#if> -->
                        <!--  <#if jobSchedule.status == "Scheduled"> -->
                        <dd class="text-success">
                            <!-- </#if> -->
                            ${(jobSchedule.status)!}&emsp;
                        </dd>
                        <hr>
                </dl>
            </div>

            <div class="col-md-3">

                <dl class="dl-vertical">
                    <dt>${labels["next.run.date"]}</dt>
                    <dd>${(jobSchedule.scheduleDate?date?string.iso)!} ${(jobSchedule.scheduleDate?time?string["HH:mm"])!}&emsp;</dd>
                    <hr>
                    <dt>${labels["last.run.status"]}</dt>
                    <!--  <#if jobSchedule.lastRunStatus?? && jobSchedule.lastRunStatus == "Failure"> -->
                    <dd class="text-danger">
                        <!-- </#if> -->
                        <!--  <#if jobSchedule.lastRunStatus?? && jobSchedule.lastRunStatus == "Success"> -->
                        <dd class="text-success">
                            <!-- </#if> -->
                            ${(jobSchedule.lastRunStatus)!}&emsp;
                            <!--  <#if jobSchedule.lastRunStatus?? && jobSchedule.lastRunStatus == "Failure"> -->
                            <span class="icon icon-squared-cross"></span>&emsp;${jobSchedule.lastRunFailureMessage!}</dd>
                        <!-- </#if> -->
                        <hr>
                        <dt>${labels["last.run.date"]}</dt>
                        <dd>${(jobSchedule.lastRunDate?date?string.iso)!} ${(jobSchedule.lastRunDate?time?string["HH:mm"])!}&emsp;</dd>
                        <hr>
                        <dt>${labels["notification.email"]}</dt>
                        <dd>${(jobSchedule.notificationEmail)!}&emsp;</dd>
                        <hr>
                </dl>
            </div>

            <div class="col-md-6">

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <dl class="dl-vertical">
                    <dt>${labels["description"]}</dt>
                    <dd>${jobSchedule.description!}&emsp;</dd>
                    <hr>
                </dl>

            </div>

            <div class="col-md-6">

            </div>

        </div>

        <br>
        <br>

        <div id="runHistories" class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="flextable">
                    <div class="flextable-item flextable-primary">
                        <h3 class="dashhead-title">${labels["run.history"]}</h3>
                    </div>
                </div>
                <br>
                <div class="content table-responsive">
                    <table id="run-history-table" class="table table-hover">
                        <thead>
                            <th class="col-xs-2">${labels["instance.id"]}</th>
                            <th class="col-xs-2">${labels["fire.time"]}</th>
                            <th class="col-xs-1 text-right">${labels["run.time"]}</th>
                            <th class="col-xs-1 text-center">${labels["status"]}</th>
                            <th class="col-xs-1 text-center">${labels["files"]}</th>
                            <th class="col-xs-5"></th>
                        </thead>
                        <tbody>
                            <#list jobSchedule.runHistories?sort_by( "fireTime")?reverse as runHistory>
                                <tr id="${(runHistory.fireInstanceId)!}">
                                    <td>${(runHistory.fireInstanceId)!}</td>
                                    <td>${(runHistory.fireTime?date?string.iso)!} ${(runHistory.fireTime?time?string["HH:mm:ss"])!}</td>
                                    <td class="text-right">${(runHistory.jobRunTime)!}</td>
                                    <td class="text-center">${(runHistory.status)!}</td>
                                    <td class="text-center">
                                        <#if runHistory.backups??>
                                            <a id="view-run-history" href="${labels['base.path']}/${scheduledJob.id!}/run-history/${(runHistory.fireInstanceId)!}"><span class="icon icon-folder"></span></a></#if>
                                    </td>
                                    <td>${(runHistory.failureMessage)!}</td>
                                </tr>
                            </#list>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <div class="hr-divider"></div>
        <br>

        <div class="row" id="settings">
            <br>
            <div class="col-md-6">
                <dl class="dl-vertical">
                    <dt>${labels["created.by"]}</dt>
                    <dd><a href="${createdByHref}">${(jobSchedule.createdBy.name)!}</a>, ${jobSchedule.createdOn?date?string.long!} ${jobSchedule.createdOn?time?string.medium!}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-vertical">
                    <dt>${labels["last.modified.by"]}</dt>
                    <dd><a href="${lastModifiedByHref}">${(jobSchedule.lastUpdatedBy.name)!}</a>, ${jobSchedule.lastUpdatedOn?date?string.long!} ${jobSchedule.lastUpdatedOn?time?string.medium!}</dd>
                </dl>
            </div>
        </div>


    </@t.page>