<#import "template.html" as t>

    <@t.page>

        <div class="dashhead">
            <div class="dashhead-titles">
                <h6 class="dashhead-subtitle">&emsp;</h6>
                <h2 class="dashhead-title">${labels["scheduled.jobs"]}</h2>
            </div>
            <#if jobScheduleList?size gt 0>
                <div class="dashhead-toolbar">
                    <p class="pull-right">
                        <a href="${labels['base.path']}/new/select-type" class="btn btn-outline-primary btn-lg" role="button">${labels["create.scheduled.job"]}</a>
                    </p>
                </div>
            </#if>
        </div>
        <div class="hr-divider"></div>
        <#if jobScheduleList?size==0>
            <br>
            <br>
            <br>
            <p class="text-center">
                <span class="icon icon-clock fa fa-4x"></span>
            </p>
            <h4 class="text-muted text-center">${labels["no.records"]}</h4>
            <p class="text-center">
                <a href="${labels['base.path']}/new/select-type" class="btn btn-outline-info btn-lg" role="button">${labels["create.scheduled.job"]}</a>
            </p>
        </#if>
        <br>
        <div class="flexgrid">
            <#list jobScheduleList?sort_by( "createdOn") as jobSchedule>
                <div class="offer offer-radius offer-info">
                    <a href="${labels['base.path']}/${jobSchedule.id}" style="text-decoration: none">
                        <div class="offer-content">
                            <h3 class="lead">${jobSchedule.jobType.name}</h3>
                            <p>
                                ${(jobSchedule.connector.instance.name)!} - <span class="text-primary">(${jobSchedule.status})</span>
                                <br>
                                <!--  <#if jobSchedule.lastRunStatus?? && jobSchedule.lastRunStatus == "Failure"> -->
                                <span class="text-danger">(${(jobSchedule.lastRunStatus)!})</span>
                                <!-- </#if> -->
                                <!--  <#if jobSchedule.lastRunStatus?? && jobSchedule.lastRunStatus == "Success"> -->
                                <span class="text-success">(${(jobSchedule.lastRunStatus)!})</span>
                                <!-- </#if> -->
                                <br> <small>${labels["by"]}</small>&nbsp;${jobSchedule.createdBy.name}&nbsp;<small>${labels["on"]}</small>&nbsp;${jobSchedule.createdOn?date?string.long}
                            </p>
                            <div class="text-right">
                                <a href="${labels['base.path']}/${jobSchedule.id!}/edit?view=1" class="btn btn-sm btn-primary-outline" data-toggle="tooltip" title="${labels['edit']}" role="button"><span class="icon icon-edit fa-1x"></span></a>
                            </div>
                        </div>
                    </a>
                </div>
            </#list>
        </div>

    </@t.page>