<#import "template.html" as t>

    <@t.page>

        <div class="dashhead m-t-md">
            <div class="dashhead-titles">
                <h6 class="dashhead-subtitle">&emsp;</h6>
                <h2 class="dashhead-title">${labels["scheduled.jobs"]}</h2>
            </div>
            <#if scheduledJobList?size gt 0>
                <div class="dashhead-toolbar">
                    <p class="pull-right">
                        <a href="${labels['base.path']}/new/select-type" class="btn btn-lg btn-primary-outline" role="button">${labels["create.scheduled.job"]}</a>
                    </p>
                </div>
            </#if>
        </div>
        <br>
        <#if scheduledJobList?size==0>
            <br>
            <br>
            <br>
            <img class="media-object center-block" src="/images/clock.png">
            <br>
            <h4 class="text-muted text-center">${labels["no.records"]}</h4>
            <p class="text-center">
                <a href="${labels['base.path']}/new/select-type" class="btn btn-lg btn-primary-outline" role="button">${labels["create.scheduled.job"]}</a>
            </p>
        </#if>
        <#list scheduledJobList?sort_by( "createdDate") as scheduledJob>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="/images/clock.png">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="${labels['base.path']}/${scheduledJob.id}">${scheduledJob.jobTypeName}</a> - (${(scheduledJob.status)!})</h4>
                            <p>${(scheduledJob.description)!}</p>
                        </div>
                        <div class="media-right">
                            <a href="${labels['base.path']}/${scheduledJob.id!}/edit?view=1" class="btn btn-lg btn-primary-outline" data-toggle="tooltip" title="${labels['edit']}" role="button"><span class="icon icon-edit fa-1x"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </#list>
    </@t.page>