<#import "template.html" as t>

    <@t.page>

        <#include "navbar.html" />

        <div class="container">
            <div class="row">
                <div class="dashhead m-t-md">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h6 class="dashhead-subtitle"></h6>
                            <h2 class="dashhead-title">${labels["service.catalog"]}</h2>
                        </div>
                        <div class="dashhead-toolbar">
                            <p class="pull-right">
                                <a id="cancel" href="${labels['base.path']}/${id}#services" class="btn btn-primary-outline" role="button"><span class="icon icon-back"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
            </div>
            <br>

            <div class="row">
                <#if errorMessage??>
                    <div id="alert" class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        <div class="text-center">${errorMessage}</div>
                    </div>
                </#if>
            </div>

            <div class="row">

                <#list serviceProviders?sort_by( "name") as serviceProvider>

                    <ul class="nav nav-stacked">

                        <#list serviceProvider.services?sort_by( "serviceName") as service>
                            <#if service.isActive>

                                <li>
                                    <form method="POST" action="${labels['base.path']}/${id!}/services">
                                        <input type="hidden" name="serviceKey" id="serviceKey" value="${service.key}" />
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <br>
                                                <h4 class="text-primary">${service.serviceName}</h4>
                                                <h4><small>${service.description}</small></h4>
                                                <br>
                                                <p class="pull-right">
                                                    <button type="submit" id="add-plan" class="btn btn-primary">${labels["add.service"]}</button>
                                                </p>

                                            </div>

                                        </div>
                                    </form>
                                </li>
                            </#if>

                        </#list>
                    </ul>

                </#list>
            </div>
        </div>

    </@t.page>