<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>
            <a href="/app/dashboard">
               ${messages["dashboard"]}
            </a>
        </li>
        <li>
            <a href="/app/connectors/salesforce">
               ${messages["connectors"]}
            </a>
        </li>
        <li>
            <a href="/app/scheduled-jobs">
                ${messages["scheduled.jobs"]}
            </a>
        </li>
        <li>
            <a href="/app/account-profile/${account.id}">
                ${messages["account.profile"]}
            </a>
        </li>
    </ul>
</div>