<!--
<div class="sidebar-nav">
    <nav class="navbar navbar-default" role="navigation">
        <div class="iconav-slider">
            <ul class="nav nav-pills iconav-nav">

                <li>
                    <a href="/app/connectors/salesforce" title="${salesforceConnectorsLabel}" data-toggle="tooltip" data-placement="right" data-container="body">
                        <small>${salesforceConnectorsLabel}</small></a>
                </li>

            </ul>
        </div>
    </nav>
</div>
-->

<ul class="nav nav-bordered nav-stacked">
    <li>
        <a href="${labels['base.path']}" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-database"><span class="iconav-nav-label">${labels["salesforce.connectors"]}</span></span>
        </a>
    </li>
</ul>    