<div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">

    <ul class="nav flex-column sidebar-nav">
        <li class="nav-item">
            &nbsp;
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="${links['dashboard']}">
               ${messages["dashboard"]}
            </a>
        </li>
        <li class="nav-item">
            &nbsp;
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="${links['connectors']}">
               ${messages["connectors"]}
            </a>
        </li>
        <li class="nav-item">
            &nbsp;
        </li> 
        <li class="nav-item menu-title text-muted">
            ${messages["scheduled.jobs"]}
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="${links['jobs']}">
                ${messages["jobs"]}
            </a>
        </li>
        <li class="nav-item">
            &nbsp;
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="${links['user.profile']}/${identity.id}">
                ${messages["user.profile"]}
            </a>
        </li>
    </ul>
</div>
</div>    