<#import "template.html" as t>
    <@t.page>

        <div class="row">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="${labels['base.path']}/${id}#environments" id="back" class="btn btn-lg btn-primary-outline" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.salesforce.connector"]}
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="dashhead">
                    <div class="dashhead">
                        <div class="dashhead-titles">
                            <h3 class="dashhead-title">${labels["sobjects"]}</h3>
                        </div>
                    </div>
                </div>
                <div class="hr-divider"></div>
                <br>
                <div id="sobjects">
                    <#list environment.sobjects?sort_by( "label") as sobject>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <#if icons[ "${sobject.name}"]??>
                                            <img src="${icons['${sobject.name}']}" />
                                        </#if>
                                        <#if ! icons[ "${sobject.name}"]??>
                                            <img src="/images/salesforce-logo.png" style="height:32px; width=32px" />
                                        </#if>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="${labels['base.path']}/${id}/environments/${environment.key}/sobject/${sobject.name}">${(sobject.label)!}</a></h4> ${(sobject.name)!}
                                    </div>
                                    <div class="media-right">
                                        <span class="icon icon-cog pull-right"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </#list>
                </div>
            </div>
        </div>

    </@t.page>