<#import "template.html" as t>
    <@t.page>

        <div>
            <a href="${labels['base.path']}/${id}/environments/${key}/sobjects" id="back" class="btn btn-sm btn-primary-outline" role="button"><span class="icon icon-back fa fa-1x"></span></a>&emsp;${labels["back.to.sobject.list"]}
        </div>
        <div class="flextable p-t">
            <div class="flextable-item flextable-primary">
                <div class="dashhead">
                    <div class="dashhead-titles">
                        <h6 class="dashhead-subtitle">${sobjectDetail.result.name}</h6>
                        <h3 class="dashhead-title">${sobjectDetail.result.label}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-divider"></div>


        <br>

        <div class="col-md-3">
            <p class="text-center">${labels["query"]}</p>
            <p class="text-center ${sobjectDetail.result.queryable?then('text-success', 'text-danger')}"><span class="icon ${sobjectDetail.result.queryable?then('icon-check', 'icon-cross')}"></span></p>
        </div>
        <div class="col-md-3">
            <p class="text-center">${labels["create"]}</p>
            <p class="text-center ${sobjectDetail.result.createable?then('text-success', 'text-danger')}"><span class="icon ${sobjectDetail.result.createable?then('icon-check', 'icon-cross')}"></span></p>
        </div>
        <div class="col-md-3">
            <p class="text-center">${labels["update"]}</p>
            <p class="text-center ${sobjectDetail.result.updateable?then('text-success', 'text-danger')}"><span class="icon ${sobjectDetail.result.updateable?then('icon-check', 'icon-cross')}"></span></p>
        </div>
        <div class="col-md-3">
            <p class="text-center">${labels["delete"]}</p>
            <p class="text-center ${sobjectDetail.result.deletable?then('text-success', 'text-danger')}"><span class="icon ${sobjectDetail.result.deletable?then('icon-check', 'icon-cross')}"></span></p>
        </div>

        <br>

        <div class="dashhead">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h4 class="dashhead-title">${labels["fields"]}</h4>
                </div>
            </div>
        </div>
        <div class="hr-divider"></div>
        <div id="fields">
            <table class="table">
                <thead>
                    <th>${labels["name"]}</th>
                    <th>${labels["label"]}</th>
                    <th>${labels["type"]}</th>
                    <th class="text-right">${labels["length"]}</th>
                    <th class="text-center">${labels["custom"]}</th>
                </thead>
                <tbody>
                    <#list sobjectDetail.result.fields as field>
                        <tr>
                            <td>${field.name}</td>
                            <td>${field.label}</td>
                            <td>${field.type}</td>
                            <td class="text-right">${field.length}</td>
                            <td class="text-center ${field.custom?then('text-success', '')}"><span class="icon ${field.custom?then('icon-check', '')}"></span></td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>

        <br>

        <div class="dashhead">
            <div class="dashhead">
                <div class="dashhead-titles">
                    <h4 class="dashhead-title">${labels["relationships"]}</h4>
                </div>
            </div>
        </div>
        <div class="hr-divider"></div>
        <div id="fields">
            <table class="table">
                <thead>
                    <th>${labels["field"]}</th>
                    <th>${labels["child.sobject"]}</th>
                    <th>${labels["relationship.name"]}</th>
                </thead>
                <tbody>
                    <#list sobjectDetail.result.childRelationships as relationship>
                        <tr>
                            <td>${relationship.field}</td>
                            <td>${relationship.childSObject}</td>
                            <td>${(relationship.relationshipName)!}</td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>
    </@t.page>