<#import "template-no-sidebar.html" as t>

    <@t.page>

        <nav id="top-nav" class="navbar navbar-expand-lg navbar-light bg-faded sticky-top">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">

                    </li>
                </ul>
                <#include "navbar-menu.html" />
            </div>
        </nav>

        <br>

        <div class="container mt-5">

            <div class="text-center">
                <h2>${labels["welcome"]}</h2>
                <p class="lead">${labels["welcome.text"]}</p>
            </div>

            <br>
            <hr>
            <br>

            <div class="card-deck">
                <div class="card">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-3">
                                <p class="text-primary"><span class="icon icon-database fa fa-4x"></span></p>
                            </div>
                            <div class="col-9">
                                <a href="${links['salesforce.connector']}" style="text-decoration:none;">
                                    <h4 class="card-title">${messages["connectors"]}</h4>
                                    <p class="card-text">${labels["connector.headline"]}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-3">
                                <p class="text-primary"><span class="icon icon-clock fa fa-4x"></span></p>
                            </div>
                            <div class="col-9">
                                <a href="${links['jobs']}" style="text-decoration:none;">
                                    <h4 class="card-title">${messages["scheduled.jobs"]}</h4>
                                    <p class="card-text">${labels["scheduled.jobs.headline"]}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-3">
                                <p class="text-primary"><span class="icon icon-gauge fa fa-4x"></span></p>
                            </div>
                            <div class="col-9">
                                <a href="/app/dashboard" style="text-decoration:none;">
                                    <h4 class="card-title">${messages["dashboard"]}</h4>
                                    <p class="card-text">${labels["dashboard.headline"]}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <br>
        <br>
        <br>

    </@t.page>