<#if mode=="edit">
    <div class="form-group">
        <label for="s3bucket">${labels["s3bucket"]}</label>
        <input type="text" class="form-control" name="bucketName" id="bucketName" value="${(serviceInstance.targets.simpleStorageService.bucketName)!}" />
    </div>
    <div class="form-group">
        <label for="awsAccessKey">${labels["aws.access.key"]}</label>
        <input type="text" class="form-control" name="awsAccessKey" id="awsAccessKey" value="${(serviceInstance.targets.simpleStorageService.awsAccessKey)!}" autocomplete="off" />
    </div>
    <div class="form-group">
        <label for="awsSecretAccessKey">${labels["aws.secret.access.key"]}</label>
        <input type="text" class="form-control" name="awsSecretAccessKey" id="awsSecretAccessKey" value="${(serviceInstance.targets.simpleStorageService.awsSecretAccessKey)!}" autocomplete="off" />
    </div>
</#if>

<#if mode=="view">

    <hr>
    <dt>${labels["s3bucket"]}</dt>
    <dd>${(serviceInstance.targets.simpleStorageService.bucketName)!}&emsp;</dd>


</#if>