<div class="col-12">
    <div class="flextable" style="height: 18px">
        <div class="flextable-item flextable-primary">
            <h4><b>${labels["user.profile"]}</b></h4>
        </div>
        <div class="flextable-item">
            <#if ! readonly>
                <button class="btn btn-link" id="editUserProfile"><span class="icon icon-pencil"></span></button>
            </#if>
        </div>
    </div>
    <hr>
    <div id="userView">
        <div class="row">
            <div class="col-3">
                <b>${labels["name"]}</b>
            </div>
            <div class="col-9">
                ${userProfile.name!}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <b>${labels["email"]}</b>
            </div>
            <div class="col-9">
                ${userProfile.email!}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <b>${labels["title"]}</b>
            </div>
            <div class="col-9">
                ${userProfile.title!}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <b>${labels["phone"]}</b>
            </div>
            <div class="col-9">
                ${userProfile.phone!}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <b>${labels["locale.key"]}</b>
            </div>
            <div class="col-9">
                ${locales[userProfile.locale]!}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <b>${labels["timezone.key"]}</b>
            </div>
            <div class="col-9">
                ${userProfile.timeZone.ID!}
            </div>
        </div>
        <hr>
    </div>
    <div id="userProfileEdit" class="hidden">
        <form class="form-vertical" name="profile-details" id="profile-details" role="form" method="post" action="${links['user.profile']}/${userProfile.id}">
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="firstName">${labels["first.name"]}</label></b>
                </div>
                <div class="col-4">
                    <input type="text" name="firstName" id="firstName" class="form-control" value="${userProfile.firstName!}" autofocus>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="lastName">${labels["last.name"]}</label></b>
                </div>
                <div class="col-4">
                    <input type="text" name="lastName" id="lastName" class="form-control" value="${userProfile.lastName!}" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="email">${labels["email"]}</label></b>
                </div>
                <div class="col-4">
                    <input type="text" name="email" id="email" class="form-control" value="${userProfile.email!}" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="phone">${labels["phone"]}</label></b>
                </div>
                <div class="col-4">
                    <input type="text" name="phone" id="phone" class="form-control" value="${userProfile.phone!}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="title">${labels["title"]}</label></b>
                </div>
                <div class="col-4">
                    <input type="text" name="title" id="title" class="form-control" value="${userProfile.title!}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="locale">${labels["locale.key"]}</label></b>
                </div>
                <div class="col-4">
                    <select id="locale" name="locale" class="form-control" required>
                        <#list locales?keys as key>
                            <#if userProfile.locale==key>
                                <option value="${key}" selected="selected">${locales[key]}</option>
                            </#if>
                            <#if userProfile.locale !=key>
                                <option value="${key}">${locales[key]}</option>
                            </#if>
                        </#list>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-3">
                    <b><label class="control-label" for="timeZone">${labels["timezone.key"]}</label></b>
                </div>
                <div class="col-4">
                    <select id="timeZone" name="timeZone" class="form-control" required>
                        <#list timeZones as timeZone>
                            <#if userProfile.timeZone.ID==timeZone>
                                <option value="${timeZone}" selected="selected">${timeZone}</option>
                            </#if>
                            <#if userProfile.timeZone.ID !=timeZone>
                                <option value="${timeZone}">${timeZone}</option>
                            </#if>
                        </#list>
                    </select>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
                <button class="btn btn-success" id="saveUserProfile">${labels["save"]}</button>
                <button class="btn btn-link" id="cancelUserProfile">${labels["cancel"]}</button>
            </div>
            <hr>
        </div>
    </div>
</div>