<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["name"]}</span>
    </div>
    <div class="col-9">
        ${userProfile.name!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["email"]}</span>
    </div>
    <div class="col-9">
        ${userProfile.email!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["title"]}</span>
    </div>
    <div class="col-9">
        ${userProfile.title!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <span class="grey-text">${labels["phone"]}</span>
    </div>
    <div class="col-9">
        ${userProfile.phone!}
    </div>
</div>