<div class="row">
    <div class="col-3">
        <b>${labels["street"]}</b>
    </div>
    <div class="col-9">
        ${(userProfile.address.street)!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <b>${labels["city"]}</b>
    </div>
    <div class="col-9">
        ${(userProfile.address.city)!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <b>${labels["state"]}</b>
    </div>
    <div class="col-9">
        ${(userProfile.address.state)!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <b>${labels["postal.code"]}</b>
    </div>
    <div class="col-9">
        ${(userProfile.address.postalCode)!}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        <b>${labels["country"]}</b>
    </div>
    <div class="col-9">
        ${(userProfile.address.country)!}
    </div>
</div>